
    $fallback-sans-serif: Helvetica, Arial, "Lucida Grande", sans-serif;
    $fallback-serif: Georgia, Times, 'Times New Roman', serif;

	@font-face {
	  font-family: 'HelveticaNeue-BoldCond';
	  src: url('../fonts/HelveticaNeue-BoldCond.eot?#iefix') format('embedded-opentype'),  url('../fonts/HelveticaNeue-BoldCond.otf')  format('opentype'),
			 url('../fonts/HelveticaNeue-BoldCond.woff') format('woff'), url('../fonts/HelveticaNeue-BoldCond.ttf')  format('truetype'), url('../fonts/HelveticaNeue-BoldCond.svg#HelveticaNeue-BoldCond') format('svg');
	  font-weight: normal;
	  font-style: normal;
	}
	
	@font-face {
	  font-family: 'BigNoodleTitling';
	  src: url('../fonts/big_noodle_titling.eot'); /* IE9 Compat Modes */
	  src: url('../fonts/big_noodle_titling.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		   url('../fonts/big_noodle_titling.woff') format('woff'), /* Modern Browsers */
		   url('../fonts/big_noodle_titling.ttf')  format('truetype'), /* Safari, Android, iOS */
		   url('../fonts/big_noodle_titling.svg#450ab03ba24b5555f90d646c7bc24441') format('svg'); /* Legacy iOS */
		   
	  font-style:   normal;
	  font-weight:  400;
	}


    body {
        font-family: 'BigNoodleTitling';
    }
