
    body {
        background: $body-bg;
    }

    .header {
        width: 100%;
        background: #091932;
        text-align:center;
        padding: 0px 0px 0px;
		height:auto;
		display:block;
		
		img{
			max-width:100%;	
		}
		
		
		
		&__sociallinks{
			font-size:0;
			
			li{
				display:inline-block;
				padding:0;
				margin:0;
				img{
					display:block;
					border:none;
					max-width:100%;
				}	
			}
		}

        &--thanks {
            padding: 0px 0px 0px;
        }

        @include media($to-medium) {
            background-position: -140px 0;
        }

        @include media($to-small) {
            background-image: none;
            text-align: center;
            padding: 0px 0px;
        }

        &__landing-title {
            display: inline-block;
            width: 100%; max-width: 311px;

            &__inner {
                width: 100%;
                padding-top: 145.667%;
                background: url(../images/landing-title.png) no-repeat center top/100% auto transparent;
            }

        }

        &__thanks-title {
            display: inline-block;
            width: 100%; max-width: 267px;
			

            &__inner {
                width: 100%;
                padding-top: 179.291%;
                background: url(../images/thanks-title.png) no-repeat center top/100% auto transparent;
            }

        }

    }

    .main {
        background-color: $main-bg;
    }

    .form {
		 
        &__intro {
            font-family: $fallback-sans-serif;
            font-size: rem(19);
            margin-bottom: 30px;
            padding: 20px 0 30px 0;
            position: relative;
			color:#000;
           border-bottom: 3px solid #0d79a7;

            @include media($to-small) {
                padding: 0 0 30px 0;
            }

            &__greeting {
                font-size: rem(22);
                font-weight: bold;
                margin-bottom: 26px;
            }

            strong {
                text-transform: uppercase;
                color: #0d79a7;
				font-style:italic;
				
            }

        }

        &__title {

            h1 {
                 font-family: 'BigNoodleTitling';
                font-size: rem(30);
                color: #0d79a7;
                margin: 0 0 20px 0;
				
            }

        }

        &__inner {
            padding: 10px 94px 0;
			

            @include media($to-medium) {
                padding: 30px 15px 0;
            }

        }
		
		&__border{
			width:100%;
			display:block;
			border-bottom: 3px solid #0d79a7;
		}

        &__group {
            margin-bottom: 14px;

            @include media($to-medium) {
                margin-bottom: 30px;
            }

            &--error {
                .form__group__label {
                    color: $label-error-color;
                    background-color: $label-error-bg;
                    padding-left: 10px;
                    .required { color: $label-error-color; }
                }
            }

            &__label {
                font-family: 'BigNoodleTitling';
                flex: 0 0 122px;
                font-size: rem(19);
                color: $label-color;
                text-transform: uppercase;
                text-align: right;
                line-height: 1;
                padding: 8px 12px 5px 0;
                margin-right: 19px;

                .required {
                    color: $red-color;
                }

                &[for='years_consecutive'] {
                    margin-top: -44px;

                    span {
                        font-size: rem(16);
                    }

                    @include media($to-medium) {
                        margin-top: 0;
                    }

                }

                @include media($to-medium) {
                    border: none;
                    margin-right: 0;
                }

            }

            &--select &__controls:after {
                color: #0d79a7;
				 font-family: $fallback-sans-serif;
            }

        }
		&__control--select {
			 font-family: $fallback-sans-serif;
		}

        &__control, &__select-label {
            font-family: $fallback-sans-serif;
            font-size: rem(16);
            color: $field-color;
            border-bottom: 1px solid $field-border-color;
            padding: 6px 0;
            transition: all 0.3s ease;
            @include placeholder { color: $field-placeholder-color; }

            &:focus {
                border-color: $field-focus-border-color;
            }

            &:disabled, &[readonly]:not(.datepicker-here) {
                opacity: 1;
                color: $field-disabled-color;
            }

            .form__group--error & {
                //border-color: $red-color;
            }

        }

        &__select-label {
            padding-top: 7px;
            padding-bottom: 6px;

            &--placeholder {
                color: rgba(#fff, 0.25);
            }

        }

        &__submit {
            width: 100%;
            text-align: center;
            margin: 45px 0 60px;

            &__button {
                width: 126px;
                background-color: #0e81b0;
                color: #fff;
				font-family: 'BigNoodleTitling';
                font-size: rem(24);
                text-transform: uppercase;
                text-align: center;
                padding: 8px 0;
                border: none;
                transition: 0.3s all ease;

                &:focus, &:active {
                    outline: 0;
                }

                &:hover {
					opacity:0.7;
         
                }

            }

            @include media($to-medium) {
                margin: 18px 0 40px;
            }

        }

        &__errors {
			font-family: $fallback-sans-serif;
            padding: 30px 65px;
            background-color: $errors-bg;
            color: $errors-color;

            @include media($to-medium) {
                padding: 30px;
            }

            strong {
                font-size: rem(20);
            }

        }

    }

    .footer {
		
        font-size: rem(11);
        background-color: $footer-bg;
        color: $footer-color;
        font-family: $fallback-sans-serif;
        text-align: center;
        padding: 0px 0px;
        line-height: 1.2;
		
		
		img {
                display: block;
                max-width: 100%;
            }

		
		&.thanks{
			
		}

        &__logo {
            width: 100%; max-width: 160px;
            margin: 0 auto 50px;

            img {
                display: block;
                max-width: 100%;
            }

        }

        p {
            margin: 0 0 5px 0;
        }

        &__sponsors {
            width: 100%; max-width: 716px;
            margin: 0 auto 40px;

            img {
                display: block;
                max-width: 100%;
            }

            @include media($to-medium) {
            }

            @include media($to-small) {
            }

        }

        a {
            color: $footer-color;
            transition: all 0.3s ease;

            &:hover {
                color: $footer-color-hover;
            }

        }

        @include media($to-small) {
            padding-bottom: 42px;
        }

        &__links {
            font-size: 0;

            li {
                display: inline-block;
                font-family: $fallback-sans-serif;
                font-size: rem(12);
                font-weight: bold;
                line-height: 1;
                padding: 0 10px;

                + li {
                    border-left: 1px solid $footer-color;
                }

                @include media($to-medium) {
                    width: 100%;
                    border: none !important;
                    margin: 4px 0;
                }

            }

        }

    }

    // datepicker

    .datepicker--cell.-current-,
    .datepicker--day-name {
        color: $primary-color;
    }
