@font-face {
  font-family: 'AvantGardeMdITCTT';
  src: url('AVANTGARDEMDITCTT.eot'); /* IE9 Compat Modes */
  src: url('AVANTGARDEMDITCTT.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('AVANTGARDEMDITCTT.woff') format('woff'), /* Modern Browsers */
       url('AVANTGARDEMDITCTT.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('AVANTGARDEMDITCTT.svg#db59b8131ab8fc81fa6a6aff84162172') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'AvantGardeMdITCTT';
  src: url('AVANTGARDEMDITCTTBOLD.eot'); /* IE9 Compat Modes */
  src: url('AVANTGARDEMDITCTTBOLD.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('AVANTGARDEMDITCTTBOLD.woff') format('woff'), /* Modern Browsers */
       url('AVANTGARDEMDITCTTBOLD.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('AVANTGARDEMDITCTTBOLD.svg#770c49618551a466be478e2a72de6345') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Essay Poster';
  src: url('Essay-Poster.eot'); /* IE9 Compat Modes */
  src: url('Essay-Poster.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Essay-Poster.woff') format('woff'), /* Modern Browsers */
       url('Essay-Poster.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Essay-Poster.svg#3824c02f176f364047c1cf0261d61c30') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

