
    .body-wrap {
        width: 100%;
        position: relative;
    }

    .container {
        @include outer-container;
        position: relative;
        z-index: 20;
        padding: 0 15px;

        @include media($to-xxxlarge) {

        }

    }

    .header, .footer, .main {
        position: relative;
    }

    .header {
        width: 100%;
        z-index: 10;
        background-color: #000;
        margin-bottom: 22px;
        height: 42px;
		margin-top: 41px;

        &__inner {
            @include outer-container;
            position: relative;
			text-align: right;
        }

        &__logo {
            width: 100%;
            max-width: 285px;
			position: absolute;
			right: 15px;
			top:-10px;
			

            img {
                display: block;
                width: 100%;
            }
			
			@include media($to-medium) {
 			max-width: 270px;
				top:-8px;
        }

        }

         

    }

    .main {
        z-index: 20;

        &__inner {
            display: flex;

            @include media($to-medium) {
                flex-flow: row wrap;
            }

        }

        &__sidebar {
            flex: 0 0 273px;
            position: relative;
            z-index: 20;
            text-align: center;

            &__player {
                position: absolute;
                top: -45px;
				left: -86px;
				width: 100%;

                &__inner {
                    width: 100%;
                    padding-top: 228.4375%;
                    background: url(../images/pendlebury-sidebar.png) no-repeat center top transparent;
                    background-size: 100% auto;
                }
				
				@include media($to-xxxlarge) {
					 width: 80%;
					left: 0px;
					 top: 45px;
					
				}
				
				@include media($to-xxlarge) {
					width: 70%;
					left:24px;
					 
					
				}

                @include media($to-medium) {
                    display: none;
                }

            }

            &__text {
                position: absolute;
                top: 61%; left: -7%;
                width: 125%;

                &__inner {
                    width: 100%;
                    padding-top: 56%;
                    background: url(../images/sidebar-text.png) no-repeat center top transparent;
                    background-size: 100% auto;
                }

                &--secondary {
                    position: relative;
                    top: auto; left: auto;
                    width: 100%; max-width: 248px;
                    margin-bottom: 13px;
                    display: none;

                    @include media($to-medium) {
                        display: inline-block;
                    }

                }

            }
			
			&__logo {
                position: absolute;
                top: 95%; left: 20%;
                width: 198px;
				@include media($to-xxxlarge) {
					
					left: 22px;
					
					
				}
				
				@include media($to-xxlarge) {
					
					left:6px;
					 
					
				}

                @include media($to-medium) {
                    display: none;
                }

				
				
				
				
			}
			
			

            @include media($to-medium) {
                flex: initial;
                width: 100%;
            }

        }

        &__content {
            width: 100%;
            background-color: #fff;
            padding: 30px;
            position: relative;
			margin-top: 43px;
            z-index: 10;

            &__inner {
                display: flex;
                flex-flow: row wrap;
                background-color: #fff;
            }

            &__column {
                width: 50%;
                padding: 20px;

                @include media($to-xlarge) {
                    width: 100%;
                }

                @include media($to-small) {
                    padding: 15px;
                }

            }

            @include media($to-medium) {
                width: 100%;
            }

            @include media($to-small) {
                padding: 10px;
            }

        }

    }

    .campaign {

        &__intro {
           
            font-size: rem(60);
			line-height: rem(51);
            color: $cfc-gold;
            letter-spacing: -1px;
            margin-top: 2px;
            margin-bottom: 14px;
			font-weight: bold;
			font-style: italic;
			text-align: center;

            @include media($to-xxlarge) {
                font-size: rem(40);
            }

            @include media($to-small) {
                font-size: rem(34);
            }

        }

        &__member-details {

            &__intro {
                font-size: rem(18);
				line-height: rem(21);
				text-align: center;
                padding-bottom:  15px;
				padding-top: 35px;
				border-bottom: 1px solid $cfc-gold;
				margin-bottom: 15px;
            }

            &__heading {
                font-weight: bold;
                font-size: rem(28);
                margin-bottom: 6px;
				text-align: center;
				color: $cfc-gold;
            }

            &__contact {
                font-size: rem(18);
                margin-bottom: 22px;
				text-align: center;
			     color: #000;
				
				line-height: rem(21);
				border-bottom: 1px solid $cfc-gold;
				padding-bottom:  15px;
				
				.name{
					
					font-family: 'Trade Gothic Bold2';
					font-weight: normal;
				}

                a {
                    color: #000;
                }

            }

            &__incorrect {
                font-size: rem(13);
                color: #000000;
				padding-top: 20px;
				text-align: center;
                a {
                    color: #000000;
                }

            }

        }

    }

    .membership {
        display: flex;
        text-align: center;

        &__inner, &__thanks {
            width: 100%;
            background-color:  $cfc-gold;
            padding: 20px;

            @include media($to-small) {
                padding: 15px;
            }

        }

        &__name {
            width: 100%; min-height: 110px;
            display: flex;
            align-items: center;

            &__inner {
               
                width: 100%;
                font-size: rem(65);
				line-height: rem(51);
                text-transform: uppercase;
				font-style: italic;
				color:#fff;
				font-weight:bold;

                @include media($to-xxlarge) {
                    font-size: rem(26);
                }

                @include media($to-xlarge) {
                    font-size: rem(36);
                }

                @include media($to-small) {
                    font-size: rem(26);
                }

            }

        }

        &__price {
            font-size: rem(63);
            line-height: rem(70);
            margin-bottom: 0px;
			text-transform: uppercase;
			font-style: italic;
			color:#fff;
			font-weight:bold;
        }

        &__term {
			font-size: rem(24);
            line-height: rem(28);
			text-transform: uppercase;
			font-style: italic;
			color:#fff;
			font-weight:bold;

            margin-bottom: 0px;
        }

        &__card-info {
            font-size: rem(13);
            color: tint(#fff, 100%);
   		
			max-width: 250px;
			margin: 34px auto 20px auto;
        }

        &__buttons {
            width: 100%;

            button {
                width: 100%;
				max-width: 245px;
                display: inline-block;
                text-align: center;
                line-height: 1;
                @include appearance(none);
            }

            &__renew {
              	font-size: rem(44);
				line-height: rem(53);
				text-transform: uppercase;
				font-style: italic;
				color:#fff;
                background: #3c3c3c;
                border: none;
                color: #fff;
                font-weight:bold;
                letter-spacing: 0px;
                padding: 6px 0 6px 0;
                margin-bottom: 15px;
                transition: all 0.3s ease;
				border: 1px solid #fff;

                &:hover {
                    background-color: $cfc-gold;
                }

                @include media($to-xxlarge) {
                    font-size: rem(26);
                }

                @include media($to-small) {
                    font-size: rem(22);
                }

            }

            &__decline {
               	font-size: rem(21);
				line-height: rem(24);
				text-transform: uppercase;
				font-style: italic;
				color:#fff;
				border: 1px solid #fff;
                max-width: 105px!important;
				font-weight:bold;
                background: none;
                padding: 5px 0 5px 0;
                margin-bottom: 20px;
                transition: all 0.3s ease;

                &:hover {
                    background-color: #3c3c3c;
                    color: #fff;
                }

            }

        }

        &__incorrect-card {
            font-size: rem(13);
            color: #fff;
			padding-top: 20px;

            a {
                font-weight: 700;
                color: #fff;
                transition: all 0.3s ease;

                &:hover {
                    color: #000;
                    text-decoration: none;
                }

            }

        }

        &__thanks {
            display: flex;
            align-items: center;
            justify-content: center;

            &__inner {
                font-size: rem(52);
				line-height: rem(45);
				text-transform: uppercase;
				font-style: italic;
				font-weight: bold;
				color:#fff;
               

                @include media($to-xxlarge) {
                    font-size: rem(26);
                }

                @include media($to-xlarge) {
                    font-size: rem(36);
                }

                @include media($to-small) {
                    font-size: rem(26);
                }

            }

            &__left {

                @include media($to-medium) {
                    display: none;
                }

            }

        }

    }

    .footer {
        width: 100%;

        &__inner {
            @include outer-container;
            width: 100%;
            text-align: center;
            padding: 40px 17px 30px 305px;

            @include media($to-medium) {
                padding: 20px 15px 30px 15px;
            }

        }

        &__tagline {
            @extend %liberator-light;
            font-size: rem(21);
            line-height: 0.9523;
            color: $cfc-gold;
            text-transform: uppercase;
            margin-bottom: 62px;

            @include media($to-xlarge) {

                br { display: none; }

            }

            @include media($to-medium) {
                margin-bottom: 30px;
            }

        }

        &__bottom {
            font-size: rem(12);
            color: #808285;

            a {
                color: #808285;
                transition: all 0.3s ease;

                &:hover {
                    color: $cfc-gold;
                    text-decoration: none;
                }

            }

        }

    }

    .modal {
        position: fixed;
        top: 0; left: 0;
        width: 100%; height: 100%;
        background-color: rgba(#000, 0.75);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 9999;
        overflow-y: auto;
        padding: 30px;
        transition: all 0.3s ease;

        &--hidden {
            visibility: hidden;
            opacity: 0;

            .modal__inner {
                transform: scale(1.1);
            }

        }

        &__title {
            
            font-size: rem(34);
			line-height: rem(31);
            text-transform: uppercase;
            color: $cfc-gold;
            margin: 0 0 30px 0;
			font-weight: bold;
			font-style: italic;
            text-align: center;
        }

        &__inner {
            width: 100%; max-width: 680px;
            background-color: #fff;
            padding: 40px;
            box-shadow: 5px 5px 20px rgba(#000, 0.2);
            transform: scale(1);
            transition: all 0.3s ease;

            @include media($to-medium) {
                margin: 0 auto;
                padding: 50px 20px 20px;
            }

        }

        &__errors {
            background-color: $dogs-red;
            color: #fff;
            width: 100%;
            display: inline-block;
            margin: 0 0 30px 0;
            padding: 20px;

            &--hidden {
                display: none;
            }

            &__title {
                font-weight: 700;
                margin-bottom: 10px;
            }

        }

        &__options {
            width: 100%;

            &__option {
                width: 100%;
                position: relative;

                & + li {
                    border-top: 1px solid #808285;
                }

                label {
                    display: block;
                    padding: 20px 40px 20px 0;
                    cursor: pointer;
					font-size:rem(17);
                    span {
						font-family: 'Trade Gothic Bold2';
                        color: $cfc-gold;
                    }

                }

                input[type='radio'] {
                    display: none;
                    @include appearance(none);

                    &:checked + .checkbox {
                        background-color: $cfc-gold;
                    }

                }

                input[type='text'] {
                    display: inline-block;
                    width: 70%;
                    border: 1px solid #808285;
                    padding: 5px;
                    margin: 0 0 0 20px;
                }

                .checkbox {
                    position: absolute;
                    top: 50%; right: 0;
                    width: 26px; height: 26px;
                    margin: -13px 0 0 0;
                    border: 1px solid #808285;
                    transition: all 0.3s ease;

                    &:before {
                        content: '';
                        position: absolute;
                        top: 50%; left: 50%;
                        width: 18px; height: 14px;
                        margin: -7px 0 0 -9px;
                        background: url(../images/tick.svg) no-repeat center center transparent;
                        background-size: 100% auto;
                    }

                }

            }

        }

        &__close {
            position: absolute;
            top: 0; right: 0;
            width: 38px; height: 38px;
            background: none; border: none;
            text-indent: -9999em;

            &:before {
                content: '';
                position: absolute;
                top: 50%; left: 50%;
                width: 14px; height: 14px;
                margin: -7px 0 0 -7px;
                background: url(../images/close-button.svg) no-repeat center center transparent;
                background-size: 100% auto;
            }

            &:focus, &:active {
                outline: 0;
            }

        }
		

        &__response {
            font-size: rem(18);
            color: $dogs-blue;
            font-weight: 700;
        }

        &__submit {
            width: 100%;
            text-align: right;
            margin-top: 20px;

            &__button {
                width: 135px;
                display: inline-block;
                background: $cfc-gold;
                color: #fff;
                font-size: rem(28);
                text-transform: uppercase;
                border: none;
                padding: 0px 20px 0px 20px;
                transition: all 0.3s ease;
				
				font-weight: bold;
				font-style: italic;
				text-align: center;

                &:hover {
                    background-color: #000;
                }

                &:active, &:focus {
                    outline: 0;
                }

            }

        }

        @include media($to-medium) {
            display: block;
        }

    }
