
    .header {

        &__landing {
            width: 100%;
            padding-top: 77.435897435897%;
            background: url(../images/header-bg-large.jpg) no-repeat center top;
            background-size: 100% auto;

            @include media($to-small) {
                background-image: url(../images/header-bg-small.jpg);
                padding-top: 77.5%;
            }

        }

        &__thanks {
            width: 100%;
            padding-top: 77.884615384615%;
            background: url(../images/thanks-bg-large.jpg) no-repeat center top;
            background-size: 100% auto;

            @include media($to-small) {
                background-image: url(../images/thanks-bg-small.jpg);
                padding-top: 77.5%;
            }

        }

    }

    .form {

        &__title {
            width: 100%; max-width: 188px;
            margin: 33px 0 52px 0;

            img {
                display: block;
            }

        }

        &__inner {
            padding: 30px 65px 0;

            @include media($to-medium) {
                padding: 30px 30px 0;
            }

        }

        &__group {
            margin-bottom: 10px;

            &--error {
                border-color: $red-color;
                .form__group__label {
                    color: $red-color;
                    background-color: #000;
                    padding-left: 10px;
                }
            }

            &__label {
                flex: 0 0 150px;
                font-size: rem(20);
                color: #000;
                text-transform: uppercase;
                text-align: right;
                line-height: 1;
                padding: 10px 10px 10px 0;

                .required {
                    position: relative;
                    top: auto; right: auto;
                    display: inline;
                }

                @include media($to-medium) {
                    border: none;
                }

            }

        }

        &__control, &__select-label {
            font-size: rem(20);
            color: #caccce;
            border-bottom: 1px solid $secondary-color;
        }

        &__control, &__select-label {
            padding: 6px 0;
            transition: all 0.3s ease;
            @include placeholder { color: rgba(#000, 0.25); }

            &:focus {
                border-color: #caccce;
            }

            &:disabled, &[readonly] {
                opacity: 1;
                color: rgba(#000, 0.5);
            }

            .form__group--error & {
                //border-color: $red-color;
            }

        }

        &__select-label {
            padding-top: 7px;
            padding-bottom: 6px;

            &--placeholder {
                color: rgba(#000, 0.25);
            }

        }

        &__submit {
            width: 100%;
            text-align: center;
            margin: 55px 0 76px;

            &__button {
                width: 206px; height: 56px;
                background: url(../images/submit-button.svg) no-repeat center center;
                background-size: 100% auto;
                border: none;
                text-indent: -9999em;

                &:focus, &:active {
                    outline: 0;
                }

            }

            @include media($to-medium) {
                margin: 18px 0 40px;
            }

        }

        &__errors {
            padding: 30px 65px;
            background-color: #000;
            border-top: 20px solid #fff;
            border-bottom: 20px solid #fff;

            strong {
                color: $primary-color;
            }

            @include media($to-medium) {
                padding: 30px;
            }

        }

    }

    .main {
        background-color: $primary-color;
    }

    .footer {

        &__sponsors {
            width: 100%; height: 194px;
            background: url(../images/footer-sponsors.png) no-repeat right top;
            background-size: auto 194px;
        }

        &__disclaimer {
            background-color: #000;
            color: #fff;
            font-size: rem(11);
            line-height: 1.6;
            padding: 30px 60px;
            border-top: 1px solid $primary-color;

            p {
                margin: 0 0 1.6em 0;
                &:last-child { margin-bottom: 0; }
            }

            a {
                color: #fff;
                text-decoration: underline;
                transition: color 0.3s ease;

                &:hover {
                    color: $primary-color;
                }

            }

            @include media($to-medium) {
                padding: 20px 30px;
            }

        }


    }

    // datepicker

    .datepicker--cell.-current-,
    .datepicker--day-name {
        color: $primary-color;
    }
