
    .modal {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0; left: 0;
        width: 100%; height: 100%;
        padding: 30px;
        z-index: 9999;
        visibility: hidden;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;

        @include media($to-medium) {
            padding: 15px;
        }

        &[data-visible='true'] {
            visibility: visible;
        }

        &__overlay {
            position: fixed;
            top: 0; left: 0;
            width: 100%; height: 100%;
            background-color: rgba(#000, 0.5);
            z-index: 10;
            visibility: hidden;
            opacity: 0;

            .modal[data-visible='true'] & {
                visibility: visible;
                opacity: 1;
            }
        }

        &__body {
            position: relative;
            width: 100%; max-width: 656px;
            z-index: 20;
            padding: 40px 40px 20px 40px;
            transform: scale(0.9);
            //transform: perspective(1000px) rotateX(-20deg);
            //transform-origin: 50% 0%;
            visibility: hidden;
            opacity: 0;
            color: #fff;
            margin: auto 0;
            background-color: $wb-red;
            text-align: center;

            @include media($to-medium) {
                padding: 30px 20px 30px 20px;
            }

            &[data-button-visible='false'] {
                padding-bottom: 50px;

                @include media($to-medium) {
                    padding-bottom: 10px;
                }

            }

            .modal[data-visible='true'] & {
                transition: 0.3s all ease;
                visibility: visible;
                opacity: 1;
                transform: scale(1);
                //transform: perspective(1000px) rotateX(0);
            }

            .modal--small & {
                max-width: 500px;
            }

            h1 {
                font-size: rem(50);
                text-transform: uppercase;
                line-height: 1;
                margin: 0 0 30px;
                padding-right: 50px;

                @include media($to-medium) {
                    font-size: rem(36);
                }

                @include media($to-small) {
                    font-size: rem(26);
                }

            }

            h2 {
                font-size: rem(18);
                line-height: 1.333;
                margin: 0 0 30px;

                @include media($to-medium) {
                    font-size: rem(16);
                }

            }

            p {
                font-size: rem(16);
                line-height: 1.333;
                margin: 0 0 1.333em;

                @include media($to-medium) {
                    font-size: rem(14);
                }

                &:last-child {
                    margin: 0;
                }
            }

        }

        &__title {
            width: 100%;
            font-size: rem(35);
            color: $wb-blue;
            line-height: 0.86;
            text-align: center;
            text-transform: uppercase;
            margin: 0 0 30px;
        }

        &__close {
            position: absolute;
            top: 0; right: 0;
        }

        &__button {
            width: 100%;
            text-align: center;
            margin: 30px 0 0;

            .button {
                display: inline-block;
                padding: 9px 40px;
                font-size: rem(18);
                color: #fff;
                font-weight: 700;
                background: $wb-blue;
                border: none;

                @include media($to-medium) {
                    width: 100%;
                }

            }

        }

        &__content {
            p { font-size: rem(30); }
        }

    }
