
@font-face {
    font-family:"IndustryIncBase";
    src:url("IndustryInc-Base.woff2") format("woff2"),url("IndustryInc-Base.woff") format("woff"),url("IndustryInc-Base.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        