
@font-face {
    font-family:"ITCAvantGardeStd-Bk";
    src:url("ITCAvantGardeStd-Bk.woff2") format("woff2"),url("ITCAvantGardeStd-Bk.woff") format("woff"),url("ITCAvantGardeStd-Bk.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        