
@font-face {
    font-family:"ITCAvantGardeStd-Bold";
    src:url("ITCAvantGardeStd-Bold.woff2") format("woff2"),url("ITCAvantGardeStd-Bold.woff") format("woff"),url("ITCAvantGardeStd-Bold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        