
    body {
        background: $body-bg;
    }

    .header {
        width: 100%;
        background: $header-bg;
        text-align: left;
        padding: 0px 23px 0px;
		position:relative;

        &--thanks {
            padding: 17px 61px 21px;
        }

        @include media($to-medium) {
            background-position: -140px 0;
        }

        @include media($to-small) {
            background-image: none;
            text-align: center;
            padding: 30px 15px;
        }

        &__landing-title {
            display: inline-block;
            width: 100%; max-width: 529px;

            &__inner {
                width: 100%;
                padding-top: 129.667%;
                background: url(../images/landing-title.png) no-repeat center top/100% auto transparent;
				
				
				@include media($to-small) {
					 padding-top: 57.667%;
				}
            }

        }
		
		&__logo{
			display: inline-block;
             max-width: 232px;
            padding-top: 90%;
			width:100%;
			position: absolute;
			right: 36px;
			 background: url(../images/logo.png) no-repeat center bottom/100% auto transparent; 
			 
			 @include media($to-medium) {
				 display: none;
			}

			
		}

        &__thanks-title {
            display: inline-block;
            width: 100%; max-width: 653px;

            &__inner {
                width: 100%;
                padding-top: 88.291%;
                background: url(../images/thanks-title.png) no-repeat center top/100% auto transparent;
				@include media($to-small) {
					 padding-top: 40.667%;
				}
            }

        }

    }

    .main {
        background-color: #000000;
    }

    .form {

        &__intro {
            font-family: $fallback-sans-serif;
            font-size: rem(19);
            margin-bottom: 50px;
            padding: 0 0 40px 0;
            position: relative;
            border-bottom: 1px solid $secondary-color;

            @include media($to-small) {
                padding: 0 0 30px 0;
            }

            &__greeting {
                font-size: rem(19);
                font-weight: bold;
                margin-bottom: 26px;
            }

            strong {
                text-transform: uppercase;
                color: $secondary-color;
            }

        }

        &__title {

            h1 {
                @extend %gover-bb; 
                font-size: rem(37);
                color: #ffb81c;
                margin: 0 0 15px 0;
            }

        }

        &__inner {
            padding: 0px 94px 0;

            @include media($to-medium) {
                padding: 30px 15px 0;
            }

        }

        &__group {
            margin-bottom: 14px;

            @include media($to-medium) {
                margin-bottom: 30px;
            }

            &--error {
                .form__group__label {
                    color: $label-error-color;
                    background-color: $label-error-bg;
                    padding-left: 10px;
                    .required { color: $label-error-color; }
                }
            }

            &__label {
                
                flex: 0 0 117px;
                font-size: rem(17);
				font-weight:bold;
                color: #fff;
                text-transform: uppercase;
                text-align: right;
                line-height: 1;
                padding: 9px 12px 6px 0;
                margin-right: 19px;

                .required {
                    color: $red-color;
                }

                &[for='years_consecutive'] {
                    margin-top: -44px;

                    span {
                        font-size: rem(16);
                    }

                    @include media($to-medium) {
                        margin-top: 0;
                    }

                }

                @include media($to-medium) {
                    border: none;
                    margin-right: 0;
                }

            }

            &--select &__controls:after {
                color: #fff;
            }

        }

        &__control, &__select-label {
            font-family: $fallback-sans-serif;
            font-size: rem(16);
            color: #fff;
            border-bottom: 1px solid $field-border-color;
            padding: 6px 0;
            transition: all 0.3s ease;
            @include placeholder { color: $field-placeholder-color; }

            &:focus {
                border-color: $field-focus-border-color;
            }

           
			&:disabled, &[readonly]:not(.datepicker-here) {
                opacity: 1;
                color: $field-disabled-color;
            }

            .form__group--error & {
                //border-color: $red-color;
            }

        }

        &__select-label {
            padding-top: 7px;
            padding-bottom: 6px;

            &--placeholder {
                color: rgba(#000, 0.25);
            }

        }

        &__submit {
            width: 100%;
            text-align: center;
            margin: 45px 0 0px;

            &__button {
                @extend %gover-bb; 
                width: 200px;
                background-color:  $primary-color;
                color: #fff;
                font-size: rem(26);
                text-transform: uppercase;
                text-align: center;
                padding: 6px 0;
                border: none;
                transition: 0.3s all ease;

                &:focus, &:active {
                    outline: 0;
                }

                &:hover {
                    background-color: #0b2240;
                }

            }

            @include media($to-medium) {
                margin: 18px 0 40px;
            }

        }

        &__errors {
            padding: 30px 65px;
            background-color: $errors-bg;
            color: $errors-color;

            @include media($to-medium) {
                padding: 30px;
            }

            strong {
                font-size: rem(20);
            }

        }

    }

    .footer {
        font-size: rem(11);
        background-color: $footer-bg;
        color: $footer-color;
        font-family: $fallback-sans-serif;
        text-align: center;
        padding: 0px 0 30px 0;
        line-height: 1.2;

        &__logo {
            width: 100%; max-width: 160px;
            margin: 0 auto 50px;

            img {
                display: block;
                max-width: 100%;
            }

        }

        p {
            margin: 0 0 5px 0;
        }

        &__sponsors {
			background-color: #000000;
            width: 100%; max-width: 780px;
            margin: 0 auto 40px;

            img {
                display: block;
                max-width: 100%;
            }

            @include media($to-medium) {
            }

            @include media($to-small) {
            }

        }

        a {
            color: $footer-color;
            transition: all 0.3s ease;

            &:hover {
                color: #0b2240;
            }

        }

        @include media($to-small) {
            padding-bottom: 42px;
        }

        &__links {
            font-size: 0;

            li {
                display: inline-block;
                font-family: $fallback-sans-serif;
                font-size: rem(12);
                font-weight: bold;
                line-height: 1;
                padding: 0 10px;

                + li {
                    border-left: 1px solid $footer-color;
                }

                @include media($to-medium) {
                    width: 100%;
                    border: none !important;
                    margin: 4px 0;
                }

            }

        }

    }

    // datepicker

    .datepicker--cell.-current-,
    .datepicker--day-name {
        color: $primary-color;
    }
