
    body {
        background: $body-bg;
        background-attachment: fixed;
        color: #fff;
    }

    .header {
        width: 100%;
        position: relative;
        padding: 105px 30px 0;
        margin: 0 0 107px;

        h1 {
            @extend %artegra-extrabold-italic !optional;
            font-size: rem(75);
            color: $ess-grey;
            text-transform: uppercase;
            line-height: 1;
            letter-spacing: -0.05em;
            margin: 0;

            @include media($to-medium) {
                font-size: rem(60);
            }

            @include media($to-small) {
                font-size: rem(40);
            }

        }

        @include media($to-medium) {
            padding: 45px 30px 0;
            margin: 0 0 80px;
        }

        @include media($to-small) {
            padding: 30px 30px 0;
            margin: 0 0 50px;
        }

    }

    .current-package {
        text-align: center;
        padding: 0 30px;
        margin: 0 0 80px;

        @include media($to-xsmall) {
            margin: 0 0 50px;
        }

        &__inner {
            transition: all 0.3s ease;
            display: inline-block;
            @extend %artegra-extrabold-italic !optional;
            font-size: rem(50);
            color: $ess-grey;
            text-transform: uppercase;
            line-height: 1;
            letter-spacing: -0.05em;
            border: 6px solid $ess-grey;
            padding: 40px 40px 94px;
            position: relative;

            .current-package[data-selected='true'] & {
                border-color: $ess-red;
            }

            @include media($to-small) {
                font-size: rem(40);
                padding: 30px 30px 84px;
            }

            @include media($to-xsmall) {
                font-size: rem(30);
            }
        }

        &__checkbox {
            position: absolute;
            bottom: 16px; right: 16px;
        }

    }

    .member-choice {
        width: 100%;
        padding: 0 15px 0;
        position: relative;

        @include media($to-medium) {
            //padding: 30px 15px 50px;
        }

        &__inner {
            @extend %inner !optional;
            border-top: 3px solid $ess-red;
            border-bottom: 3px solid $ess-red;
            padding-top: 56px;
            padding-bottom: 48px;

            p {
                margin-bottom: 48px;
            }
        }

        &__tiles {
            width: calc(100% + 60px);
            margin-left: -30px;
            text-align: center;
            font-size: 0;

            @include media($to-small) {
                width: 100%;
                margin-left: 0;
            }
        }

        &__tile {
            display: inline-block;
            vertical-align: middle;
            width: 100%; max-width: 262px;
            min-height: 150px;
            position: relative;
            background-color: $ess-grey;
            margin: 12px;
            color: #000;
            padding: 24px 18px 18px 158px;
            font-size: 1rem;
            text-align: left;

            @include media($to-small) {
                max-width: 400px;
                margin: 12px 0;
            }

            &:before {
                content: '';
                position: absolute;
                top: -8px; left: -8px;
                width: calc(100% + 16px); height: calc(100% + 16px);
                border: 8px solid transparent;
                pointer-events: none;
                transition: all 0.3s ease;
                z-index: 10;
            }

            &[data-selected='true']:before {
                border-color: $ess-red;
            }

            &__image {
                position: absolute;
                top: 50%; left: 36px;
                width: 110px; height: 110px;
                transform: translateY(-50%);
                background: no-repeat center center/contain transparent;
                pointer-events: none;

                &.beanie { background-image: url(../../images/member-beanie.png); }
                &.cap { background-image: url(../../images/member-cap.png); }
                &.hood_youth { background-image: url(../../images/member-hood-youth.png); }
                &.hood_adult { background-image: url(../../images/member-hood-adult.png); }
                &.polo { background-image: url(../../images/member-polo.png); }

            }

            &__name {
                @extend %artegra-bold !optional;
                font-size: rem(20);
                line-height: 0.9;
                text-transform: uppercase;
                color: $ess-red;
                min-height: 36px;
                margin: 0 0 10px;
            }

            &__price {
                font-size: rem(32);
                line-height: 0.9;
                text-transform: uppercase;
                margin: 0 0 10px;

                span {
                    font-size: rem(20);
                    position: relative;
                    top: -6px;
                }

            }

            &__checkbox {
                position: absolute;
                top: 50%; left: 4px;
                transform: translateY(-50%);
            }

            &__dropdown {
                width: 100%;
                border: 1px solid #000;
                position: relative;

                select {
                    @include appearance(none);
                    width: 100%;
                    background: $ess-grey;
                    border: none;
                    font-size: rem(13);
                    padding: 0 5px;
                    cursor: pointer;

                    &:focus, &:active {
                        outline: 0;
                    }

                }

                svg {
                    position: absolute;
                    top: 8px; right: 4px;
                    width: 10px;
                    pointer-events: none;
                }

            }

        }

    }

    .add-ons {
        width: 100%;
        padding: 0 15px;
        margin: 0 0 61px;
        position: relative;

        &__inner {
            @extend %inner !optional;
            border-top: 3px solid $ess-red;
            padding-top: 45px;

            h2 {
                margin-bottom: 38px;
            }
        }

        &__tiles {
            width: 100%;
            text-align: center;
            display: flex;
            justify-content: center;
            flex-flow: row wrap;
        }

        &__tile {
            transition: all 0.3s ease;
            width: 100%; max-width: 360px;
            margin: 0 0 30px;
            background-color: #000;
            padding: 76px 80px 66px 25px;
            margin: 12px;
            position: relative;
            border: 5px solid $ess-grey;
            text-align: left;

            @include media($to-small) {
                max-width: 400px;
                margin: 12px 0;
                padding: 76px 20px 66px;
            }

            &[data-selected='true'] {
                border-color: $ess-red;
            }

            &:before {
                content: '';
                position: absolute;
                top: 25px; left: 25px;
                width: 110px; height: 34px;
                background: url(../../images/yes-grey.svg) no-repeat center top/100% auto transparent;

                @include media($to-small) {
                    left: 16px;
                }
            }

            &__name {
                @extend %artegra-bold-italic !optional;
                position: absolute;
                top: 11px; right: 24px;
                font-size: rem(48);
                color: $ess-red;
                text-transform: uppercase;

                @include media($to-small) {
                    top: 32px; right: 16px;
                    font-size: rem(26);
                }
            }

            &__desc {
                @extend %artegra-light !optional;
                font-size: rem(16);
                line-height: 1.1875;
                flex-grow: 1;
            }

            &__checkbox {
                position: absolute;
                bottom: 16px; right: 16px;
            }

            &__price {
                position: absolute;
                bottom: 16px; left: 23px;
                font-size: rem(30);
                color: $ess-grey;
            }

        }

    }

    .total-addons {
        text-align: center;
        line-height: 1;
        padding: 0 30px 0;
        margin: 0 0 72px;

        h2 {
            margin: 0 0 18px !important;
        }

        &__amount {
            @extend %artegra-bold !optional;
            font-size: rem(58);
            color: $ess-grey;

            &__main {
                margin: 0 0 18px;
            }

            &__first-instalment, &__discount {
                @extend %artegra !optional;
                font-size: rem(16);
                margin: 0 0 8px;
            }
        }

    }

    .main {
        background-color: $main-bg;

        &__inner {
            @extend %inner !optional;
        }

        h2 {
            @extend %artegra-bold !optional;
            width: 100%;
            font-size: rem(28);
            font-weight: 700;
            line-height: 1.2;
            color: $ess-grey;
            margin: 0 0 10px;
            text-align: center;
        }

        h3 {
            @extend %artegra-extrabold !optional;
            font-size: rem(18);
            width: 100%;
            text-align: center;
            margin: -24px 0 50px;
            text-transform: none;
            font-weight: normal;
            line-height: 1.2;

            a {
                color: inherit;
            }

        }

        p {
            font-size: rem(16);
            text-align: center;
            margin: 0 0 16px;
        }

        a {
            color: inherit;
        }

    }

    .no-thanks {
        text-align: center;
        margin: 0 0 68px;

        &__button {
            display: inline-block;
            background: none;
            border: 2px solid $ess-grey;
            @extend %artegra-bold-italic !optional;
            font-size: rem(15);
            color: $ess-grey;
            text-transform: uppercase;
            padding: 4px 24px;
        }

    }

    .no-thanks-modal {

        .modal__title {
            font-size: rem(36);
        }

        &__options {

            li {
                display: flex;
                font-size: rem(22);
                text-align: left;
                position: relative;
                padding: 25px 60px 25px 0;
                align-items: center;

                span {
                    display: inline-block;
                    color: $ess-red;
                    margin-right: 5px;
                }

                & + li {
                    border-top: 2px solid $ess-red;
                }

                .checkbox {
                    position: absolute;
                    top: 50%; right: 0;
                    transform: translateY(-50%);
                }

                input {
                    flex-grow: 1;
                    margin-left: 20px;
                    background: none;
                    border: 1px solid $ess-red;
                    padding: 10px 15px;
                    font-size: rem(14);

                    &:focus {
                        outline: 0;
                        border-color: #000;
                    }
                }

            }

        }

    }

    .thanks {
        position: fixed;
        top: 50%; left: 50%;
        width: 100%; max-width: 600px;
        transform: translate(-50%, -50%);
        text-align: center;
        padding: 0 30px;

        &__title {
            @extend %artegra-extrabold !optional;
            font-size: rem(80);
            color: $ess-grey;
            text-transform: uppercase;
            margin-bottom: 26px;
            line-height: 1;

            @include media($to-small) {
                font-size: rem(50);
            }
        }

        p {
            display: block;
            font-size: rem(26);
            line-height: 1.375;
            margin: 0 auto 40px;
            max-width: 500px;

            @include media($to-small) {
                font-size: rem(18);
            }
        }

        &__banner {
            width: 100%; max-width: 485px;
            margin: 0 auto;

            &__inner {
                width: 100%;
                padding-top: 18.556701030927835%;
                background: url(../../images/thanks-banner.svg) no-repeat center top/100% auto transparent;
            }
        }

    }

    .form {

        &__submit {
            width: 100%;
            text-align: center;
            margin: 0 0 0;
            padding: 44px 0 0;
            margin: 0 0 44px;
            position: relative;

            &__inner {
                @extend %inner !optional;
            }

            &__note {
                margin: 0 0 20px;
            }

            &__accept, &__change-details {
                font-size: rem(16);
                line-height: 1.2;
                position: relative;
                text-align: center;
                margin: 0 0 20px;

                a {
                    color: #fff;
                }

                .checkbox {
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 14px;
                    position: relative;
                    top: -3px;
                }

            }

            &__button {
                @extend %artegra-bold-italic !optional;
                display: inline-block;
                background: $ess-grey;
                border: none;
                transition: 0.3s all ease;
                font-size: rem(30);
                font-weight: 700;
                color: $ess-red;
                text-transform: uppercase;
                text-align: center;
                padding: 27px 16px 25px 150px;
                margin: 32px 0 0;
                line-height: 1;
                position: relative;

                &:before {
                    content: '';
                    position: absolute;
                    top: 50%; left: 15px;
                    width: 124px; height: 38px;
                    transform: translateY(-50%);
                    background: url(../../images/yes-black.svg) no-repeat center top/100% auto transparent;
                }

                @include media($to-medium) {
                    font-size: rem(30);
                }

                &:focus, &:active {
                    outline: 0;
                }

                &:hover {
                    background-color: shade($ess-grey, 15%);
                }

                &:disabled {
                    opacity: 0.25;
                }

            }

        }

        &__errors {
            padding: 30px 65px;
            background-color: $errors-bg;
            color: $errors-color;
            margin: 40px 0 40px;

            @include media($to-medium) {
                padding: 30px;
            }

            strong {
                font-size: rem(20);
            }

        }

    }

    .footer {
        margin-bottom: 250px;

        &__inner {
            @extend %inner !optional;
            border-top: 3px solid $ess-red;
            text-align: center;
            padding-top: 42px;
        }

        &__don-the-sash {
            display: inline-block;
            width: 278px; height: 100px;
            background: url(../../images/don-the-sash.svg) no-repeat center top/100% auto transparent;
            font-size: 0;
            text-indent: -9999em;
        }

    }

    .player-bg {
        position: fixed;
        top: 70px; left: 890px;
        width: 799px; height: 2017px;
        background: url(../../images/player-bg.png) no-repeat center top/100% auto transparent;

        @include media($to-xxxlarge) {
            width: 500px;
        }

        @include media($to-xxlarge) {
            width: 400px;
            left: 880px;
        }

        @include media($to-xlarge) {
            display: none;
        }
    }
