
    body {
        background-color: #fff;
    }

    .header {
        position: relative;
        width: 100%; height: 550px;
        background: url(../images/header-bg.jpg) no-repeat center top;
        background-size: cover;
        overflow: hidden;

        &--thanks {
            height: 656px;
        }

        @include media($to-small) {
            height: auto;
            padding: 27px 20px 10px 20px;
            text-align: center;
        }

        &__landing-title {
            position: absolute;
            top: 19px; right: 41px;
            width: 408px;
            z-index: 20;

            &__inner {
                width: 100%;
                padding-top: 127.764127764128%;
                background-size: 100% auto;
                background-position: center top;
                background-repeat: no-repeat;
                background-image: url(../images/landing-title.png);

            }

            @include media($to-medium) {
                top: 29px;
                right: 6px;
            }

            @include media($to-small) {
                position: relative;
                top: auto; right: auto;
                display: inline-block;
                margin: 0;
                width: 100%; max-width: 374px;
            }

        }

        &__thanks-title {
            position: absolute;
            top: -24px; right: -11px;
            width: 473px;
            z-index: 20;

            &__inner {
                width: 100%;
                padding-top: 138.900634249471%;
                background-size: 100% auto;
                background-position: center top;
                background-repeat: no-repeat;
                background-image: url(../images/thanks-title.png);

            }

            @include media($to-medium) {
                top: 29px;
                right: 6px;
            }

            @include media($to-small) {
                position: relative;
                top: auto; right: auto;
                display: inline-block;
                margin: 0;
                width: 100%; max-width: 374px;
            }

        }

        &__players {
            position: absolute;
            bottom: -44px; right: 350px;
            width: 548px; height: 579px;
            background: url(../images/players.png) no-repeat center top;
            background-size: 100% auto;
            z-index: 10;

            @include media($to-medium) {
                right: 200px;
            }

            @include media($to-small) {
                display: none;
            }

        }

    }

    .main {
        background-color: $primary-color;
    }

    .form {

        &__intro {
            width: 100%;
            color: #fff;
            line-height: 1.2;

            &__logo {
                width: 100%; max-width: 433px;
                margin-bottom: 30px;

                &__inner {
                    width: 100%;
                    padding-top: 26.096997690531%;
                    background-size: 100% auto;
                    background-position: center top;
                    background-repeat: no-repeat;
                    background-image: url(../images/freo-shield.png);
                }

            }

            &__title {
                //@extend %univers-condensed-bold;
                font-size: rem(24);
                color: #a2adb6;
                margin-bottom: 25px;
            }

            &__text {
                font-size: rem(17);
                margin-bottom: 36px;
            }

        }

        &__sponsors {
            width: 100%;
            text-align: center;
            font-size: 0;
            margin-bottom: 64px;

            img {
                display: inline-block;
                max-height: 100px;
                margin: 0 12px;
                max-width: 100%;

                @include media($to-small) {
                    margin: 0 0 10px 0;
                }

            }

        }

        &__title {

            h1 {
                @extend %univers-condensed-bold;
                font-size: rem(36);
                color: #fff;
                margin: 0 0 24px 0;
            }

        }

        &__inner {
            padding: 72px 82px 0;

            @include media($to-medium) {
                padding: 30px 30px 0;
            }

        }

        &__group {
            margin-bottom: 14px;

            @include media($to-medium) {
                margin-bottom: 30px;
            }

            &--years_consecutive {
                margin-top: 49px;

                @include media($to-medium) {
                    margin-top: 0;
                }

            }

            &--error {
                border-color: $red-color;
                .form__group__label {
                    color: #fff;
                    background-color: $red-color;
                    padding-left: 10px;
                    .required { color: #fff; }
                }
            }

            &__label {
                flex: 0 0 150px;
                font-size: rem(22);
                color: #fff;
                text-transform: uppercase;
                text-align: right;
                line-height: 1;
                padding: 5px 12px 5px 0;
                margin-right: 19px;

                .required {
                    color: $red-color;
                }

                &[for='years_consecutive'] {
                    margin-top: -44px;

                    span {
                        font-size: rem(16);
                    }

                    @include media($to-medium) {
                        margin-top: 0;
                    }

                }

                @include media($to-medium) {
                    border: none;
                }

            }

            &--select &__controls:after {
                color: #fff;
            }

        }

        &__control, &__select-label {
            font-family: $fallback-sans-serif;
            font-size: rem(18);
            color: #fff;
            border-bottom: 1px solid #fff;
            padding: 6px 0;
            transition: all 0.3s ease;
            @include placeholder { color: rgba(#fff, 0.25); }

            &:focus {
                border-color: tint($primary-color, 50%);
            }

            &:disabled, &[readonly] {
                opacity: 1;
                color: rgba(#fff, 0.5);
            }

            .form__group--error & {
                //border-color: $red-color;
            }

        }

        &__select-label {
            padding-top: 7px;
            padding-bottom: 6px;

            &--placeholder {
                color: rgba(#000, 0.25);
            }

        }

        &__submit {
            width: 100%;
            text-align: center;
            margin: 45px 0 60px;

            &__button {
                @extend %univers-condensed-bold;
                width: 200px;
                background-color: $red-color;
                color: #fff;
                font-size: rem(28);
                text-transform: uppercase;
                text-align: center;
                padding: 10px 0;
                border: none;
                transition: 0.3s all ease;

                &:focus, &:active {
                    outline: 0;
                }

                &:hover {
                    background-color: tint($red-color, 10%);
                }

            }

            @include media($to-medium) {
                margin: 18px 0 40px;
            }

        }

        &__errors {
            padding: 30px 65px;
            background-color: $red-color;
            border-top: 20px solid #fff;
            border-bottom: 20px solid #fff;

            @include media($to-medium) {
                padding: 30px;
            }

        }

    }

    .footer {
        font-size: rem(12);
        color: $primary-color;
        font-family: $fallback-sans-serif;
        text-align: center;
        padding: 40px 20px;
        line-height: 1.2;

        p {
            margin: 0 0 1.2em 0;
        }

        .required {
            color: $red-color;
        }

        a {
            color: $primary-color;
            transition: all 0.3s ease;

            &:hover {
                color: $red-color;
            }

        }

        @include media($to-small) {
            padding-bottom: 42px;
        }

        &__links {
            font-size: 0;

            li {
                display: inline-block;
                font-family: $fallback-sans-serif;
                font-size: rem(12);
                font-weight: bold;
                line-height: 1;
                padding: 0 10px;

                + li {
                    border-left: 1px solid $primary-color;
                }

                @include media($to-medium) {
                    width: 100%;
                    border: none !important;
                    margin: 4px 0;
                }

            }

        }

    }

    // datepicker

    .datepicker--cell.-current-,
    .datepicker--day-name {
        color: $primary-color;
    }
