
    $fallback-sans-serif: Helvetica, Arial, "Lucida Grande", sans-serif;
    $fallback-serif: Georgia, Times, 'Times New Roman', serif;

    @font-face {
      font-family: 'UniversCondensed';
      src: url('../fonts/univers-condensed-webfont.eot'); /* IE9 Compat Modes */
      src: url('../fonts/univers-condensed-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
           url('../fonts/univers-condensed-webfont.woff') format('woff'), /* Modern Browsers */
           url('../fonts/univers-condensed-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
           url('../fonts/univers-condensed-webfont.svg#113c66a9da32390df520b598f87cff1c') format('svg'); /* Legacy iOS */

      font-style:   normal;
      font-weight:  400;
    }

    @font-face {
      font-family: 'UniversCondensedBold';
      src: url('../fonts/univers-condensedbold-webfont.eot'); /* IE9 Compat Modes */
      src: url('../fonts/univers-condensedbold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
           url('../fonts/univers-condensedbold-webfont.woff') format('woff'), /* Modern Browsers */
           url('../fonts/univers-condensedbold-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
           url('../fonts/univers-condensedbold-webfont.svg#113c66a9da32390df520b598f87cff1c') format('svg'); /* Legacy iOS */

      font-style:   normal;
      font-weight:  400;
    }

    %univers-condensed {
        font-family: 'UniversCondensed', $fallback-sans-serif;
        font-weight: normal !important;
    }

    %univers-condensed-bold {
        font-family: 'UniversCondensedBold', $fallback-sans-serif;
        font-weight: normal !important;
    }

    body {
        @extend %univers-condensed;
    }
