
    .data {

        &__main {
            padding: 10px 42px 27px;
        }

        &__table-controls {
            padding: 35px 0 12px 0;

            &--top {
                text-align: right;
            }

            &--bottom {
                text-align: center;
            }

        }

        table {
            table-layout: auto;
        }

        .dataTables_info {
            width: 100%;
            text-align: center;
            font-size: rem(13);
            color: $dc-grey-3;
            padding: 30px 0 0 0;
            border-top: 1px solid $dc-grey-2;
        }

    }
