
    .login {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: calc(100% - 160px);
        padding: 30px;

        &__inner {
            width: 100%;
            max-width: 260px;
        }

    }
