
    .overview {

        &__stats {
            padding: 10px 42px 0;

            &__cols {
                display: flex;
                margin: 28px 0 33px;

                &__col {

                    &--center {
                        width: 280px;
                        flex: 0 0 280px;
                        text-align: center;
                        padding-top: 24px;

                        svg {
                            display: inline-block;
                            max-width: 100%;
                        }

                    }

                }

            }

            &__doughnut {
                display: inline-block;
                width: 200px; height: 200px;
                position: relative;

                &__total {
                    position: absolute;
                    top: 87px; left: 0;
                    width: 100%;
                    font-size: rem(10);
                    text-align: center;
                    text-transform: uppercase;
                    color: $dc-grey-3;
                    line-height: 1.1;
                    z-index: 10;

                    span {
                        @extend %trade-gothic-bold;
                        font-size: rem(20);
                        color: $dc-dark-blue;
                    }

                }

                canvas {
                    position: relative;
                    z-index: 20;
                }

            }

        }

        &__graph {
            padding: 22px 42px 0;
            border-top: 1px solid $dc-grey-2;

            &__chart {
                margin-top: 40px;
            }

        }

    }
