
    .responses {

        &__inner {
            padding: 10px 42px 0;
        }

        &__select-category {
            margin: 36px 0 14px 0;
        }

        &__table {

            .table {
                max-width: 1000px;
                margin-top: 20px;
                margin-bottom: 42px;

                thead {

                    th {
                        background-color: $dc-dark-blue;
                        color: #fff;
                    }

                }

                a {
                    color: $dc-light-blue;
                }

            }

        }

    }
