
    .traffic {

        &__main {
            padding: 10px 42px 27px;
        }

        &__graph {
            padding: 22px 42px 0;
            border-top: 1px solid $dc-grey-2;

            &__chart {
                margin-top: 40px;
            }

        }

        &__select-dimension {
            margin: 36px 0 14px 0;
        }

    }
