
    $fallback-sans-serif: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    $fallback-serif: Georgia, Times, 'Times New Roman', serif;

    @font-face {
      font-family: 'ConduitITC-Black';
      src: url('../fonts/ConduitITC-Black.eot'); /* IE9 Compat Modes */
      src: url('../fonts/ConduitITC-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
           url('../fonts/ConduitITC-Black.woff') format('woff'), /* Modern Browsers */
           url('../fonts/ConduitITC-Black.ttf')  format('truetype'), /* Safari, Android, iOS */
           url('../fonts/ConduitITC-Black.svg#113c66a9da32390df520b598f87cff1c') format('svg'); /* Legacy iOS */

      font-style:   normal;
      font-weight:  400;
    }

    @font-face {
      font-family: 'ConduitITC-Bold';
      src: url('../fonts/ConduitITC-Bold.eot'); /* IE9 Compat Modes */
      src: url('../fonts/ConduitITC-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
           url('../fonts/ConduitITC-Bold.woff') format('woff'), /* Modern Browsers */
           url('../fonts/ConduitITC-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
           url('../fonts/ConduitITC-Bold.svg#cc0d2017bf3bb2a4d068fd2495322d12') format('svg'); /* Legacy iOS */

      font-style:   normal;
      font-weight:  700;
    }

    @font-face {
      font-family: 'ConduitITC-Medium';
      src: url('../fonts/ConduitITC-Medium.eot'); /* IE9 Compat Modes */
      src: url('../fonts/ConduitITC-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
           url('../fonts/ConduitITC-Medium.woff') format('woff'), /* Modern Browsers */
           url('../fonts/ConduitITC-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
           url('../fonts/ConduitITC-Medium.svg#dd176b77c3e86c4499d7a30eb2fb2905') format('svg'); /* Legacy iOS */

      font-style:   normal;
      font-weight:  400;
    }

    %conduit-medium {
        font-family: 'ConduitITC-Medium', $fallback-sans-serif;
        font-weight: normal !important;
    }

    %conduit-bold {
        font-family: 'ConduitITC-Bold', $fallback-sans-serif;
        font-weight: normal !important;
    }

    %conduit-black {
        font-family: 'ConduitITC-Black', $fallback-sans-serif;
        font-weight: normal !important;
    }

    body {
        @extend %conduit-medium;
    }
