@font-face {
  font-family: 'theserifextrabold';
  src: url('theserifextrabold-webfont.eot?#iefix') format('embedded-opentype'),  url('theserifextrabold-webfont.otf')  format('opentype'),
	     url('theserifextrabold-webfont.woff') format('woff'), url('theserifextrabold-webfont.ttf')  format('truetype'), url('theserifextrabold-webfont.svg#theserifextrabold-webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
    font-family: 'roboto_condensedlight';
    src: url('robotocondensed-light-webfont.woff2') format('woff2'),
         url('robotocondensed-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

