
    $fallback-sans-serif: Helvetica, Arial, "Lucida Grande", sans-serif;
    $fallback-serif: Georgia, Times, 'Times New Roman', serif;

    @font-face {
      font-family: 'AntennaCond Bold';
      src: url('../fonts/AntennaCond-Bold.eot'); /* IE9 Compat Modes */
      src: url('../fonts/AntennaCond-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
           url('../fonts/AntennaCond-Bold.woff') format('woff'), /* Modern Browsers */
           url('../fonts/AntennaCond-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
           url('../fonts/AntennaCond-Bold.svg#67f93eb087718523a500644a8b19cd27') format('svg'); /* Legacy iOS */

      font-style:   normal;
      font-weight:  700;
    }

    @font-face {
      font-family: 'AntennaCond Medium';
      src: url('../fonts/AntennaCond-Medium.eot'); /* IE9 Compat Modes */
      src: url('../fonts/AntennaCond-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
           url('../fonts/AntennaCond-Medium.woff') format('woff'), /* Modern Browsers */
           url('../fonts/AntennaCond-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
           url('../fonts/AntennaCond-Medium.svg#4f70d5eff637ec86ecb23533eba2f01e') format('svg'); /* Legacy iOS */

      font-style:   normal;
      font-weight:  400;
    }

    %antenna-condensed {
        font-family: 'AntennaCond Medium', $fallback-sans-serif;
        font-weight: normal !important;
    }

    %antenna-condensed-bold {
        font-family: 'AntennaCond Bold', $fallback-sans-serif;
        font-weight: normal !important;
    }

    body {
        @extend %antenna-condensed;
    }
