
    // colors
    $ess-grey: #D1D2D4;
    $ess-red: #C90527;

    $primary-color: $ess-red;
    $secondary-color: $ess-red;
    $red-color: $ess-red;

    $container-width: 954; // px
    $body-bg: url(../../images/page-bg.jpg) repeat-y center top #000;
    $main-bg: none;
    $footer-bg: #000;
    $footer-color: #fff;
    $footer-color-hover: #000;
    $label-color: #000;
    $label-error-color: #fff;
    $label-error-bg: $red-color;
    $field-color: #000;
    $field-placeholder-color: rgba($field-color, 0.50);
    $field-disabled-color: rgba($field-color, 0.50);
    $field-border-color: $primary-color;
    $field-focus-border-color: #000;
    $field-error-border-color: $red-color;
    $errors-bg: $red-color;
    $errors-color: #fff;

    // global
    $edge-padding: 15px;

    %vertically-centered {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    %flex-grid {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-flow: row wrap;
    }
