
    .header {

        &__top {
            width: 100%;
            background-color: $primary-color;
            padding: 9px 124px;

            @include media($to-medium) {
                padding: 9px 30px;
            }

            &__inner {
                width: 100%; max-width: 288px;
                position: relative;
            }

            &__logo {
                width: 100%; padding-top: 21.875%;
                background: url(../images/header-logo.png) no-repeat left top;
                background-size: 100% auto;
            }

        }

        &__bottom {
            width: 100%; height: 310px;
            background: url(../images/header-bg.jpg) no-repeat center center;
            background-size: cover;
            position: relative;
            overflow: hidden;
            padding: 30px;

            &--thanks {
                height: 380px;
            }

            @include media($to-small) {
                height: auto;
            }

            &__text {
                position: absolute;
                top: 52px; left: 123px;
                width: 405px; height: 206px;
                background: url(../images/landing.svg) no-repeat left top;
                background-size: 100% auto;

                @include media($to-medium) {
                    left: 30px;
                }

                @include media($to-small) {
                    position: relative;
                    top: auto; left: auto;
                    width: 100%; height: 0;
                    padding-top: 51%;
                }

            }

            &__thanks {
                position: absolute;
                top: 52px; left: 123px;
                width: 398px; height: 216px;
                background: url(../images/thanks.svg) no-repeat left top;
                background-size: 100% auto;

                @include media($to-medium) {
                    left: 30px;
                }

                @include media($to-small) {
                    position: relative;
                    top: auto; left: auto;
                    width: 100%; height: 0;
                    padding-top: 51%;
                }

            }

            &__player {
                position: absolute;
                bottom: 0; left: 418px;
                width: 331px; height: 296px;
                background: url(../images/player.png) no-repeat left top;
                background-size: 100% auto;

                &--thanks {
                    top: 18px; bottom: auto;
                    left: 438px;
                    height: 365px;
                }

                @include media($to-medium) {
                    left: 328px;
                }

                @include media($to-small) {
                    display: none;
                }

            }


        }

    }

    .form {

        h1 {
            @extend %the-serif;
            font-size: rem(36);
            padding-top: 7px;
            padding-left: 25px;
            margin: 60px 0 24px;
            text-align: left;
            color: $primary-color;

            @include media($to-medium) {
                padding: 0;
                margin: 30px 0 24px;
            }

        }

        &__inner {
            padding: 30px 164px 0;

            @include media($to-medium) {
                padding: 30px 30px 0;
            }

        }

        &__group {
            margin-bottom: 20px;
            border-bottom: 1px solid $gfc-light-blue;

            &--error {
                border-color: $red-color;
                .form__group__label {
                    color: $red-color;
                }
            }

            &--f_2016_renewal_notification {

                .form__group__label {
                    flex: 0 0 340px;
                    min-height: 49px;
                }

                .form__group__controls {
                    padding-top: 19px;
                }

            }

            &__label {
                flex: 0 0 130px;
                font-size: rem(14);
                color: #fff;
                text-transform: uppercase;
                text-align: left;
                min-height: 30px;
                padding: 5px 10px 0 0;

                .required {
                    position: relative;
                    top: auto; right: auto;
                    display: inline;
                }

                @include media($to-medium) {
                    border: none;
                }

            }

            &__controls {

                &__label {
                    font-size: rem(20);
                    margin-bottom: 10px;
                    color: $primary-color;
                }

                .select2-container--default .select2-selection--single {
                    padding: 1px 0;
                    top: -4px;
                    height: auto;
                    position: relative;
                    outline: 0 !important;
                    border-radius: 0 !important;
                    background: none;
                    border: none;
                    //border-bottom: 1px solid $primary-color;
                    color: #fff;
                    //border-bottom: 1px solid $gfc-light-blue;
                }

                .select2-container--default .select2-selection--single .select2-selection__rendered {
                    font-size: rem(15);
                    color: #fff;
                    padding: 3px 0 0 0;
                }

            }

        }

        &__control {
            border: none;
            background: none;
            //border-bottom: 1px solid $gfc-light-blue;
            font-size: rem(15);
            color: #fff;
            padding: 6px 0;
            transition: all 0.3s ease;
            @include placeholder { color: rgba(#fff, 0.25); }

            &:focus {
                border-color: #fff;
            }

            &:disabled, &[readonly] {
                opacity: 1;
                color: rgba(#fff, 0.5);
                font-style: italic;
            }

            .form__group--error & {
                border-color: $red-color;
            }

        }

        &__submit {
            width: 100%;
            text-align: center;
            margin: 12px 0 0;

            &__button {
                @extend %the-serif;
                width: 180px;
                display: inline-block;
                background: #fff;
                border: none;
                color: $primary-color;
                font-size: rem(30);
                font-weight: bold;
                text-align: center;
                text-transform: uppercase;
                padding: 1px 0 0;
            }

            @include media($to-medium) {
                margin: 18px 0 40px;
            }

        }

        &__errors {
            padding: 30px 164px;

            @include media($to-medium) {
                padding: 30px;
            }

        }

    }

    .select2-container--open .select2-dropdown--below {
        margin-top: -4px !important;
    }

    .main {
        background-color: $primary-color;
    }

    .footer {

        &__disclaimer {
            background-color: $primary-color;
            color: #fff;
            font-size: rem(12);
            line-height: 1.6;
            padding: 30px 164px;

            p {
                margin: 0;
            }

            a {
                color: #fff;

                &:hover {
                    color: $secondary-color;
                }

            }

            @include media($to-medium) {
                padding: 20px 30px;
            }

        }

        &__banner {

            img { max-width: 100%; }

        }

        &__bottom {
            color: $primary-color;
            font-size: rem(15);
            text-transform: uppercase;
            line-height: 1.2;
            padding: 22px 164px;
            background-color: $secondary-color;
            position: relative;

            @include media($to-medium) {
                padding: 22px 30px;
                text-align: center;
            }

            a {
                color: $primary-color;
            }

            &__sponsors {
                position: absolute;
                top: 17px; right: 164px;
                font-size: 0;
                margin: 0;

                li {
                    display: inline-block;
                    padding: 0 10px;
                    line-height: 1;

                    img {
                        max-height: 62px;
                    }

                    + li {
                        border-left: 1px solid #aaaaaa;
                    }

                    @include media($to-medium) {
                        //width: 100%;
                        //border: none !important;
                    }

                }

                @include media($to-medium) {
                    position: relative;
                    display: inline-block;
                    top: auto; right: auto;
                    margin-top: 20px;
                }

            }

        }

    }
