@font-face {
  font-family: 'ConduitITC Black';
  src: url('ConduitITC-Black.eot'); /* IE9 Compat Modes */
  src: url('ConduitITC-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('ConduitITC-Black.woff') format('woff'), /* Modern Browsers */
       url('ConduitITC-Black.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('ConduitITC-Black.svg#113c66a9da32390df520b598f87cff1c') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'ConduitITC';
  src: url('ConduitITC-Bold.eot'); /* IE9 Compat Modes */
  src: url('ConduitITC-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('ConduitITC-Bold.woff') format('woff'), /* Modern Browsers */
       url('ConduitITC-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('ConduitITC-Bold.svg#cc0d2017bf3bb2a4d068fd2495322d12') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'ConduitITC';
  src: url('ConduitITC-Medium.eot'); /* IE9 Compat Modes */
  src: url('ConduitITC-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('ConduitITC-Medium.woff') format('woff'), /* Modern Browsers */
       url('ConduitITC-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('ConduitITC-Medium.svg#dd176b77c3e86c4499d7a30eb2fb2905') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

