
    $fallback-sans-serif: Helvetica, Arial, "Lucida Grande", sans-serif;
    $fallback-serif: Georgia, Times, 'Times New Roman', serif;

    %avant-garde {
        font-family: 'Poppins', sans-serif;

        strong {
            font-weight: 700;
        }

    }

    %avant-garde-bold {
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
    }

    %industry {
        font-family: "industry-inc-base", $fallback-serif;
        font-weight: normal !important;
    }

    body {
        @extend %avant-garde !optional;
    }
