
    // colors
    $tigers-yellow: #ff8300;
    $roosters-red: #e72e2f;
	$rabbitohs-green: #03502f; 

    $primary-color:#2f2f2f;
    $secondary-color: $roosters-red;
    $red-color: $roosters-red;

    $container-width: 900; // px
    $body-bg: $primary-color;
    $main-bg: $primary-color;
    $header-bg: url(../images/header-bg.jpg) no-repeat 0 0 #fff;
    $footer-bg: #000;
    $footer-color: #fff;
    $footer-color-hover: $tigers-yellow;
    $label-color: #000;
    $label-error-color: #000;
    $label-error-bg: $red-color;
    $field-color: #000;
    $field-placeholder-color: rgba($field-color, 0.50);
    $field-disabled-color: rgba($field-color, 0.50);
    $field-border-color: #ffffff;
    $field-focus-border-color: $primary-color;
    $field-error-border-color: $red-color;
    $errors-bg: $red-color;
    $errors-color: #fff;

    // global
    $edge-padding: 15px;

    %vertically-centered {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    %flex-grid {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-flow: row wrap;
    }
