
    $fallback-sans-serif: Helvetica, Arial, "Lucida Grande", sans-serif;
    $fallback-serif: Georgia, Times, 'Times New Roman', serif;

    // @font-face {
    //   font-family: 'AvantGardeMdITCTT';
    //   src: url('../../fonts/AVANTGARDEMDITCTT.eot'); /* IE9 Compat Modes */
    //   src: url('../../fonts/AVANTGARDEMDITCTT.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    //        url('../../fonts/AVANTGARDEMDITCTT.woff') format('woff'), /* Modern Browsers */
    //        url('../../fonts/AVANTGARDEMDITCTT.ttf')  format('truetype'), /* Safari, Android, iOS */
    //        url('../../fonts/AVANTGARDEMDITCTT.svg#db59b8131ab8fc81fa6a6aff84162172') format('svg'); /* Legacy iOS */
    //
    //   font-style:   normal;
    //   font-weight:  400;
    // }
    //
    // @font-face {
    //   font-family: 'AvantGardeMdITCTTBold';
    //   src: url('../../fonts/AVANTGARDEMDITCTTBOLD.eot'); /* IE9 Compat Modes */
    //   src: url('../../fonts/AVANTGARDEMDITCTTBOLD.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    //        url('../../fonts/AVANTGARDEMDITCTTBOLD.woff') format('woff'), /* Modern Browsers */
    //        url('../../fonts/AVANTGARDEMDITCTTBOLD.ttf')  format('truetype'), /* Safari, Android, iOS */
    //        url('../../fonts/AVANTGARDEMDITCTTBOLD.svg#770c49618551a466be478e2a72de6345') format('svg'); /* Legacy iOS */
    //
    //   font-style:   normal;
    //   font-weight:  700;
    // }

    @font-face {
      font-family: 'EssayPoster';
      src: url('../../fonts/Essay-Poster.eot'); /* IE9 Compat Modes */
      src: url('../../fonts/Essay-Poster.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
           url('../../fonts/Essay-Poster.woff') format('woff'), /* Modern Browsers */
           url('../../fonts/Essay-Poster.ttf')  format('truetype'), /* Safari, Android, iOS */
           url('../../fonts/Essay-Poster.svg#3824c02f176f364047c1cf0261d61c30') format('svg'); /* Legacy iOS */

      font-style:   normal;
      font-weight:  400;
    }

    %avant-garde {
        //font-family: 'AvantGardeMdITCTT', $fallback-sans-serif;
        //font-weight: normal !important;
        font-family: 'Poppins', sans-serif;

        strong {
            //font-family: 'AvantGardeMdITCTTBold', $fallback-sans-serif;
            //font-weight: normal !important;
            font-weight: 700;
        }

    }

    %avant-garde-bold {
        //font-family: 'AvantGardeMdITCTTBold', $fallback-sans-serif;
        //font-weight: normal !important;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
    }

    %essay {
        font-family: 'EssayPoster', $fallback-serif;
        font-weight: normal !important;
    }

    body {
        @extend %avant-garde !optional;
    }
