
    // colors
    $lions-maroon: #8a0042;
    $lions-blue: #0055a5;
    $lions-yellow: #fcc046;
    $lions-red: #e51c42;

    $primary-color: $lions-maroon;
    $secondary-color: $lions-blue;
    $red-color: $lions-red;

    $main-bg: #fff;
    $footer-bg: $primary-color;
    $footer-color: #fff;
    $label-color: #000;
    $label-error-color: #fff;
    $label-error-bg: $red-color;
    $field-color: #000;
    $field-placeholder-color: rgba($field-color, 0.25);
    $field-disabled-color: rgba($field-color, 0.25);
    $field-border-color: $primary-color;
    $field-focus-border-color: $secondary-color;
    $field-error-border-color: $red-color;
    $errors-bg: $red-color;
    $errors-color: #fff;

    // global
    $edge-padding: 15px;

    %vertically-centered {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    %flex-grid {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-flow: row wrap;
    }
