
    // colors
    $bombers-red: #c90527;

    $primary-color: $bombers-red;
    $secondary-color: #000;
    $red-color: $bombers-red;

    // global
    $edge-padding: 15px;

    %vertically-centered {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    %flex-grid {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-flow: row wrap;
    }
