
    * { box-sizing: border-box; }

    html, body {
        width: 100%; height: 100%;
    }

    body {
        font-size: 16px;
        line-height: 1.33333333333333;

        &.no-overflow {
            overflow: hidden;
        }

    }

    a:link, a:visited {
        text-decoration: none;
        &:hover { text-decoration: underline; }
    }

    select::-ms-expand { display: none; }

    #app, .body-wrap {
        min-height: 100%;
    }

    .body-wrap {
        width: 100%;
    	overflow-x: hidden;
        padding: 0;
        position: relative;
    }

    %inner {
        width: 100%;
        max-width: 830px;
        padding: 0 15px;
        margin: 0 auto;
    }

    .incompatible {
        display: none;
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;

        &__inner {
            position: absolute;
            top: 0; left: 0;
            width: 100%; height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &__text {
            text-align: center;
            font-size: rem(20);
            color: #fff;

            .title {
                font-size: rem(30);
            }

        }
    }

    .checkbox {
        cursor: pointer;

        &__inner {
            transition: all 0.3s ease;
            width: 40px; height: 40px;
            border: 4px solid $ess-grey;
            position: relative;
            pointer-events: none;
            margin: 0 auto;

            .checkbox.black &, .checkbox.white & {
                width: 26px; height: 26px;
                border-width: 2px;
            }

            .checkbox.black & {
                border-color: #000;
            }

            .checkbox.white & {
                border-color: #fff;
                background: none;
            }

            .checkbox.red & {
                border-color: $ess-red;
                background: none;
            }

            svg {
                position: absolute;
                top: -4px; left: -4px;
                width: 40px; height: 40px;

                .checkbox.black &, .checkbox.white & {
                    top: -2px; left: -2px;
                    width: 26px; height: 26px;
                }

                polygon {
                    transition: all 0.3s ease;
                    fill: rgba(#fff, 0.25);

                    .checkbox.white & {
                        fill: transparent;
                    }

                    .checkbox[data-checked='true'] & {
                        fill: $cfc-gold;
                    }

                    .checkbox[data-checked='true'].white & {
                        fill: #fff;
                    }

                }

            }

        }

    }
