
    body {
        background: $body-bg;
        background-attachment: fixed;
        color: #fff;
    }

    .header {
        width: 100%;
        position: relative;
        padding: 105px 30px 0;
        margin: 0 0 107px;

        h1 {
            @extend %artegra-extrabold-italic !optional;
            font-size: rem(75);
            color: $ess-grey;
            text-transform: uppercase;
            line-height: 1;
            letter-spacing: -0.05em;
            margin: 0;

            @include media($to-medium) {
                font-size: rem(60);
            }

            @include media($to-small) {
                font-size: rem(40);
            }

        }

        @include media($to-medium) {
            padding: 45px 30px 0;
            margin: 0 0 80px;
        }

        @include media($to-small) {
            padding: 30px 30px 0;
            margin: 0 0 50px;
        }

    }

    .member-choice {
        width: 100%;
        position: relative;

        @include media($to-medium) {
            //padding: 30px 15px 50px;
        }

        &__inner {

        }

        &__tiles {
            width: 100%;
            font-size: 0;
            display: flex;
            flex-flow: row wrap;
        }

        &__tile {
            width: 33.3333%;
            display: flex;
            min-height: 172px;
            position: relative;
            padding: 10px;

            @include media($to-xxlarge) {
                width: 50%;
            }

            @include media($to-small) {
                width: 100%;
                max-width: 320px;
                margin: 0 auto;
            }

            &:before {
                transition: 0.3s all ease;
                content: '';
                position: absolute;
                top: 10px; left: 10px;
                width: calc(100% - 20px);
                height: calc(100% - 20px);
                border: 2px solid #fff;
                pointer-events: none;
            }

            &[data-selected='true']:before {
                top: 5px; left: 5px;
                width: calc(100% - 10px);
                height: calc(100% - 10px);
                border-color: $cfc-gold;
            }

            &__inner {
                width: 100%;
                background-color: #fff;
                padding: 16px 10px 10px 70px;
            }

            &__image {
                position: absolute;
                top: 50%; left: 40px;
                width: 120px; height: 120px;
                transform: translateY(-50%);
                background: no-repeat center center/contain transparent;
                pointer-events: none;
                z-index: 10;

                &.scarf { background-image: url(../../images/member-scarf.png); }
                &.cap { background-image: url(../../images/member-cap.png); }
                &.polo { background-image: url(../../images/member-polo.png); }

            }

            &__name {
                @extend %rift !optional;
                font-size: rem(22);
                font-weight: 700;
                line-height: 1;
                color: $cfc-gold;
                margin: 0 0 2px;
                position: relative;
                z-index: 20;
            }

            &__price {
                @extend %rift !optional;
                font-size: rem(30);
                font-weight: 700;
                line-height: 1;
                color: $cfc-grey-dark;
                margin: 0 0 4px;
                position: relative;
                z-index: 20;

                span {
                    font-size: rem(20);
                    position: relative;
                    top: -6px;
                }

            }

            &__desc {
                font-size: rem(13);
                color: #000;
                padding: 0 0 3px;
            }

            &__checkbox {
                position: absolute;
                top: 50%; left: 20px;
                transform: translateY(-50%);
                z-index: 20;
            }

            &__dropdown {
                width: 100%;
                border: 1px solid #000;
                position: relative;
                z-index: 20;

                select {
                    @include appearance(none);
                    width: 100%;
                    background: #fff;
                    color: #000;
                    border: none;
                    font-size: rem(14);
                    padding: 2px 5px;
                    cursor: pointer;

                    &:focus, &:active {
                        outline: 0;
                    }

                }

                svg {
                    position: absolute;
                    top: 8px; right: 4px;
                    width: 10px;
                    pointer-events: none;
                }

            }

        }

    }

    .packages {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        margin: 0 0 26px;

        &__title {
            padding: 0 10px;
            margin: 0 0 10px;
        }

    }

    .package {
        padding: 10px;
        position: relative;
        display: flex;
        text-align: left;
        cursor: pointer;

        @include media($from-small) {
            flex: 1;
        }

        &:before {
            transition: 0.3s all ease;
            content: '';
            position: absolute;
            top: 10px; left: 10px;
            width: calc(100% - 20px);
            height: calc(100% - 20px);
            border: 2px solid #fff;
            pointer-events: none;
        }

        &[data-selected='true']:before {
            top: 5px; left: 5px;
            width: calc(100% - 10px);
            height: calc(100% - 10px);
        }

        &__inner {
            transition: 0.3s all ease;
            background-color: #fff;
            color: $cfc-grey-dark;
            padding: 18px 24px 22px;
            display: flex;
            flex-direction: column;
            width: 100%;

            .package[data-selected='true'] & {
                background-color: $cfc-gold;
            }

        }

        &__name {
            @extend %rift !optional;
            transition: 0.3s all ease;
            font-weight: 700;
            font-size: rem(48);
            line-height: 1;
            color: $cfc-gold;
            margin: 0 0 12px;

            .package[data-selected='true'] & {
                color: #fff;
            }
        }

        &__description {
            font-size: rem(14);
            margin: 0 0 22px;
        }

        &__prices {
            margin-top: auto;
        }

        &__price {
            @extend %rift !optional;
            line-height: 1;

            &--monthly {
                font-size: rem(25);
                strong { font-size: rem(40); }
            }

            &--upfrony {
                font-size: rem(16);
            }

            &--single {
                font-size: rem(40);
                font-weight: 700;
            }

        }

        &__overlay {
            position: absolute;
            top: 0; left: 0;
            width: 100%; height: 100%;
            z-index: 10;
            cursor: pointer;
        }

        &__dropdown {
            position: relative;
            z-index: 20;
            width: 100%;
            border: 1px solid #000;
            position: relative;
            background: #fff;

            select {
                @include appearance(none);
                width: 100%;
                background: #fff;
                border-radius: 0;
                border: none;
                font-size: rem(14);
                padding: 0 5px;
                cursor: pointer;

                &:focus, &:active {
                    outline: 0;
                }

            }

            svg {
                position: absolute;
                top: 8px; right: 4px;
                width: 10px;
                pointer-events: none;
            }

        }

    }

    .current-package {
        width: 33.3333%;
        display: flex;
        flex-direction: column;

        @include media($to-xxlarge) {
            width: 100%;
            margin: 0 0 20px;
        }
    }

    .add-ons {
        width: 66.666666%;
        position: relative;

        @include media($to-xxlarge) {
            width: 100%;
        }

        &__inner {
            width: 100%;
            display: flex;
            flex-flow: row wrap;

            .package {
                width: 50%;

                @include media($to-small) {
                    width: 100%;
                }
            }

        }

        &__tiles {
            width: 100%;
            display: flex;
            justify-content: center;
            flex-flow: row wrap;
        }

        &__tile {
            transition: all 0.3s ease;
            width: 100%; max-width: 360px;
            margin: 0 0 30px;
            background-color: #000;
            padding: 76px 80px 66px 25px;
            margin: 12px;
            position: relative;
            border: 5px solid $ess-grey;
            text-align: left;

            @include media($to-small) {
                max-width: 400px;
                margin: 12px 0;
                padding: 76px 20px 66px;
            }

            &[data-selected='true'] {
                border-color: $cfc-gold;
            }

            &__name {
                @extend %artegra-bold-italic !optional;
                position: absolute;
                top: 11px; right: 24px;
                font-size: rem(48);
                color: $cfc-gold;
                text-transform: uppercase;

                @include media($to-small) {
                    top: 32px; right: 16px;
                    font-size: rem(26);
                }
            }

            &__desc {
                @extend %artegra-light !optional;
                font-size: rem(16);
                line-height: 1.1875;
                flex-grow: 1;
            }

            &__checkbox {
                position: absolute;
                bottom: 16px; right: 16px;
            }

            &__price {
                position: absolute;
                bottom: 16px; left: 23px;
                font-size: rem(30);
                color: $ess-grey;
            }

        }

    }

    .total-addons {
        text-align: center;
        line-height: 1;
        padding: 0 30px 0;
        margin: 0 0 72px;

        h2 {
            margin: 0 0 18px !important;
        }

        &__amount {
            @extend %artegra-bold !optional;
            font-size: rem(58);
            color: $ess-grey;
        }

    }

    .wrap {
        width: 100%; max-width: 1260px;
        margin: 0 auto;
        padding: 0 30px;
        display: flex;
        flex-flow: row wrap;

        @include media($to-small) {
            padding: 0 15px;
        }
    }

    .sidebar {
        width: 260px;
        margin-right: 110px;
        position: relative;

        @include media($to-xxlarge) {
            margin-right: 35px;
        }

        @include media($to-large) {
            width: 100%;
            display: flex;
            flex-flow: row wrap;
            margin: 0;
        }

        @include media($to-medium) {
            padding: 20px 0 0;
        }

        &__scarf {
            width: 362px; height: 442px;
            background: url(../../images/sidebar-scarf.png) no-repeat center top/100% auto transparent;
            margin: 0 0 -26px -51px;
            position: relative;

            @include media($to-large) {
                margin: 0 0 -70px 0;
            }

            @include media($to-medium) {
                display: none;
            }

            &__years {
                @extend %rift !optional;
                position: absolute;
                top: 88px; left: 0;
                width: 100%;
                text-align: center;
                font-size: rem(60);
                font-weight: 700;
                padding: 0 5px 0 0;
            }

        }

        &__title {
            position: relative;
            width: 286px; height: 166px;
            margin: 0 0 43px -13px;
            background: url(../../images/sidebar-title.png) no-repeat center top/100% auto transparent;

            @include media($to-large) {
                margin: 30px 0 0 auto;
            }

            @include media($to-medium) {
                margin: 0 auto 30px;
            }
        }

        &__details {
            font-size: rem(18);
            text-align: center;
            line-height: 1.2;
            border-top: 1px solid $cfc-gold;
            border-bottom: 1px solid $cfc-gold;
            padding: 27px 0 27px;

            @include media($to-large) {
                width: 100%;
                border-top: none;
                padding-top: 0;
                margin: -130px 0 0;
            }

            @include media($to-medium) {
                border-top: 1px solid $cfc-gold;
                margin: 0;
                padding: 20px 0;
            }

            &__inner {
                width: 100%; max-width: 286px;
                margin: 0 auto;

                @include media($to-large) {
                    margin: 0 0 0 auto;
                }

                @include media($to-medium) {
                    margin: 0 auto;
                }
            }

            &__title {
                @extend %rift !optional;
                font-weight: 700;
                font-size: rem(28);
                line-height: 1;
                margin: 0 0 13px;
                color: $cfc-gold;
            }
        }

    }

    .main {
        padding: 135px 0 0;

        @include media($to-xxlarge) {
            padding: 40px 0 0;
        }

        @include media($from-medium) {
            flex: 1;
        }

        h2 {
            @extend %rift !optional;
            width: 100%;
            font-size: rem(28);
            font-weight: 700;
            line-height: 1;
            color: #fff;
            margin: 0 0 14px;
            padding: 0 10px;

            .inline2018 {
                display: inline-block;
                vertical-align: middle;
                width: 54px; height: 26px;
                background: url(../../images/inline2018.png) no-repeat center top/100% auto transparent;
            }
        }

        p {
            font-size: rem(16);
            margin: 0 0 10px;
            padding: 0 10px;
        }

        a {
            color: inherit;
        }

    }

    .no-thanks {
        text-align: center;
        margin: 0 0 40px;

        &__button {
            @extend %rift !optional;
            display: inline-block;
            background: none;
            border: 1px solid #fff;
            font-size: rem(21);
            font-style: italic;
            font-weight: 700;
            color: #fff;
            padding: 0 14px;
        }

    }

    .no-thanks-modal {

        &__options {

            li {
                display: flex;
                font-size: rem(22);
                text-align: left;
                position: relative;
                padding: 25px 60px 25px 0;
                align-items: center;

                @include media($to-small) {
                    font-size: rem(16);
                    padding: 20px 60px 20px 0;
                }

                span {
                    display: inline-block;
                    color: $cfc-gold;
                    margin-right: 5px;

                    @include media($to-small) {
                        margin-right: 10px;
                    }
                }

                & + li {
                    border-top: 2px solid $cfc-gold;
                }

                .checkbox {
                    position: absolute;
                    top: 50%; right: 0;
                    transform: translateY(-50%);
                }

                input {
                    flex-grow: 1;
                    margin-left: 20px;
                    background: none;
                    border: 1px solid $cfc-gold;
                    padding: 10px 15px;
                    font-size: rem(14);

                    &:focus {
                        outline: 0;
                        border-color: #000;
                    }
                }

            }

        }

    }

    .thanks {
        position: fixed;
        top: 50%; left: 50%;
        width: 100%; max-width: 600px;
        transform: translate(-50%, -50%);
        text-align: center;
        padding: 0 30px;

        &__title {
            width: 244px; height: 66px;
            background: url(../../images/thank-you.png) no-repeat center top/100% auto transparent;
            font-size: 0;
            text-indent: -9999em;
            margin: 0 auto 14px;
        }

        p {
            display: block;
            font-size: rem(24);
            line-height: 1.4;
            margin: 0 auto 30px;
            max-width: 400px;

            @include media($to-small) {
                font-size: rem(18);
            }
        }

        &__banner {
            width: 100%; max-width: 180px;
            margin: 0 auto;

            &__inner {
                width: 100%;
                padding-top: 29.444444444444444%;
                background: url(../../images/thanks-banner.svg) no-repeat center top/100% auto transparent;
            }
        }

    }

    .form {

        &__submit {
            width: 100%;
            text-align: center;
            margin: 0 0 0;
            padding: 18px 0 0;
            margin: 0 0 14px;
            position: relative;

            &__inner {
                @extend %inner !optional;
            }

            &__note {
                margin: 0 0 20px;
                font-size: rem(15);
            }

            &__accept, &__change-details {
                font-size: rem(16);
                line-height: 1.2;
                position: relative;
                text-align: center;
                margin: 0 0 20px;

                a {
                    color: #fff;
                }

                .checkbox {
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 14px;
                    position: relative;
                    top: -3px;
                }

            }

            &__button {
                @extend %rift !optional;
                display: inline-block;
                background: $cfc-gold;
                border: 1px solid #fff;
                transition: 0.3s all ease;
                font-size: rem(44);
                font-weight: 700;
                font-style: italic;
                color: #fff;
                text-align: center;
                padding: 8px 32px 8px;
                margin: 4px 0 0;
                line-height: 1;

                @include media($to-medium) {
                    font-size: rem(30);
                }

                &:focus, &:active {
                    outline: 0;
                }

                &:hover {
                    background-color: shade(#000, 15%);
                }

                &:disabled {
                    opacity: 0.25;
                }

            }

        }

        &__errors {
            padding: 30px 65px;
            background-color: $errors-bg;
            color: $errors-color;
            margin: 40px 0 40px;

            @include media($to-medium) {
                padding: 30px;
            }

            strong {
                font-size: rem(20);
            }

        }

    }

    .footer {
        text-align: center;
        font-size: rem(13);
        color: #fff;
        margin: 0 0 40px;

        a {
            color: #fff;
            transition: 0.3s all ease;

            &:hover {
                color: $cfc-gold;
                text-decoration: none;
            }

        }

        span {
            display: inline-block;
            margin: 0 10px;
        }

    }
