
    .header {

        &__top {
            width: 100%; height: 118px;
            background: url(../images/header-top-bg.jpg) no-repeat top right;
            background-size: auto 100%;
            position: relative;

            @include media($to-xsmall) {
                background-position: right -58px center;
            }

            &__title {
                @extend %the-serif;
                position: absolute;
                top: 36px; left: 29px;
                font-size: rem(40);
                text-transform: uppercase;
                color: #000;

                @include media($to-medium) {
                    top: 14px;
                    left: 20px;
                }

                @include media($to-xsmall) {
                    top: 20px;
                    font-size: rem(26);
                }

            }

            &__social {
                position: absolute;
                top: 40px; right: 163px;
                font-size: 0;

                li {
                    display: inline-block;
                    + li { margin-left: 14px; }
                }

                @include media($to-medium) {
                    right: auto;
                    left: 20px;
                    top: 66px;
                }

            }

        }

        &__bottom {
            width: 100%; height: 679px;
            background: url(../images/header-bottom-bg.jpg) no-repeat top right;
            background-size: cover;
            position: relative;

            @include media($to-small) {
                height: auto;
                text-align: center;
            }

            &__text {
                position: absolute;
                top: 310px; right: 21px;
                width: 410px;

                @include media($to-medium) {
                    width: 340px;
                    top: 410px;
                    right: 10px;
                }

                @include media($to-small) {
                    position: relative;
                    width: 100%;
                    background-color: $primary-color;
                    top: auto; right: auto;
                    padding: 0 8px 20px;
                }

            }

            &__title {
                @extend %the-serif;
                font-size: rem(76);
                color: #fff;
                text-transform: uppercase;
                text-align: center;
                line-height: 0.9;
                margin-bottom: 38px;

                @include media($to-medium) {
                    font-size: rem(50);
                    margin-bottom: 18px;
                }

                span {
                    font-size: rem(30);

                    @include media($to-medium) {
                        font-size: rem(18);
                    }

                }

            }

            &__desc {
                font-size: rem(22);
                color: #fff;
                text-align: center;
                line-height: 1.2;
                padding: 0 10px;

                @include media($to-medium) {
                    font-size: rem(18);
                }

            }

            &__player {
                position: absolute;
                bottom: 0; right: 26px;
                width: 798px;
                padding-top: 718px;
                background: url(../images/player.png) no-repeat left bottom;
                background-size: 100% auto;

                @include media($to-medium) {
                    right: -110px;
                    padding-top: 679px;
                }

                @include media($to-small) {
                    position: relative;
                    margin: 0 auto;
                    bottom: auto; right: auto;
                    width: 300px; height: 260px;
                    padding-top: 0;
                }

            }

            &__thanks {
                position: absolute;
                top: 310px; right: 21px;
                width: 410px;

                @include media($to-medium) {
                    width: 340px;
                    top: 410px;
                    right: 10px;
                }

                @include media($to-small) {
                    position: relative;
                    width: 100%;
                    background-color: $primary-color;
                    top: auto; right: auto;
                    padding: 20px 8px 20px;
                }

                &__title {
                    @extend %the-serif;
                    font-size: rem(96);
                    color: #fff;
                    text-transform: uppercase;
                    text-align: center;
                    line-height: 0.9;
                    margin-bottom: 38px;

                    @include media($to-medium) {
                        font-size: rem(50);
                        margin-bottom: 18px;
                    }

                    span {
                        font-size: rem(30);

                        @include media($to-medium) {
                            font-size: rem(18);
                        }

                    }

                }

                &__desc {
                    font-size: rem(30);
                    color: #fff;
                    text-align: center;
                    line-height: 1.2;
                    padding: 0 10px;

                    @include media($to-medium) {
                        font-size: rem(18);
                    }

                }

            }

        }

    }

    .form {

        h1 {
            @extend %the-serif;
            font-size: rem(36);
            padding-top: 7px;
            padding-left: 25px;
            margin: 60px 0 24px;
            text-align: left;
            color: $primary-color;

            @include media($to-medium) {
                padding: 0;
                margin: 30px 0 24px;
            }

        }

        &__inner {
            padding: 0 48px;

            @include media($to-medium) {
                padding: 0 15px;
            }

        }

        &__group {
            margin-bottom: 20px;

            &__label {
                flex: 0 0 130px;
                font-size: rem(20);
                color: $secondary-color;
                text-transform: uppercase;
            }

            &__controls {

                &__label {
                    font-size: rem(20);
                    margin-bottom: 10px;
                    color: $primary-color;
                }

                .select2-container--default .select2-selection--single {
                    padding: 2px 0;
                    top: -4px;
                    height: auto;
                    position: relative;
                    outline: 0 !important;
                    border-radius: 0 !important;
                    border: none;
                    border-bottom: 1px solid $primary-color;
                }

                .select2-container--default .select2-selection--single .select2-selection__rendered {
                    font-size: rem(20);
                    color: #000;
                    padding: 0;
                }

            }

        }

        &__control {
            border: none;
            background: none;
            border-bottom: 1px solid $primary-color;
            font-size: rem(20);
            @include placeholder { color: rgba(#000, 0.25); }
        }

        &__submit {
            width: 100%;
            text-align: center;
            margin: 48px 0 70px 0;

            &__button {
                @extend %the-serif;
                width: 180px;
                display: inline-block;
                background: $secondary-color;
                border: none;
                color: #fff;
                font-size: rem(30);
                text-align: center;
                text-transform: uppercase;
                padding: 4px 0 2px 0;
            }

            @include media($to-medium) {
                margin: 18px 0 40px;
            }

        }

    }

    .select2-container--open .select2-dropdown--below {
        margin-top: -4px !important;
    }

    .footer {

        &__disclaimer {
            background-color: $primary-color;
            color: #fff;
            font-size: rem(12);
            text-align: center;
            line-height: 1.6;
            padding: 30px 45px;

            p {
                margin: 0;
            }

            a {
                color: #fff;

                &:hover {
                    color: $secondary-color;
                }

            }

            @include media($to-medium) {
                padding: 20px 15px;
            }

        }

        &__banner {

            img { max-width: 100%; }

        }

        &__bottom {
            color: $primary-color;
            font-size: rem(12);
            text-align: center;
            line-height: 1.6;
            padding: 20px 0 30px 0;

            a {
                color: $primary-color;

                &:hover {
                    color: $secondary-color;
                }

            }

            p, ul {
                margin: 0;
            }

            ul {

                li {
                    display: inline-block;
                    padding: 0 8px;
                    line-height: 1;

                    + li {
                        border-left: 1px solid $primary-color;
                    }

                    @include media($to-medium) {
                        width: 100%;
                        border: none !important;
                    }

                }

            }

        }

    }
