
    body {
        background: $body-bg;
    }

    .header {
        width: 100%;
        background: $header-bg;
        text-align: left;
        padding: 18px 0 26px 80px;
        position: relative;

        @include media($to-medium) {
            padding: 18px 0 26px 18px;
        }

        @include media($to-small) {
            background-image: none;
            text-align: center;
            padding: 10px 15px;
        }

        &__landing-title {
            display: inline-block;
            width: 100%; max-width: 228px;

            &__inner {
                width: 100%;
                padding-top: 182.456140350877%;
                background: url(../images/landing-title.png) no-repeat center top/100% auto transparent;
            }

        }

        &__thanks-title {
            display: inline-block;
            width: 100%; max-width: 228px;

            &__inner {
                width: 100%;
                padding-top: 182.456140350877%;
                background: url(../images/thanks-title.png) no-repeat center top/100% auto transparent;
            }

        }

        &__players {
            position: absolute;
            bottom: -73px; left: 374px;
            display: inline-block;
            width: 510px;

            @include media($to-medium) {
                left: 242px;
            }

            @include media($to-small) {
                display: none;
            }

            &__inner {
                width: 100%;
                padding-top: 105.098039215686%;
                background: url(../images/players.png) no-repeat center top/100% auto transparent;
            }

        }

    }

    .main {
        background-color: $main-bg;
    }

    .form {

        &__intro {
            font-family: $fallback-sans-serif;
            font-size: rem(19);
            margin-bottom: 50px;
            padding: 0 0 40px 0;
            position: relative;
            border-bottom: 1px solid $secondary-color;

            @include media($to-small) {
                padding: 0 0 30px 0;
            }

            &__greeting {
                font-size: rem(23);
                font-weight: bold;
                margin-bottom: 26px;
            }

            strong {
                text-transform: uppercase;
            }

        }

        &__title {
            margin: 0 0 52px 0;

            h1 {
                @extend %bebas;
                font-size: rem(40);
                color: $secondary-color;
                margin: 0;
            }

        }

        &__inner {
            padding: 82px 94px 0;

            @include media($to-medium) {
                padding: 30px 15px 0;
            }

        }

        &__group {
            margin-bottom: 14px;

            @include media($to-medium) {
                margin-bottom: 30px;
            }

            &--error {
                .form__group__label {
                    color: $label-error-color;
                    background-color: $label-error-bg;
                    padding-left: 10px;
                    .required { color: $label-error-color; }
                }
            }

            &__label {
                @extend %bebas;
                flex: 0 0 110px;
                font-size: rem(21);
                color: $label-color;
                text-transform: uppercase;
                text-align: right;
                line-height: 1;
                padding: 4px 12px 0 0;
                margin-right: 19px;

                .required {
                    color: $red-color;
                }

                &[for='years_consecutive'] {
                    margin-top: -44px;

                    span {
                        font-size: rem(16);
                    }

                    @include media($to-medium) {
                        margin-top: 0;
                    }

                }

                @include media($to-medium) {
                    border: none;
                    margin-right: 0;
                }

            }

            &--select &__controls:after {
                color: #fff;
            }

        }

        &__control, &__select-label {
            font-family: $fallback-sans-serif;
            font-size: rem(16);
            color: $field-color;
            border-bottom: 1px solid $field-border-color;
            padding: 6px 0;
            transition: all 0.3s ease;
            @include placeholder { color: $field-placeholder-color; }

            &:focus {
                border-color: $field-focus-border-color;
            }

            &:disabled, &[readonly] {
                opacity: 1;
                color: $field-disabled-color;
            }

            .form__group--error & {
                //border-color: $red-color;
            }

        }

        &__select-label {
            padding-top: 7px;
            padding-bottom: 6px;

            &--placeholder {
                color: rgba(#000, 0.25);
            }

        }

        &__submit {
            width: 100%;
            text-align: center;
            margin: 45px 0 60px;

            &__button {
                width: 206px; height: 53px;
                background: url(../images/update-button.png) no-repeat center center/100% auto transparent;
                border: none;
                transition: 0.3s all ease;
                text-indent: -9999em;
                cursor: pointer;

                &:focus, &:active {
                    outline: 0;
                }

                &:hover {
                    //background-color: $primary-color;
                }

            }

            @include media($to-medium) {
                margin: 18px 0 40px;
            }

        }

        &__errors {
            padding: 30px 65px;
            margin-bottom: 40px;
            background-color: $errors-bg;
            color: $errors-color;

            @include media($to-medium) {
                padding: 30px;
            }

            strong {
                font-size: rem(20);
            }

        }

    }

    .footer {
        font-size: rem(11);
        background-color: $footer-bg;
        color: $footer-color;
        font-family: $fallback-sans-serif;
        text-align: center;
        padding: 84px 15px;
        line-height: 1.2;

        &__logo {
            width: 100%; max-width: 324px;
            margin: 0 auto 50px;

            img {
                display: block;
                max-width: 100%;
            }

        }

        p {
            margin: 0 0 5px 0;
        }

        &__sponsors {
            width: 100%; max-width: 716px;
            margin: 0 auto 40px;

            img {
                display: block;
                max-width: 100%;
            }

            @include media($to-medium) {
            }

            @include media($to-small) {
            }

        }

        a {
            color: $footer-color;
            transition: all 0.3s ease;

            &:hover {
                color: $footer-color-hover;
            }

        }

        @include media($to-small) {
            padding-bottom: 42px;
        }

        &__links {
            font-size: 0;

            li {
                display: inline-block;
                font-family: $fallback-sans-serif;
                font-size: rem(12);
                font-weight: bold;
                line-height: 1;
                padding: 0 10px;

                + li {
                    border-left: 1px solid $footer-color;
                }

                @include media($to-medium) {
                    width: 100%;
                    border: none !important;
                    margin: 4px 0;
                }

            }

        }

    }

    // datepicker

    .datepicker--cell.-current-,
    .datepicker--day-name {
        color: $primary-color;
    }
