    

    %header {
        @extend %bebas;
        font-family: 'univers_67_condensedbold', sans-serif;
        display: inline-block;
        max-width: 600px;
        margin: 0;
        font-size: 35px;
        font-weight: bold;
        line-height: 1em;
        color: #ffffff;
        text-transform: uppercase;
      }