
    body {
        background: $body-bg;
    }

    .header {
        width: 100%;
        background: $header-bg;
        text-align: right;
        padding: 16px 110px 60px;

        @include media($to-medium) {
            background-position: -180px 0;
            padding: 10px 30px 60px;
        }

        @include media($to-small) {
            background-image: none;
            text-align: center;
            padding: 30px 15px;
        }

        &__landing-title {
            display: inline-block;
            width: 100%; max-width: 261px;

            &__inner {
                width: 100%;
                padding-top: 173.946360153257%;
                background: url(../images/landing-title.png) no-repeat center top/100% auto transparent;
            }

        }

        &__thanks-title {
            display: inline-block;
            width: 100%; max-width: 261px;

            &__inner {
                width: 100%;
                padding-top: 173.946360153257%;
                background: url(../images/thanks-title.png) no-repeat center top/100% auto transparent;
            }

        }

    }

    .main {
        background-color: $main-bg;
    }

    .form {

        &__intro {
            font-family: $fallback-sans-serif;
            font-size: rem(19);
            margin-bottom: 63px;
            padding: 0 0 50px 0;
            position: relative;
            border-bottom: 1px solid $secondary-color;
            color: #fff;

            @include media($to-small) {
                padding: 0 0 30px 0;
            }

            &__greeting {
                font-size: rem(19);
                font-weight: bold;
                margin-bottom: 44px;
            }

            strong {
                text-transform: uppercase;
            }

        }

        &__title {
            margin: 0 0 52px 0;

            h1 {
                width: 224px; height: 28px;
                text-indent: -9999em;
                margin: 0;
                background: url(../images/title-bg.png) no-repeat left top/100% auto transparent;
            }

        }

        &__inner {
            padding: 0 90px 0;

            @include media($to-medium) {
                padding: 30px 15px 0;
            }

        }

        &__group {
            margin-bottom: 14px;

            @include media($to-medium) {
                margin-bottom: 30px;
            }

            &--error {
                .form__group__label {
                    color: $label-error-color;
                    background-color: $label-error-bg;
                    padding-left: 10px;
                    .required { color: $label-error-color; }
                }
            }

            &__label {
                flex: 0 0 140px;
                font-size: rem(16);
                font-weight: bold;
                color: $label-color;
                text-transform: uppercase;
                text-align: right;
                line-height: 1;
                padding: 8px 12px 5px 0;
                margin-right: 19px;

                .required {
                    color: $red-color;
                }

                &[for='years_consecutive'] {
                    margin-top: -44px;

                    span {
                        font-size: rem(16);
                    }

                    @include media($to-medium) {
                        margin-top: 0;
                    }

                }

                @include media($to-medium) {
                    border: none;
                    margin-right: 0;
                }

            }

            &--select &__controls:after {
                color: #fff;
            }

        }

        &__control, &__select-label {
            font-family: $fallback-sans-serif;
            font-size: rem(16);
            color: $field-color;
            border-bottom: 1px solid $field-border-color;
            padding: 6px 0;
            transition: all 0.3s ease;
            @include placeholder { color: $field-placeholder-color; }

            &:focus {
                border-color: $field-focus-border-color;
            }

            &:disabled, &[readonly] {
                opacity: 1;
                color: $field-disabled-color;
            }

            .form__group--error & {
                //border-color: $red-color;
            }

        }

        &__select-label {
            padding-top: 7px;
            padding-bottom: 6px;

            &--placeholder {
                color: rgba(#000, 0.25);
            }

        }

        &__submit {
            width: 100%;
            text-align: center;
            margin: 45px 0 0;
            padding-bottom: 58px;
            border-bottom: 1px solid $secondary-color;

            &__button {
                width: 210px; height: 50px;
                background: url(../images/update-button.png) no-repeat center center/100% auto transparent;
                text-indent: -9999em;
                border: none;
                transition: 0.3s all ease;

                &:focus, &:active {
                    outline: 0;
                }

                &:hover {
                    background-color: $primary-color;
                }

            }

            @include media($to-medium) {
                margin: 18px 0 40px;
            }

        }

        &__errors {
            padding: 30px 65px;
            background-color: $errors-bg;
            color: $errors-color;
            margin-bottom: 40px;

            @include media($to-medium) {
                padding: 30px;
            }

            strong {
                font-size: rem(20);
            }

        }

    }

    .footer {
        font-size: rem(11);
        background-color: $footer-bg;
        color: $footer-color;
        font-family: $fallback-sans-serif;
        text-align: center;
        padding: 11px 15px 56px;
        line-height: 1.2;

        p {
            margin: 0 0 5px 0;
        }

        &__sponsors {
            width: 100%; max-width: 795px;
            margin: 0 auto 0;

            img {
                display: block;
                max-width: 100%;
            }

            @include media($to-medium) {
            }

            @include media($to-small) {
            }

        }

        a {
            color: $footer-color;
            transition: all 0.3s ease;

            &:hover {
                color: $footer-color-hover;
            }

        }

        @include media($to-small) {
            padding-bottom: 42px;
        }

        &__links {
            font-size: 0;

            li {
                display: inline-block;
                font-family: $fallback-sans-serif;
                font-size: rem(12);
                font-weight: bold;
                line-height: 1;
                padding: 0 10px;

                + li {
                    border-left: 1px solid $footer-color;
                }

                @include media($to-medium) {
                    width: 100%;
                    border: none !important;
                    margin: 4px 0;
                }

            }

        }

    }

    // datepicker

    .datepicker--cell.-current-,
    .datepicker--day-name {
        color: $primary-color;
    }
