
    $fallback-sans-serif: "HelveticaNeue-Condensed", "Helvetica Neue Condensed", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    $fallback-serif: Georgia, Times, 'Times New Roman', serif;

    // @font-face {
    //   font-family: 'The Serif';
    //   src: url('../fonts/TheSerif Black Plain.eot'); /* IE9 Compat Modes */
    //   src: url('../fonts/TheSerif Black Plain.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    //        url('../fonts/TheSerif Black Plain.woff') format('woff'), /* Modern Browsers */
    //        url('../fonts/TheSerif Black Plain.ttf')  format('truetype'), /* Safari, Android, iOS */
    //        url('../fonts/TheSerif Black Plain.svg#914a6822c96678a576c84973ef35da63') format('svg'); /* Legacy iOS */
    //
    //   font-style:   normal;
    //   font-weight:  400;
    // }

    %roboto {
        font-family: 'roboto-condensed', $fallback-sans-serif;
        font-weight: 400;
    }

    %the-serif {
        font-family: 'museo-slab', $fallback-serif;
        font-weight: 900;
    }

    body {
        @extend %roboto;
    }
