
    $fallback-sans-serif: "HelveticaNeue-Condensed", "Helvetica Neue Condensed", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    $fallback-serif: Georgia, Times, 'Times New Roman', serif;

    @font-face {
      font-family: 'Avenir Next Demi Bold';
      src: url('../fonts/AvenirNext-DemiBold.eot'); /* IE9 Compat Modes */
      src: url('../fonts/AvenirNext-DemiBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
           url('../fonts/AvenirNext-DemiBold.woff') format('woff'), /* Modern Browsers */
           url('../fonts/AvenirNext-DemiBold.ttf')  format('truetype'), /* Safari, Android, iOS */
           url('../fonts/AvenirNext-DemiBold.svg#a7885c27eda45e60a2a49ed9bc9ba53c') format('svg'); /* Legacy iOS */

      font-style:   normal;
      font-weight:  700;
    }

    %avenir {
        font-family: 'Avenir Next Demi Bold', $fallback-sans-serif;
    }

    body {
        @extend %avenir;
    }
