
    // colors
    $wb-red: #c60c30;
    $wb-blue: #0039a6;
    $wb-light-grey: #edeeef;
    $wb-light-blue: #bcbfd9;

    $primary-color: $wb-red;
    $secondary-color: $wb-blue;
    $red-color: $wb-red;

    $container-width: 954; // px
    $body-bg: #fff;
    $main-bg: none;
    $header-bg: url(../images/header-bg.jpg) no-repeat center top/2000px auto;
    $footer-bg: $wb-blue;
    $footer-color: #fff;
    $footer-color-hover: #000;
    $label-color: #000;
    $label-error-color: #fff;
    $label-error-bg: $red-color;
    $field-color: #000;
    $field-placeholder-color: rgba($field-color, 0.50);
    $field-disabled-color: rgba($field-color, 0.50);
    $field-border-color: $primary-color;
    $field-focus-border-color: #000;
    $field-error-border-color: $red-color;
    $errors-bg: $red-color;
    $errors-color: #fff;

    // global
    $edge-padding: 15px;

    %vertically-centered {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    %flex-grid {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-flow: row wrap;
    }
