
    // colors
    $wb-blue: #0039a6;
    $wb-red: #c60c30;

    $primary-color: $wb-blue;
    $secondary-color: $wb-red;
    $red-color: $wb-red;

    // global
    $edge-padding: 15px;

    %vertically-centered {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    %flex-grid {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-flow: row wrap;
    }
