
    body {
        background: $body-bg;
    }

    .incompatible {
        display: none;
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;
        background-color: $afc-navy;

        &__inner {
            position: absolute;
            top: 0; left: 0;
            width: 100%; height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &__text {
            text-align: center;
            font-size: rem(20);
            color: #fff;

            .title {
                font-size: rem(30);
            }

        }
    }

    .header {
        width: 100%;
        position: relative;

        @include media($to-medium) {
            padding-top: 0;
        }

        img {
            display: block;
            width: 100%;
        }

        &__inner {
            width: 100%;
            max-width: rem($container-width);
            margin: 0 auto;
            position: relative;
        }

        &__bg {
            width: 100%;
            background: url(../../images/header-bg.jpg) no-repeat center bottom/1500px auto #fff;
            padding: 600px 0 0;

            @include media($to-xxlarge) {
                padding-top: 380px;
                background-size: auto 380px;
            }

            @include media($to-medium) {
                padding-top: 320px;
                background-size: auto 320px;
            }

            @include media($to-small) {
                padding-top: 81.25%;
                background: url(../../images/header-bg--mobile.jpg) no-repeat center bottom/100% auto #fff;
            }

        }

        &__top {
            background-color: $afc-navy;

            @include media($from-medium) {
                position: absolute;
                top: 0; left: 0;
                width: 100%; height: 100px;
                z-index: 999;
            }

            &__nav {
                width: 100%;
                padding: 20px 0 0;

                @include media($to-medium) {
                    padding: 0 0 0;
                    //padding: 0 0 0 120px;
                }

                // @include media($to-small) {
                //     display: none;
                // }

                ul {
                    list-style: none;
                    margin: 0; padding: 0;
                    font-size: 0;
                    //text-align: center;

                    li {
                        display: inline-block;

                        @include media($from-medium) {
                            &.hidden-desktop { display: none; }
                        }

                        @include media($to-medium) {
                            &.hidden-mobile { display: none; }
                        }

                        a {
                            @extend %roboto !optional;
                            display: block;
                            float: left;
                            font-size: rem(16);
                            text-transform: uppercase;
                            color: #fff;
                            font-weight: 700;
                            padding: 20px 25px;
                            transition: 0.3s all ease;

                            &:hover {
                                color: $afc-red;
                                text-decoration: none;
                            }

                        }

                        + li {
                            position: relative;
                            &:before {
                                content: '';
                                position: absolute;
                                top: 50%; left: 0;
                                width: 1px; height: 14px;
                                margin-top: -7px;
                                background-color: rgba(#fff, 0.35);
                            }
                        }

                    }

                }

            }

            &__social {
                position: absolute;
                top: 30px; right: 10px;
                list-style: none;
                margin: 0; padding: 0;
                font-size: 0;

                @include media($to-medium) {
                    top: 12px;
                    right: 5px;
                }

                li {
                    display: inline-block;

                    a {
                        display: block;
                        width: 51px; height: 37px;
                        background-position: center center;
                        background-size: 37px 37px;
                        background-repeat: no-repeat;
                        text-indent: -9999em;
                        padding: 0 7px;

                        &.instagram { background-image: url(../../images/social-instagram.png); }
                        &.twitter { background-image: url(../../images/social-twitter.png); }
                        &.facebook { background-image: url(../../images/social-facebook.png); }

                    }

                }

            }


        }

        &__bottom {
            position: absolute;
            top: 117px; left: 0;
            width: 100%;
        }

        @include media($to-medium) {
        }

        @include media($to-small) {
        }

    }


    .member-choice {
        width: 100%;
        padding: 58px 15px 50px;
        position: relative;

        @include media($to-medium) {
            padding: 30px 15px 50px;
        }

        &:after {
            content: '';
            position: absolute;
            bottom: 0; left: 50%;
            width: 70px; height: 70px;
            transform: rotate(-45deg) translateX(-51px);;
            background-color: #fff;
            z-index: 100;
        }

        &__inner {
            @extend %inner !optional;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
            font-size: rem(14);

            @include media($to-xlarge) {
                justify-content: center;
                padding: 0;
            }
        }

        &__tiles {
            margin-bottom: 10px;
        }

        &__tile {
            width: 100%; max-width: 300px;
            position: relative;

            @include media($to-xlarge) {
                width: calc((100% - 60px) / 2);
                max-width: 370px;
                margin: 0 15px 30px;
            }

            @include media($to-xsmall) {
                width: 100%;
                margin: 0 0 30px;
            }

            &:before {
                content: '';
                position: absolute;
                top: -8px; left: -8px;
                width: calc(100% + 16px); height: calc(100% + 16px);
                border: 8px solid transparent;
                pointer-events: none;
                transition: all 0.3s ease;
                z-index: 10;
            }

            &[data-selected='true']:before {
                border-color: $afc-red;
            }

            &__overlay {
                position: absolute;
                top: 0; left: 0;
                width: 100%; height: 100%;
                cursor: pointer;
                z-index: 10;
            }

            &__image {
                width: 100%;
                padding-top: 100%;
                background: no-repeat center center/cover transparent;

                &.cap { background-image: url(../../images/member-cap.png); }
                &.scarf { background-image: url(../../images/member-scarf.png); }
                &.both { background-image: url(../../images/member-both.png); }

            }

            &__bottom {
                width: 100%;
                display: flex;
                justify-content: center;
                flex-flow: row wrap;
                margin: -4px 0 0;
                padding: 0 20px 10px;
                transition: all 0.3s ease;
            }

            &__label {
                width: 100%;
                font-size: rem(18);
                text-align: center;
                color: $afc-navy;

                &__main {
                    @extend %essay !optional;
                    font-size: rem(25);
                }

            }

            &__checkbox {
                width: 100%;
                margin: 0 0 12px;
            }

            &__qty {
                display: flex;
                justify-content: center;
                margin: 0 0 12px;
                width: 100%;

                &__number {
                    @extend %essay !optional;
                    width: 40px; height: 40px;
                    background-color: #fff;
                    border: 4px solid $afc-light-grey;
                    font-size: rem(25);
                    color: $afc-red;
                    line-height: 1;
                    text-align: center;

                    .member-choice__tile[data-selected='true'] & {
                        border-color: $afc-red;
                    }

                }

                &__button {
                    display: block;
                    width: 40px; height: 40px;
                    font-size: rem(20);
                    font-weight: 700;
                    color: #fff;
                    border: none;
                    background: none;
                    text-align: center;
                    position: relative;

                    svg {
                        position: absolute;
                        top: 50%; left: 50%;
                        width: 16px; height: 16px;
                        transform: translate(-50%, -50%);

                        path {
                            fill: $afc-navy;
                        }

                    }

                    &:focus, &:active {
                        outline: 0;
                    }

                    &:disabled {
                        opacity: 0.25;
                    }

                }

            }

        }

        &__selections-remaining {
            @extend %essay !optional;
            font-size: rem(25);
            text-align: center;
            color: $afc-red;
            padding: 20px 30px 0;
            margin: 0 0 20px;

            span {
                display: inline-block;
                vertical-align: middle;
                width: 40px; height: 40px;
                border: 4px solid $afc-yellow;
                padding: 0 4px;
                position: relative;
                line-height: 1;
                margin: 0 8px;

                @include media($to-small) {
                    display: block;
                    margin: 10px auto 2px;
                }

            }

        }

        &__allowed-selections {
            color: $afc-red;
        }

        &__notes {
            width: 100%; max-width: 800px;
            margin: 0 auto;
            font-size: rem(14);
            text-align: center;

            strong {
                color: $afc-red;
            }
        }

    }

    .add-ons {
        width: 100%;
        background-color: #f2f5fa;
        padding: 58px 15px 32px;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            bottom: 0; left: 50%;
            width: 70px; height: 70px;
            transform: rotate(-45deg) translateX(-51px);;
            background-color: #f2f5fa;
            z-index: 100;
        }

        &__inner {
            @extend %inner !optional;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            font-size: rem(14);

            @include media($to-xlarge) {
                justify-content: center;
                padding: 0;
            }

            &:after {
                content: '';
                width: calc((100% - 60px) / 3);
                height: 0;
            }

        }

        &__tiles {
            padding-top: 15px;
        }

        &__tile {
            width: calc((100% - 30px) / 2);
            margin: 0 0 30px;
            background-color: #fff;
            position: relative;

            @include media($to-xlarge) {
                width: calc((100% - 60px) / 2);
                max-width: 370px;
                margin: 0 15px 30px;
            }

            @include media($to-small) {
                width: 100%;
                max-width: 100%;
                margin: 0 0 30px;
            }

            &:before {
                content: '';
                position: absolute;
                top: -8px; left: -8px;
                width: calc(100% + 16px); height: calc(100% + 16px);
                border: 8px solid transparent;
                pointer-events: none;
                transition: all 0.3s ease;
                z-index: 10;
            }

            &[data-selected='true']:before {
                border-color: $afc-red;
            }

            &__overlay {
                position: absolute;
                top: 0; left: 0;
                width: 100%; height: 100%;
                cursor: pointer;
                z-index: 10;
            }

            &__inner {
                position: relative;
                display: flex;
                flex-direction: column;
                flex-grow: 1;
            }

            &__image {
                width: 100%;

                &__inner {
                    width: 100%;
                    padding-top: 37.5%;
                    background: no-repeat center center/100% auto $afc-yellow;

                    &.aflw-team { background-image: url(../../images/addon-aflw-team.jpg); }
                    &.aflw-junior { background-image: url(../../images/addon-aflw-junior.jpg); }
                    &.hoodie { background-image: url(../../images/addon-hoodie.jpg); }
                    &.polo { background-image: url(../../images/addon-polo.jpg); }
                }

            }

            &__desc {
                font-weight: 100;
                font-size: rem(16);
                line-height: 1.3125;
                padding: 16px 25px 0;
                margin: 0 0 30px;
                flex-grow: 1;
            }

            &__note {
                position: absolute;
                bottom: 22px; left: 24px;
                width: 90px;
                font-size: rem(13);
                font-style: italic;
                color: tint(#000, 40%);
            }

            &__options {
                width: 100%;
                display: flex;
                padding: 0 25px;
            }

            &__price {
                width: 50%;
                font-size: rem(18);
                color: $afc-navy;
                padding-bottom: 20px;

                &__total {
                    @extend %essay !optional;
                    font-size: rem(25);
                }

            }

            &__qty {
                width: 50%;
                display: flex;
                justify-content: flex-end;
                margin: 0 0 12px;

                &__number {
                    @extend %essay !optional;
                    width: 40px; height: 40px;
                    background-color: #fff;
                    border: 4px solid $afc-light-grey;
                    font-size: rem(25);
                    color: $afc-red;
                    line-height: 1;
                    text-align: center;

                    .member-choice__tile[data-selected='true'] & {
                        border-color: $afc-red;
                    }

                }

                &__button {
                    display: block;
                    width: 40px; height: 40px;
                    font-size: rem(20);
                    font-weight: 700;
                    color: #fff;
                    border: none;
                    background: none;
                    text-align: center;
                    position: relative;

                    svg {
                        position: absolute;
                        top: 50%; left: 50%;
                        width: 16px; height: 16px;
                        transform: translate(-50%, -50%);

                        path {
                            fill: $afc-navy;
                        }

                    }

                    &:focus, &:active {
                        outline: 0;
                    }

                    &:disabled {
                        opacity: 0.25;
                    }

                }

            }

        }

    }

    .line-items {
        width: 100%;
        padding: 70px 0 0;

        &__inner {
            @extend %inner !optional;
        }

        &__checkbox {

        }

        &__item {
            width: 100%;
            display: flex;

            &--has-option {

                @include media($to-xsmall) {
                    flex-flow: row wrap;
                    justify-content: flex-end;
                    padding-bottom: 8px;
                }

            }

            & + .line-items__item {
                border-top: 1px solid $afc-light-grey;
            }

            &--header {
                @extend %avant-garde !optional;
                font-size: rem(16);
                color: $afc-navy;
                margin-top: -20px;
            }

            &--row {
                @extend %avant-garde-bold !optional;
                font-size: rem(18);
            }

            &__name, &__options, &__delete, &__price {
                display: flex;
                align-items: center;
            }

            &__name {
                flex: 1;
                padding: 13px 15px 13px 0;
            }

            &__options {
                width: 160px;

                &__select {
                    width: 100%;
                    background-color: $afc-red;
                    position: relative;

                    select {
                        @include appearance(none);
                        width: 100%;
                        color: #fff;
                        font-size: rem(16);
                        border: none;
                        background: none;
                        display: block;
                        padding: 6px 14px;
                        cursor: pointer;

                        option {
                            color: #000;
                        }
                    }

                    svg {
                        position: absolute;
                        top: 50%; right: 10px;
                        width: 14px; height: 14px;
                        transform: translate(0, -50%);
                        pointer-events: none;

                        path, polygon { fill: #fff; }

                    }

                }

                &--no-option {

                    @include media($to-small) {
                        display: none;
                    }

                }

                &--has-option {

                    @include media($to-xsmall) {
                        width: 100%;
                        padding-bottom: 8px;
                        margin-top: -8px;
                    }

                }

            }

            &__delete {
                width: 30px;
                justify-content: flex-end;

                button {
                    @include appearance(none);
                    width: 16px; height: 16px;
                    background: none;
                    border: none;
                    position: relative;

                    svg {
                        position: absolute;
                        top: 0; left: 0;
                        width: 16px; height: 16px;

                        path, polygon { fill: $afc-navy; }

                    }

                }

            }

            &__price {
                width: 90px;
                justify-content: flex-end;

                @include media($to-small) {
                    width: 50px;
                }

                @include media($to-xsmall) {
                    width: 40px;
                }
            }

        }

        &__donation {
            width: 100%;
            display: flex;
            border-top: 2px solid $afc-navy;
            border-bottom: 2px solid $afc-navy;
            padding: 30px 0;

            @include media($to-small) {
                flex-flow: row wrap;
            }

            &__label {
                @extend %avant-garde-bold !optional;
                font-size: rem(18);
                display: flex;
                align-items: center;
                flex: 1;
                color: $afc-navy;
                padding: 0 35px;

                @include media($to-small) {
                    font-size: rem(16);
                    padding-right: 0;
                    margin: 0 0 15px;
                }
            }

            &__amount {
                @extend %avant-garde-bold !optional;
                font-size: rem(18);
                color: $afc-navy;
                width: 100px;
                text-align: right;

                @include media($to-small) {
                    width: 100%;
                    text-align: left;
                    padding-left: 77px;
                }

                input {
                    display: inline-block;
                    vertical-align: middle;
                    width: 75px;
                    border: 4px solid $afc-light-grey;
                    text-align: right;
                    padding: 4px 6px 3px;
                    margin-left: 8px;

                    @include media($to-small) {
                        text-align: left;
                    }

                    &:focus, &:active {
                        outline: 0;
                    }

                }

            }

        }



    }

    .total-addons {
        @extend %essay !optional;
        text-align: center;
        line-height: 1;
        padding: 42px 30px 0;
        margin: 0 0 8px;

        &__title {
            font-size: rem(25);
            color: $afc-navy;
            margin: 0 0 4px;
        }

        &__amount {
            font-size: rem(60);
            color: $afc-red;
        }

    }

    .checkbox {
        cursor: pointer;

        &__inner {
            transition: all 0.3s ease;
            width: 40px; height: 40px;
            background-color: #fff;
            border: 4px solid $afc-light-grey;
            position: relative;
            pointer-events: none;
            margin: 0 auto;

            .checkbox[data-checked='true'] & {
                background-color: $afc-red;
                border-color: $afc-red;
            }

            svg {
                position: absolute;
                top: -4px; left: -4px;
                width: 40px; height: 40px;

                polygon {
                    transition: all 0.3s ease;
                    fill: $afc-light-grey;

                    .checkbox[data-checked='true'] & {
                        fill: $afc-yellow;
                    }

                }

            }

        }

    }

    .main {
        background-color: $main-bg;

        &__inner {
            @extend %inner !optional;
        }

        h2 {
            @extend %essay !optional;
            width: 100%;
            font-size: rem(25);
            font-weight: 700;
            line-height: 1.2;
            color: $afc-navy;
            margin: 0 0 21px;
            text-align: center;
        }

        h3 {
            @extend %essay !optional;
            font-size: rem(18);
            width: 100%;
            text-align: center;
            margin: -24px 0 50px;
            text-transform: none;
            font-weight: normal;
            line-height: 1.2;

            a {
                color: inherit;
            }

        }

        p {
            font-size: rem(16);
            text-align: center;
            margin: 0 0 16px;
        }

    }

    .thanks {
        position: relative;
        margin: 40px 0 50px;
        text-align: center;

        &__inner {
            @extend %inner !optional;
            max-width: 800px;
        }

        &__title {
            @extend %essay !optional;
            font-size: rem(56);
            color: $afc-red;
            text-transform: uppercase;
            margin-bottom: 20px;
        }

        p {
            font-size: rem(18);
            line-height: 1.2;
            margin: 0 0 1.2em;
        }

        a {
            color: $afc-navy;

            &:hover {
                color: $afc-red;
                text-decoration: none !important;
            }

        }

    }

    .form {

        &__intro {
            font-family: $fallback-sans-serif;
            font-size: rem(19);
            margin-bottom: 30px;
            padding: 0 0 0 0;
            position: relative;
            color: #000;

            @include media($to-small) {
                padding: 0 0 30px 0;
            }

            &__greeting {
                font-size: rem(19);
                font-weight: bold;
                margin-bottom: 15px;
            }

            strong {
                //text-transform: uppercase;
            }

        }

        &__title {
            margin: 0 0 52px 0;

            h1 {
                width: 206px; height: 24px;
                text-indent: -9999em;
                margin: 0;
            }

        }

        &__group {
            margin-bottom: 14px;

            @include media($to-medium) {
                margin-bottom: 30px;
            }

            &--error {
                .form__group__label {
                    color: $label-error-color;
                    background-color: $label-error-bg;
                    padding-left: 10px;
                    .required { color: $label-error-color; }
                }
            }

            &__label {
                flex: 0 0 140px;
                font-size: rem(16);
                font-weight: bold;
                color: $label-color;
                text-transform: uppercase;
                text-align: right;
                line-height: 1;
                padding: 8px 12px 5px 0;
                margin-right: 19px;

                .required {
                    color: $red-color;
                }

                &[for='years_consecutive'] {
                    margin-top: -44px;

                    span {
                        font-size: rem(16);
                    }

                    @include media($to-medium) {
                        margin-top: 0;
                    }

                }

                @include media($to-medium) {
                    border: none;
                    margin-right: 0;
                }

            }

            &--select &__controls:after {
                color: #fff;
            }

        }

        &__control, &__select-label {
            font-family: $fallback-sans-serif;
            font-size: rem(16);
            color: $field-color;
            border-bottom: 2px solid $field-border-color;
            padding: 6px 0;
            transition: all 0.3s ease;
            @include placeholder { color: $field-placeholder-color; }

            &:focus {
                border-color: $field-focus-border-color;
            }

            &:disabled, &[readonly]:not(.datepicker-here) {
                opacity: 1;
                color: $field-disabled-color;
            }

            .form__group--error & {
                //border-color: $red-color;
            }

        }

        &__select-label {
            padding-top: 7px;
            padding-bottom: 6px;

            &--placeholder {
                color: rgba(#000, 0.25);
            }

        }

        &__submit {
            width: 100%;
            text-align: center;
            margin: 0 0 0;
            padding: 44px 0 54px;
            position: relative;

            &__inner {
                @extend %inner !optional;
            }

            &__accept {
                text-align: left;
                font-size: rem(16);
                line-height: 1.2;
                padding-left: 60px;
                position: relative;
                margin-bottom: 44px;

                a {
                    color: $afc-navy;
                    &:hover { color: $afc-red; }
                }

                @include media($to-medium) {
                    padding-left: 60px;
                    font-size: rem(14);
                }

                label {
                    position: absolute;
                    top: 0; left: 20px;
                    cursor: pointer;

                    @include media($to-medium) {
                        left: 0;
                    }
                }

                .checkbox {
                    position: absolute;
                    top: 0; left: 0;
                }

            }

            &__button {
                @extend %essay !optional;
                width: 100%; max-width: 390px;
                background: $afc-red;
                border: none;
                transition: 0.3s all ease;
                font-size: rem(48);
                font-weight: 700;
                color: #fff;
                text-transform: uppercase;
                text-align: center;
                padding: 13px 0 29px;
                line-height: 1;

                @include media($to-medium) {
                    font-size: rem(30);
                }

                &:focus, &:active {
                    outline: 0;
                }

                &:hover {
                    background-color: $afc-navy;
                }

                &:disabled {
                    opacity: 0.25;
                }

            }

        }

        &__errors {
            padding: 30px 65px;
            background-color: $errors-bg;
            color: $errors-color;
            margin: 40px 0 40px;

            @include media($to-medium) {
                padding: 30px;
            }

            strong {
                font-size: rem(20);
            }

        }

    }

    .footer {
        font-size: rem(14);
        background-color: $afc-yellow;
        color: $afc-navy;
        text-align: center;
        padding: 0;
        line-height: 1.2;

        img {
            display: block;
            width: 100%;
        }

        &__inner {
            @extend %inner !optional;
        }

        p {
            margin: 0 0 1.5em 0;
        }
        a {
            color: $footer-color;
            transition: all 0.3s ease;

            &:hover {
                color: $footer-color-hover;
                text-decoration: none !important;
            }

        }

        @include media($to-small) {
            padding-bottom: 42px;
        }

        &__sponsors {
            width: 100%; max-width: 700px;
            padding: 14px 0;
            margin: 0 auto;
            text-align: center;

            &__lockup {
                width: 100%;
                padding-top: 14.285714285714286%;
                background: url(../../images/logo-lockup.jpg) no-repeat center center/100% auto transparent;
                position: relative;

                a {
                    position: absolute;
                    top: 0; left: 0;
                    display: block;
                    width: 100%; height: 100%;
                    text-indent: -9999em;
                }

                @include media($to-medium) {
                    padding-top: 31.25%;
                    background: url(../../images/logo-lockup.jpg) no-repeat center center/100% auto transparent;
                }

            }

        }

        &__disclaimer {
            text-align: center;
            padding: 44px 15px 0;

            p {
                font-size: rem(13);
                margin: 0 0 1.2em;

                &:last-child {
                    margin-bottom: 0;
                }

            }

            a {
                color: inherit;

                &:hover {
                    color: $afc-red;
                }

            }

        }

        &__links {
            font-size: rem(13);
            width: 100%;
            font-weight: normal;
            text-align: center;
            padding: 40px 0;
            border-bottom: 2px solid #fff;

            a {
                color: $afc-navy;

                &:hover {
                    color: $afc-red;
                }

            }

            span {
                display: inline-block;
                margin: 0 6px;
                @include media($to-small) {
                    display: none;
                }
            }

            .links {

                br {
                    display: none;
                    @include media($to-small) {
                        display: block;
                    }
                }

            }

        }

    }
