
    // colors

    $panthers-gold: #a29265;
    $panthers-black: #000;
    $panthers-red: #ee3124;

    $primary-color: $panthers-gold;
    $secondary-color: $panthers-black;
    $red-color: $panthers-red;

    $container-width: 900; // px
    $body-bg: #000;
    $main-bg: #f1f1f2;
    $header-bg: url(../images/header-bg.jpg) no-repeat right top/100% auto $secondary-color;
    $footer-bg: url(../images/footer-top.png) no-repeat center top/100% auto $secondary-color;;
    $footer-color: $primary-color;
    $footer-color-hover: #fff;
    $label-color: $secondary-color;
    $label-error-color: #fff;
    $label-error-bg: $red-color;
    $field-color: $secondary-color;
    $field-placeholder-color: rgba($field-color, 0.50);
    $field-disabled-color: rgba($field-color, 0.50);
    $field-border-color: $primary-color;
    $field-focus-border-color: #000;
    $field-error-border-color: $red-color;
    $errors-bg: $red-color;
    $errors-color: #fff;

    // breakpoints
    $bp-xxxlarge: 1400px;
    $bp-xxlarge: 1200px;
	$bp-xlarge: 1080px;
	$bp-large: 880px;
	$bp-medium: 660px; // 760px
	$bp-small: 540px;
	$bp-xsmall: 440px;

    // global
    $edge-padding: 15px;

    %vertically-centered {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    %flex-grid {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-flow: row wrap;
    }
