
    // colors
    $gfc-blue: #002244;
    $gfc-light-blue: #495a73;
    $gfc-red: #c60c30;
    $gfc-grey: #dedede;

    $primary-color: $gfc-blue;
    $secondary-color: $gfc-grey;
    $red-color: $gfc-red;

    // global
    $edge-padding: 15px;

    %vertically-centered {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    %flex-grid {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-flow: row wrap;
    }
