
    $fallback-sans-serif: Helvetica, Arial, "Lucida Grande", sans-serif;
    $fallback-serif: Georgia, Times, 'Times New Roman', serif;

@font-face {
    font-family:"DesirePro";
    src:url("../fonts/DesirePro.woff2") format("woff2"),url("../fonts/DesirePro.woff") format("woff"),url("../fonts/DesirePro.otf") format("opentype");
    font-style:normal;font-weight:400;
}
