
    * { box-sizing: border-box; }

    html, body {
        width: 100%; height: 100%;
    }

    body {
        font-size: 16px;
        line-height: 1.33333333333333;
        background: url(../../images/body-bg.png) repeat;

        &.no-overflow {
            overflow: hidden;
        }

    }

    a:link, a:visited {
        text-decoration: none;
        &:hover { text-decoration: underline; }
    }

    h1, h2, h3 {
        font-weight: normal;
        margin: 0;
    }

    .body-wrap {
        width: 100%;
    	overflow-x: hidden;
        padding: 0;
    }

    %inner {
        width: 100%;
        max-width: 1200px;
        padding: 0 15px;
        margin: 0 auto;
    }

    .loading {
        @extend %__transition--smooth;
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;
        z-index: 999;
        pointer-events: none;
        visibility: hidden;
        opacity: 0;
        background-color: shade($zoos-green, 50%);

        &[data-visible='true'] {
            visibility: visible;
            opacity: 1;
        }

        &__spinner {
            position: absolute;
            top: 50%; left: 0;
            transform: translateY(-50%);
            width: 100%; height: 20px;

            .spinner {
                width: 100%;
                text-align: center;
            }

            .spinner > div {
                width: 50px;
                height: 50px;
                border-radius: 100%;
                margin: 0 2px;
                display: inline-block;
                -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
                animation: sk-bouncedelay 1.4s infinite ease-in-out both;
            }

            .spinner .bounce1 {
                -webkit-animation-delay: -0.32s;
                animation-delay: -0.32s;
                background-color: $zoos-green;
            }

            .spinner .bounce2 {
                -webkit-animation-delay: -0.16s;
                animation-delay: -0.16s;
                background-color: $zoos-green;
            }

            .spinner .bounce3 {
                background-color: $zoos-green;
            }

        }

    }

    @-webkit-keyframes sk-bouncedelay {
      0%, 80%, 100% { -webkit-transform: scale(0) }
      40% { -webkit-transform: scale(1.0) }
    }

    @keyframes sk-bouncedelay {
      0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0.5);
      } 40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
      }
    }
