
    .incompatible {
        display: none;
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;
        background-color: $wb-blue;

        &__inner {
            position: absolute;
            top: 0; left: 0;
            width: 100%; height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &__text {
            text-align: center;
            font-size: rem(20);
            color: #fff;

            .title {
                font-size: rem(30);
            }

        }
    }

    .zoos-logo {
        width: 100%;
        max-width: 330px;
        margin: 0 auto 30px;

        @include media($to-large) {
            margin: 0 0 30px;
        }

        @include media($to-small) {
            margin: 0 auto 20px;
        }

        &__inner {
            display: block;
            width: 100%;
            padding-top: 33.333333333333333%;
            background: url(../../images/ZVFE_BRANDMARK_RGB.png) no-repeat center top/100% auto transparent;
            font-size: 0;
        }

    }

    .header {
        width: 100%;
        padding: 40px 0 0;

        @include media($to-small) {
            padding: 20px 0 0;
        }

        &__inner {
            @extend %inner !optional;
        }

        &__banner {
            width: calc(100% + 30px);
            margin-left: -15px;
            background: url(../../images/header__banner.jpg) no-repeat center center/cover $zoos-green;
            padding: 43px 0;
            position: relative;

            @include media($to-small) {
                padding: 24px 0;
            }

            h1 {
                @extend %nimbus !optional;
                width: 100%;
                font-size: rem(50);
                color: #fff;
                text-align: center;
                line-height: 1;
                margin: 0;

                @include media($to-medium) {
                    font-size: rem(38);
                }

                @include media($to-small) {
                    font-size: rem(26);
                }

                span {
                    display: inline-block;
                    width: 100%;
                    font-size: rem(60);
                    text-transform: uppercase;
                    margin: 0 0 4px;

                    @include media($to-medium) {
                        font-size: rem(48);
                    }

                    @include media($to-small) {
                        font-size: rem(30);
                    }
                }

            }

            &:before, &:after {
                content: '';
                position: absolute;
                top: 100%;
                width: 0; height: 0;
                border-style: solid;
                border-color: transparent;
                border-top-width: 18px;
                border-bottom-width: 18px;
                border-right-width: 7px;
                border-left-width: 7px;
                border-top-color: $zoos-green-dark;
            }

            &:before {
                left: 1px;
                border-right-color: $zoos-green-dark;
            }

            &:after {
                right: 1px;
                border-left-color: $zoos-green-dark;
            }

        }

    }

    .main {
        @extend %inner !optional;
    }

    .intro {
        text-align: center;
        padding: 30px 150px 16px;
        margin: 0 0 30px;
        font-size: 1rem;
        background: url(../../images/intro-bg--right.png) no-repeat right bottom/230px auto;
        background-color: #fff;

        @include media($to-xxlarge) {
            //padding-bottom: 90px;
        }

        @include media($to-large) {
            padding: 30px 30px 90px;
            margin: 0 0 15px;
        }

        @include media($to-small) {
            padding-bottom: 10px;
            background: #fff;
        }

        &__inner {
            width: 100%; max-width: 870px;
            margin: 0 auto;
        }

        h2 {
            @extend %nimbus !optional;
            font-size: em(50);
            color: $zoos-green;
            margin: 0 0 14px;
            line-height: 0.8;
        }

        h3 {
            @extend %interstate-bold !optional;
            font-size: em(24);
            margin: 0 0 0.225em;
            line-height: 1.2;
        }

        h4 {
            @extend %interstate-bold !optional;
            font-size: em(18);
            margin: 0 0 16px;
            line-height: 1.375;
        }

        p, ul {
            margin: 0 0 1.375em;
            line-height: 1.375;
        }

        ul {
            display: block;
            width: 100%; max-width: 625px;
            margin: 0 auto 32px;
            text-align: left;
            column-count: 2;
            column-gap: 40px;

            @include media($to-small) {
                column-count: 1;
            }

            li {
                margin: 0 0 0.375em;
                padding: 0 0 0 20px;
                position: relative;

                &:before {
                    content: '';
                    position: absolute;
                    top: 0.375em; left: 0;
                    width: 0.3125em; height: 0.625em;
                    background: url(../../images/bullet.svg) no-repeat center center/100% auto;
                }

            }

        }

        &__button {
            padding: 6px 0 0;
            margin: 0 0 20px;

            .button {
                margin: 0 15px;

                @include media($to-small) {
                    margin: 0 0 20px;
                }

            }
        }

        &__price {
            font-size: rem(28);
            color: $zoos-green;
            margin: 0 0 18px;
        }

    }

    .video-generator {
        width: 100%;
        background-color: $zoos-grey-dark;
        padding: 50px 100px 0;

        @include media($to-xxlarge) {
            padding: 50px 50px 0;
        }

        @include media($to-large) {
            padding: 0;
        }

        &__main {
            width: 100%;
            background-color: #000;

            &__inner {
                width: 100%;
                padding-top: 56.25%;
                min-height: 400px;
                position: relative;
            }

            video {
                position: absolute;
                top: 0; left: 0;
                width: 100%; height: 100%;
                z-index: 10;
            }

        }

        &__loading, &__play, &__form, &__play-again {
            position: absolute;
            top: 0; left: 0;
        }

        &__loading {
            @extend %__transition--smooth !optional;
            width: 100%; height: 100%;
            z-index: 30;

            &[data-visible='false'] {
                visibility: hidden;
                opacity: 0;
            }
        }

        &__form {
            @extend %__transition--smooth !optional;
            width: 100%; height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 15px;
            transform: scale(1);
            z-index: 20;

            &[data-visible='false'] {
                visibility: hidden;
                opacity: 0;
                transform: scale(0.9);
            }

            &__inner {
                text-align: center;
                color: #fff;
            }

            &__title {
                @extend %interstate-bold !optional;
                font-size: rem(32);
                line-height: 1;
                margin: 0 0 50px;

                @include media($to-medium) {
                    font-size: rem(24);
                    margin: 0 0 30px;
                }

            }

            &__fields {
                margin: 0 0 34px;
            }

            &__field {
                margin: 0 0 10px;
            }

        }

        .form__group {
            width: 100%; max-width: 480px;
            display: flex;
            margin: 0 auto;

            @include media($to-small) {
                flex-flow: row wrap;
            }

            label {
                width: 160px;
                text-align: right;
                padding: 11px 24px 0 0;

                @include media($to-small) {
                    width: 100%;
                    text-align: center;
                    padding: 0;
                    margin: 0 0 10px;
                }

            }

            .form__input {
                color: #000;
                padding: 11px 20px 11px;
                border: none;
                border-radius: 0;

                @include media($from-small) {
                    flex: 1;
                }

                @include media($to-small) {
                    width: 100%;
                }

                &:focus {
                    outline: 0;
                    background-color: shade(#fff, 5%);
                }

            }

            .form__select {
                @include appearance(none);
                height: 41px;
                color: #000;
                border: none;
                border-radius: 0;
                padding: 11px 20px 11px;
                background: #fff;
                cursor: pointer;

                @include media($from-small) {
                    flex: 1;
                }

                @include media($to-small) {
                    width: 100%;
                }

                &:focus {
                    outline: 0;
                    background-color: shade(#fff, 5%);
                }
            }

            &--select {
                position: relative;

                &:after {
                    content: '';
                    position: absolute;
                    bottom: 15px; right: 10px;
                    width: 15px; height: 8px;
                    background: url(../../images/select-arrow.svg) no-repeat center center/100% auto;
                    pointer-events: none;
                }

            }

        }

        &__play-again {
            @extend %__transition--smooth !optional;
            width: 100%; height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 20px 0 20px;
            z-index: 30;
            background-color: rgba(#000, 0.4);
            pointer-events: none;

            &__inner {
                width: 100%;
                text-align: center;

                .button {
                    margin: 10px;
                    pointer-events: all;
                }
            }

            &[data-visible='false'] {
                visibility: hidden;
                opacity: 0;
            }
        }

        &__extra {
            width: 100%;
            display: flex;
            justify-content: center;
            color: #fff;
            padding: 4px 0;

            @include media($to-small) {
                flex-flow: row wrap;
            }

            span {
                display: inline-block;
                vertical-align: middle;
                margin-right: 10px;
                font-size: rem(20);
            }

            &__share, &__download {
                margin: 10px;

                @include media($to-small) {
                    width: 100%;
                    text-align: center;
                }

                &__button {
                    display: inline-block;
                    vertical-align: middle;
                    width: 30px; height: 30px;
                    background: no-repeat center center transparent;
                    font-size: 0;
                    border: none;
                    margin: 0 10px;
                }

            }

            &__share {

                &__button {

                    &.facebook { width: 12px; height: 23px; background-image: url(../../images/facebook.svg); }
                    &.twitter { width: 22px; height: 18px; background-image: url(../../images/twitter.svg); }
                    &.email { width: 30px; height: 19px; background-image: url(../../images/email.svg); }

                }

            }

            &__download {

                &__button {
                    width: 22px; height: 26px;
                    background-image: url(../../images/download.svg);
                }

            }

        }

        video::-webkit-media-controls-panel {
        	opacity: 0.5 !important;
            transition: opacity 0.3s ease;
        }

    }

    .interact {
        width: 100%;
        display: flex;
        flex-flow: row wrap;

        h2 {
            @extend %nimbus !optional;
            font-size: rem(30);
            line-height: 1;
            color: $zoos-green;
            margin: 0 0 10px;
        }

        p, ul {
            line-height: 1.375;
            margin: 0 0 1.375em;
        }

        &__send, &__animals {
            padding: 28px 38px 0;
            margin: 0 0 30px;

            @include media($to-xlarge) {
                margin: 0 0 15px;
            }

            @include media($to-small) {
                padding: 24px 15px 0;
            }
        }

        &__send {
            background-color: $zoos-beige;

            @include media($from-xlarge) {
                flex: 0 0 325px;
                margin-right: 30px;
            }

            &__button {
                margin: 0 0 30px;
            }

        }

        &__animals {
            background-color: $zoos-beige;
            padding-bottom: 14px;

            @include media($from-xlarge) {
                flex: 1;
            }

            &__tiles {
                width: calc(100% + 16px);
                margin-left: -8px;
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
            }

            &__tile {
                width: 20%;
                padding: 0 8px;
                margin: 0 0 16px;
                cursor: pointer;
                overflow: hidden;

                @include media($to-medium) {
                    width: 33.3333%;
                }

                @include media($to-small) {
                    width: 50%;
                }

                &__inner {
                    width: 100%;
                    padding-top: 142%;
                    position: relative;
                }

                &__image {
                    position: absolute;
                    top: 0; left: 0;
                    width: 100%; height: 100%;
                    z-index: 10;
                    background: no-repeat center center/cover;

                    &.giraffe { background-image: url(../../images/animal--giraffe.jpg); }
                    &.rhino { background-image: url(../../images/animal--rhino.jpg); }
                    &.tiger { background-image: url(../../images/animal--tiger.jpg); }
                    &.gorilla { background-image: url(../../images/animal--gorilla.jpg); }
                    &.elephant { background-image: url(../../images/animal--elephant.jpg); }

                }

                &__overlay {
                    @extend %__transition--smooth !optional;
                    position: absolute;
                    bottom: 0; left: 0;
                    width: 100%;
                    background-color: rgba(#000, 0.8);
                    z-index: 20;
                    padding: 10px 12px 13px;
                    opacity: 0;
                    transform: translate3d(0, 100%, 0);

                    h3 {
                        color: $zoos-green-light;
                        margin: 0 0 3px;
                    }

                    p {
                        font-size: rem(14);
                        color: #fff;
                        margin: 0 0 0;
                        line-height: 1.2;
                    }

                }

                &:hover {
                    .interact__animals__tile__overlay {
                        opacity: 1;
                        transform: translate3d(0, 0, 0);
                    }
                }

            }

        }

    }

    .footer {

        &__inner {
            @extend %inner !optional;
        }

        &__main {
            width: 100%;
            background-color: $zoos-green-light;
            color: #fff;
            text-align: center;
            padding: 28px 0 12px;

            h2 {
                @extend %interstate-bold !optional;
                font-size: rem(28);
                margin: 0 0 18px;
                line-height: 1.2;
            }

        }

        &__contacts {

            &__contact {
                display: inline-block;
                position: relative;
                padding: 0 0 0 46px;
                margin: 0 35px 20px;
                white-space: nowrap;

                @include media($to-small) {
                    margin: 0 5px 20px;
                }

                @include media($to-xsmall) {
                    margin: 0 0 20px;
                }

                &:before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                }

                &.phone:before {
                    width: 28px; height: 32px;
                    left: 11px;
                    background: url(../../images/contact--phone.svg) no-repeat center center/100% auto transparent;
                }

                &.email:before {
                    width: 30px; height: 20px;
                    left: 3px;
                    background: url(../../images/contact--email.svg) no-repeat center center/100% auto transparent;
                }

            }

            a {
                @extend %__transition !optional;
                @extend %interstate-bold !optional;
                color: #fff;
                font-size: rem(24);

                @include media($to-small) {
                    font-size: rem(16);
                }

                &:hover {
                    text-decoration: none;
                    color: $zoos-green;
                }

            }

        }

        &__links {
            text-align: center;
            padding: 24px 0 15px;

            li {
                display: inline-block;
                padding: 0 16px;
                margin: 0 0 10px;
                line-height: 1;
                color: $zoos-grey-dark;

                a {
                    @extend %__transition !optional;
                    color: inherit;

                    &:hover {
                        color: $zoos-green;
                        text-decoration: none;
                    }

                }

                // & + li {
                //     border-left: 2px solid $zoos-grey-dark;
                // }

            }

        }

    }

    .animal-modal {

        .modal__body {
            max-width: 800px;
            background-color: $zoos-beige;
        }

        &__header {
            @extend %nimbus !optional;
            width: 100%;
            background: url(../../images/header__banner.jpg) no-repeat center center/cover $zoos-green;
            font-size: rem(50);
            color: #fff;
            line-height: 1;
            text-align: center;
            padding: 20px 56px 20px 20px;
            position: relative;

            @include media($to-medium) {
                font-size: rem(40);
            }

            @include media($to-xsmall) {
                font-size: rem(30);
            }

            &__close {
                position: absolute;
                top: 0; right: 0;
                width: 56px; height: 56px;
                background: none; border: none;
                font-size: 0;
                background: url(../../images/close.svg) no-repeat center center/20px auto transparent;

                &:active, &:focus {
                    outline: 0;
                }

            }

        }

        &__image {
            width: 100%;
            padding-top: 46.391752577319588%;
            background: no-repeat center center/cover;

            &.giraffe { background-image: url(../../images/animal--giraffe--large.jpg); }
            &.rhino { background-image: url(../../images/animal--rhino--large.jpg); }
            &.tiger { background-image: url(../../images/animal--tiger--large.jpg); }
            &.gorilla { background-image: url(../../images/animal--gorilla--large.jpg); }
            &.elephant { background-image: url(../../images/animal--elephant--large.jpg); }
        }

        &__main {
            padding: 24px 35px 35px;
            line-height: 1.375;

            @include media($to-small) {
                padding: 24px 15px 15px;
            }

        }

        &__name {
            @extend %nimbus !optional;
            font-size: rem(30);
            color: $zoos-green;
            margin: 0 0 15px;
        }

        &__born {
            @extend %interstate-bold !optional;
            margin: 0 0 10px;
        }

        &__bio {
            margin: 0 0 10px;
        }

        &__did-you-know {
            display: block;
            width: 100%;
            margin: 0 0 25px;

            li {
                margin: 0 0 0.625em;
                padding: 0 0 0 20px;
                position: relative;

                &:before {
                    content: '';
                    position: absolute;
                    top: 0.375em; left: 0;
                    width: 0.3125em; height: 0.625em;
                    background: url(../../images/bullet.svg) no-repeat center center/100% auto;
                }

            }

            &__title {
                @extend %interstate-bold !optional;
                color: $zoos-green;
                text-transform: uppercase;
                margin: 0 0 10px;
            }

        }

        &__behind-the-scenes {
            position: relative;
            padding: 30px 0 0 10px;

            &__inner {
                background-color: #fff;
                padding: 38px 30px 110px 30px;
                position: relative;

                @include media($to-medium) {
                    padding: 38px 30px 80px 30px;
                }
            }

            &__header {
                @extend %nimbus !optional;
                position: absolute;
                top: 0; left: 0;
                font-size: rem(24);
                color: #fff;
                background-color: $zoos-green-light;
                line-height: 1;
                padding: 10px 26px 12px 18px;
                z-index: 10;

                &:after {
                    content: '';
                    position: absolute;
                    top: 0; left: 100%;
                    width: 0; height: 0;
                    border-style: solid;
                    border-color: transparent;
                    border-top-width: 15px;
                    border-bottom-width: 15px;
                    border-right-width: 7px;
                    border-left-width: 7px;
                    border-bottom-color: #868B00;
                    border-left-color: #868B00;
                }
            }

            &__book {
                position: absolute;
                bottom: 35px; right: 0;

                @include media($to-medium) {
                    bottom: 15px;
                }
            }

        }

    }

    .send-modal {

        .modal__body {
            max-width: 1070px;
            background-color: $zoos-beige;
        }

        &__header {
            width: 100%;
            background: url(../../images/header__banner.jpg) no-repeat center center/cover $zoos-green;
            color: #fff;
            line-height: 1;
            text-align: center;
            padding: 64px 56px 72px 20px;
            position: relative;

            h2 {
                @extend %nimbus !optional;
                font-size: rem(32);
                margin: 0 0 18px;
            }

            p {
                font-size: rem(18);
                margin: 0 0 0;
            }

            @include media($to-medium) {
                font-size: rem(40);
            }

            @include media($to-xsmall) {
                font-size: rem(30);
            }

            &__close {
                position: absolute;
                top: 0; right: 0;
                width: 56px; height: 56px;
                background: none; border: none;
                font-size: 0;
                background: url(../../images/close.svg) no-repeat center center/20px auto transparent;

                &:active, &:focus {
                    outline: 0;
                }

            }

        }

        &__form {
            padding: 50px 54px 46px;

            @include media($to-medium) {
                padding: 50px 40px 46px 30px;
            }

            &__add {
                padding-left: 160px;
                margin: 0 0 16px;

                @include media($to-medium) {
                    padding-left: 0;
                }

                &__button {
                    padding: 8px 0 8px 28px;
                    position: relative;
                    text-transform: none;

                    &:before {
                        content: '';
                        position: absolute;
                        top: 50%; left: 0;
                        width: 20px; height: 20px;
                        transform: translateY(-50%);
                        background: url(../../images/add.svg) no-repeat center center/100% auto transparent;
                    }
                }

            }

        }

        &__details-row {
            width: 100%;
            display: flex;
            position: relative;
            margin: 0 0 18px;

            @include media($to-medium) {
                flex-flow: row wrap;
            }

            label {
                width: 160px;
                padding-top: 10px;

                @include media($to-medium) {
                    width: 100%;
                    padding: 0 0 10px;
                }

            }

            &__fields {
                display: flex;
                justify-content: space-between;

                @include media($to-small) {
                    flex-flow: row wrap;
                }

                @include media($from-medium) {
                    flex: 1;
                }

                @include media($to-medium) {
                    width: 100%;
                }

                input, textarea {
                    @extend %__transition !optional;
                    padding: 11px 18px 11px;
                    border: none;

                    &:focus {
                        outline: 0;
                        background-color: rgba(#fff, 0.8);
                    }
                }

                input {
                    width: calc((100% - 20px) / 2);

                    @include media($to-small) {
                        width: 100%;
                        margin-bottom: 5px;
                    }
                }

                textarea {
                    width: 100%;
                }

            }

            &__delete {
                position: absolute;
                left: 100%; top: 50%;
                width: 20px; height: 20px;
                transform: translateY(-50%);
                margin-left: 10px;
                background: url(../../images/delete.svg) no-repeat center center/100% auto transparent;
                font-size: 0;
                text-indent: -9999;
                cursor: pointer;
            }

        }

        &__submit {
            margin: 38px 0 0;
            text-align: center;
        }

        &__thanks {
            width: 100%; max-width: 590px;
            margin: 0 auto;
            padding: 180px 30px;
            text-align: center;

            h2 {
                @extend %interstate-bold !optional;
                font-size: rem(32);
                color: $zoos-green;
                line-height: 1;
                margin: 0 0 15px;
            }

            p {
                font-size: rem(18);
                margin: 0 0 30px;
            }

            &__button {

            }

        }

    }
