
    $fallback-sans-serif: Helvetica, Arial, "Lucida Grande", sans-serif;
    $fallback-serif: Georgia, Times, 'Times New Roman', serif;

    @font-face {
        font-family: 'Bebas';
        src: url('../fonts/bebasneue_bold-webfont.eot'); /* IE9 Compat Modes */
        src: url('../fonts/bebasneue_bold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
           url('../fonts/bebasneue_bold-webfont.woff') format('woff'), /* Modern Browsers */
           url('../fonts/bebasneue_bold-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
           url('../fonts/bebasneue_bold-webfont.svg#450ab03ba24b5555f90d646c7bc24441') format('svg'); /* Legacy iOS */

        font-style:   normal;
        font-weight:  400;
    }

    %bebas {
        font-family: 'Bebas', $fallback-sans-serif;
        font-weight: normal !important;
    }
	
    @font-face {
        font-family: 'BigNoodleTitling';
        src: url('big_noodle_titling.eot'); /* IE9 Compat Modes */
        src: url('big_noodle_titling.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
           url('big_noodle_titling.woff') format('woff'), /* Modern Browsers */
           url('big_noodle_titling.ttf')  format('truetype'), /* Safari, Android, iOS */
           url('big_noodle_titling.svg#450ab03ba24b5555f90d646c7bc24441') format('svg'); /* Legacy iOS */

        font-style:   normal;
        font-weight:  400;
    }
	
	@font-face {
	  font-family: 'HelveticaNeue-Bold';
	  src: url('../fonts/HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/HelveticaNeue-Bold.woff') format('woff'), url('../fonts/HelveticaNeue-Bold.ttf')  format('truetype'), url('../fonts/HelveticaNeue-Bold.svg#HelveticaNeue-Bold') format('svg');
	  font-weight: normal;
	  font-style: normal;
	}


	@font-face {
	  font-family: 'HelveticaNeue-Heavy';
	  src: url('../fonts/HelveticaNeue-Heavy.eot?#iefix') format('embedded-opentype'),  url('../fonts/HelveticaNeue-Heavy.otf')  format('opentype'),
			 url('../fonts/HelveticaNeue-Heavy.woff') format('woff'), url('../fonts/HelveticaNeue-Heavy.ttf')  format('truetype'), url('../fonts/HelveticaNeue-Heavy.svg#HelveticaNeue-Heavy') format('svg');
	  font-weight: normal;
	  font-style: normal;
	}

    %big-noodle {
        font-family: 'BigNoodleTitling', $fallback-sans-serif;
        font-weight: normal !important;
    }
    body {
        @extend %big-noodle;
    }
