
    .header {
        padding: 98px 0 97px 0;

        &__logo {
            display: inline-block;
            width: 100%;
            max-width: 400px;

            a, img {
                display: block;
                width: 100%;
            }
			
			@media screen and (max-width: 1200px) {
                max-width: 200px;
            }

            @include media($to-medium) {
                max-width: 120px;
            }

        }

        @include media($to-medium) {
            padding: 15px 0;
        }

    }

    .thanks {
        padding: 0 0 82px;
        text-align: center;

        &__title {
            margin: 0 0 45px;
        }

        &__sub-title {
            margin: 0 0 0px;
            text-transform: none;
        }

        &__body {
            margin: 0 0 0;
        }

    }

    .footer {
        width: 100%;
        text-align: center;
        font-family: Helvetica, Arial, sans-serif;

        &__brand-banner {
            width: 100%;

            img {
                display: block;
                width: 100%;
            }

        }

        &__text {
            padding: 40px 100px 0;
            margin: 0 0 40px;

            @include media($to-medium) {
                padding: 20px 30px 0;
                margin: 0 0 20px;
            }

            p {
                line-height: 1.2;
                margin: 0 0 1.2em;

                &:last-child {
                    margin-bottom: 0;
                }

            }

            a {
                color: inherit;
            }

        }

        &__links {
            margin: 0 0 40px;

            @include media($to-medium) {
                margin: 0 0 20px;
            }

            > li {
                display: inline-block;
                padding: 0 16px;

                @include media($to-medium) {
                    width: 100%;
                }

                a {
                    text-transform: uppercase;
                    color: inherit;
                }

                & + li {
                    border-left: 1px solid #000;

                    @include media($to-medium) {
                        border: none;
                    }

                }

            }

        }

        &__datacleanse {
            border-top: 2px solid #000;
            text-align: right;
            padding: 25px 0;

            @include media($to-xxlarge) {
                padding: 25px 30px;
            }

            @include media($to-medium) {
                text-align: center;
            }

            &__dc, &__mmr {
                display: inline-block;
                vertical-align: middle;

                svg {
                    display: block;
                    width: 100%;
                }

            }

            &__dc {
                width: 162px;
            }

            &__mmr {
                width: 64px;
            }

            span {
                display: inline-block;
                vertical-align: middle;
                width: 1px; height: 40px;
                margin: 0 12px;
            }

        }

    }


    // datepicker

    .datepicker--cell.-current-,
    .datepicker--day-name {
        color: $primary-color;
    }

    .afc_survey_heading {
        font-size: 1.5rem;
        text-transform: none;
        color: #ffd200;

        @include media($to-medium) {
            font-size: 1.125rem;
            margin: 20px 0 30px;
        }
    }

    .afc_range {
        display: flex;
        justify-content: space-between;
        text-align: center;

        li {
			width:50%;
            &:first-child, &:last-child {
                color: #ffd200;
                padding: 4px 0 0;

                @include media($to-medium) {
                    font-size: 0.875rem;
                }

            }

        }

        label {
            display: block;
        }

        input {
            @include appearance(none);
            position: absolute;
            opacity: 0;

            & + span {
				
                display: block;
                width: 30px; height: 30px;
                font-size: 1.25em;
                color: #000;
                cursor: pointer;
                border: 2px solid #000;
                text-align: center;
				position:relative;

                @include media($to-medium) {
                    width: 20px; height: 20px;
                    font-size: 1rem;
                }

            }

            &:checked + span {
                border-color: #ffd200;
            }

        }

    }

    .afc_triangle {
        position: fixed;
        top: 0; left: 0;
        width: 302px; height: 430px;
        background: url(../images/header-edge.png) no-repeat left top/100% auto transparent;
        pointer-events: none;

        @include media($to-small) {
            width: 151px; height: 215px;
        }

    }

    .header, .body-wrap__inner {
        position: relative;
    }
