@font-face {
  font-family: 'ITCAvantGardeStdMd';
  src: url('Adobe - ITCAvantGardeStd-Md.eot'); /* IE9 Compat Modes */
  src: url('Adobe - ITCAvantGardeStd-Md.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Adobe - ITCAvantGardeStd-Md.woff') format('woff'), /* Modern Browsers */
       url('Adobe - ITCAvantGardeStd-Md.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Adobe - ITCAvantGardeStd-Md.svg#6ef6409daa8097d55f74072283d9f15c') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'EssayPoster';
  src: url('Essay-Poster.eot'); /* IE9 Compat Modes */
  src: url('Essay-Poster.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Essay-Poster.woff') format('woff'), /* Modern Browsers */
       url('Essay-Poster.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Essay-Poster.svg#3824c02f176f364047c1cf0261d61c30') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}
