
    // colors
    $freo-purple: #331c54;
    $freo-red: #e51c42;

    $primary-color: $freo-purple;
    $secondary-color: #fff;
    $red-color: $freo-red;

    // global
    $edge-padding: 15px;

    %vertically-centered {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    %flex-grid {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-flow: row wrap;
    }
