
    body {
        background: $body-bg;
    }

    .header {
        width: 100%;
        background: $header-bg;
        padding: 660px 0 0;
        position: relative;

        @include media($to-large) {
            padding-top: 300px;
            background-size: auto 300px;
        }

        @include media($to-small) {
            background-position: -253px top;
        }

        img {
            display: block;
            width: 100%;
        }

        &__inner {
            width: 100%;
            max-width: rem($container-width);
            margin: 0 auto;
            position: relative;
        }

        &__top {
            position: absolute;
            top: 0; left: 0;
            width: 100%; height: 117px;
            z-index: 999;

            &__logo {
                position: absolute;
                top: 30px; left: 52px;
                width: 120px; height: 148px;
                background: url(../images/bulldogs-logo.png) no-repeat center center/100% auto transparent;

                @include media($to-large) {
                    width: 80px; height: 99px;
                    top: 15px; left: 15px;
                }

                @include media($to-small) {
                    left: auto;
                    right: 15px;
                }

                a {
                    display: block;
                    width: 100%; height: 100%;
                    text-indent: -9999em;
                }
            }

            &__nav {
                width: 100%;
                padding: 42px 0 0 220px;

                @include media($to-large) {
                    padding: 0 0 0 120px;
                }

                @include media($to-small) {
                    display: none;
                }

                ul {
                    list-style: none;
                    margin: 0; padding: 0;
                    font-size: 0;

                    li {
                        display: inline-block;

                        a {
                            @extend %arvo;
                            display: block;
                            float: left;
                            font-size: rem(13);
                            text-transform: uppercase;
                            color: #fff;
                            font-weight: 700;
                            padding: 20px;
                            transition: 0.3s all ease;

                            &:hover {
                                color: $wb-red;
                                text-decoration: none;
                            }

                        }

                        + li {
                            position: relative;
                            &:before {
                                content: '';
                                position: absolute;
                                top: 50%; left: 0;
                                width: 1px; height: 14px;
                                margin-top: -7px;
                                background-color: rgba(#fff, 0.35);
                            }
                        }

                    }

                }

            }

            &__social {
                position: absolute;
                top: 50px; right: 10px;
                list-style: none;
                margin: 0; padding: 0;
                font-size: 0;

                @include media($to-large) {
                    top: 65px;
                    right: 40px;
                }

                @include media($to-small) {
                    display: none;
                }

                li {
                    display: inline-block;

                    a {
                        display: block;
                        width: 51px; height: 37px;
                        background-position: center center;
                        background-size: 37px 37px;
                        background-repeat: no-repeat;
                        text-indent: -9999em;
                        padding: 0 7px;

                        &.instagram { background-image: url(../images/social-instagram.png); }
                        &.twitter { background-image: url(../images/social-twitter.png); }
                        &.facebook { background-image: url(../images/social-facebook.png); }

                    }

                }

            }


        }

        &__bottom {
            position: absolute;
            top: 117px; left: 0;
            width: 100%;
        }

        &__be-more-bulldog {
            position: absolute;
            top: 90px; right: 15px;
            width: 170px; height: 132px;
            background: url(../images/be-more-bulldog.png) no-repeat center center/100% auto transparent;

            @include media($to-large) {
                top: 6px;
            }

            @include media($to-small) {
                display: none;
            }

            a {
                display: block;
                width: 100%; height: 100%;
                text-indent: -9999em;
            }
        }

        @include media($to-medium) {
        }

        @include media($to-small) {
        }

    }

    .package-tiles {
        display: flex;
        flex-flow: row wrap;
        width: 100%; max-width: 930px;
        margin: 0 auto;
    }

    .package-tile {
        width: 50%;
        padding: 0 15px;
        margin-bottom: 30px;

        @include media($to-small) {
            width: 100%;
            padding: 0;
        }

        &--full {
            width: 100%;
            margin: 0;
        }

        &__inner {
            width: 100%; height: 100%;
            background-color: $wb-light-grey;
            overflow: hidden;
            position: relative;
            display: flex;
            flex-flow: row wrap;

            &:before {
                content: '';
                position: absolute;
                bottom: -18px; left: -18px;
                width: 35px; height: 35px;
                background-color: #fff;
                transform: rotate(45deg)
            }
        }

        &__top {
            width: 100%;
            height: 242px;
            background-repeat: no-repeat;
            background-position: left top;
            background-size: auto 242px;

            &--member-choice { background-image: url(../images/member-choice.jpg); }
            &--turbo { background-image: url(../images/addon-turbo.jpg); }
            &--vfl { background-image: url(../images/addon-vfl.jpg); }
            &--pet { background-image: url(../images/addon-pet.jpg); }
            &--backyard { background-image: url(../images/addon-backyard.jpg); }
            &--baby { background-image: url(../images/addon-baby.jpg); }
            &--mug { background-image: url(../images/addon-mug.jpg); }
            &--premiership { background-image: url(../images/addon-premiership.jpg); }
            &--social { background-image: url(../images/addon-social.jpg); }
            &--polo { background-image: url(../images/addon-polo.jpg); }
            &--footscray_end { background-image: url(../images/addon-footscray_end.jpg); }

        }

        &__main {

            &__desc {
                font-size: rem(14);
                padding: 26px;
            }

        }

        &__options {
            width: 100%;
            margin-bottom: 15px;
            display: flex;
            flex-flow: row wrap;
            align-self: flex-end;

            @include media($to-medium) {
                justify-content: flex-end;
                margin-bottom: 0;
            }

            &__note {
                flex: 1;
                padding: 0 15px 0 26px;
                font-size: rem(12);
                font-weight: 700;

                @include media($to-medium) {
                    flex: auto;
                    width: 100%;
                    margin-bottom: 14px;
                }

            }

            &__select {
                width: 150px; height: 36px;
                background-color: #bcbfd9;
                position: relative;
                z-index: 20;
                overflow: hidden;

                @include media($to-medium) {
                    width: 50%;

                    &:before {
                        display: none;
                    }

                }

                &:before {
                    content: '';
                    position: absolute;
                    bottom: -6px; left: -6px;
                    width: 12px; height: 12px;
                    background-color: $wb-light-grey;
                    transform: rotate(45deg);
                }

                select {
                    position: absolute;
                    top: 0; left: 0;
                    width: 100%; height: 100%;
                    @include appearance(none);
                    background: none;
                    border: none;
                    color: $wb-blue;
                    padding: 0 15px;

                    &:focus, &:active {
                        outline: 0;
                    }

                }

            }

            &__checkbox {
                width: 110px; height: 36px;
                background-color: $wb-red;
                position: relative;
                z-index: 10;
                overflow: hidden;

                @include media($to-medium) {
                    width: 50%;
                }

                &.has-select:before {
                    background-color: #bcbfd9;
                }

                &:before {
                    content: '';
                    position: absolute;
                    bottom: -6px; left: -6px;
                    width: 12px; height: 12px;
                    background-color: $wb-light-grey;
                    transform: rotate(45deg);
                }

                label {
                    position: absolute;
                    top: 0; left: 0;
                    width: 100%; height: 100%;
                    font-weight: 700;
                    font-size: rem(24);
                    color: #fff;
                    line-height: 36px;
                    padding-left: 15px;
                    cursor: pointer;
                }

                input {
                    position: absolute;
                    visibility: hidden;

                    + span {
                        position: absolute;
                        top: 50%; right: 11px;
                        width: 24px; height: 24px;
                        transform: translate(0, -50%);
                        background-color: #fff;

                        &:after {
                            content: '';
                            position: absolute;
                            top: 50%; left: 50%;
                            width: 18px; height: 16px;
                            transform: translate(-50%, -50%);
                            background: url(../images/option-input-tick.svg) no-repeat center center transparent;
                            filter: grayscale(100%);
                            opacity: 0.10;
                            transition: all 0.3s ease;
                        }

                    }

                    &:checked {

                        + span {

                            &:after {
                                opacity: 1;
                                filter: grayscale(0%);
                            }
                        }

                    }

                }

            }

        }

    }

    .member-choice {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        padding: 24px 24px;
        font-size: rem(14);

        &__col {
            border-left: 1px solid #000;
            padding: 0 12px;
            position: relative;

            @include media($to-large) {
                margin-bottom: 40px;
                padding-bottom: 50px;
                padding-left: 30px;
                border-left: none;

                &:nth-child(2), &:nth-child(3) {
                    border-bottom: 1px solid #000;
                }

                &:last-child {
                    margin-bottom: 0;
                    padding-bottom: 0;
                }

            }

            @include media($to-small) {
                padding-left: 0;

                &:nth-child(4) {
                    border-bottom: 1px solid #000;
                }

            }

            &:before {
                content: '';
                position: absolute;
                z-index: 10;
                pointer-events: none;
            }

            &--intro {
                flex: 0 0 200px;

                p {
                    margin: 0 0 1.2em;
                }

                @include media($to-large) {
                    flex: auto;
                    width: 100%;
                    margin-bottom: 60px;
                    padding: 0;
                }

            }

            &--scarf:before {
                top: -24px; right: -15px;
                background: url(../images/member-scarf.png) no-repeat right top/100% auto transparent;
                width: 126px; height: 160px;

                @include media($to-small) {
                    top: -44px;
                }

            }

            &--cap:before {
                top: 6px; right: -4px;
                background: url(../images/member-cap.png) no-repeat right top/100% auto transparent;
                width: 108px; height: 119px;

                @include media($to-large) {
                    top: -10px;
                }

                @include media($to-small) {
                    top: -20px;
                }

            }

            &--beanie:before {
                top: 6px; right: -4px;
                background: url(../images/member-beanie.png) no-repeat right top/100% auto transparent;
                width: 95px; height: 114px;

                @include media($to-small) {
                    top: -24px;
                }

            }

            &--scarf, &--cap, &--beanie {
                flex: 1;
                font-weight: 700;

                @include media($to-large) {
                    flex: auto;
                    width: 50%;

                    br {
                        display: none;
                    }

                }

                @include media($to-small) {
                    width: 100%;
                }

            }

            &--nothing {
                flex: 1;
                font-weight: 700;

                @include media($to-large) {
                    flex: auto;
                    width: 50%;
                }

            }

            label {
                display: inline-block;
                width: 100%;
                height: 100%;
                position: relative;
                cursor: pointer;
            }

            input {
                position: absolute;
                visibility: hidden;

                + span {
                    display: block;
                    width: 36px; height: 36px;
                    border: 7px solid $wb-red;
                    position: relative;
                    margin-bottom: 8px;
                    transition: all 0.3s ease;

                    &:before {
                        content: '';
                        position: absolute;
                        bottom: -13px; left: -13px;
                        width: 12px; height: 12px;
                        background-color: $wb-light-grey;
                        transform: rotate(45deg);
                    }

                    &:after {
                        content: '';
                        position: absolute;
                        top: 50%; left: 50%;
                        width: 18px; height: 16px;
                        transform: translate(-50%, -50%);
                        background: url(../images/option-input-tick.svg) no-repeat center center transparent;
                        filter: grayscale(100%);
                        opacity: 0.10;
                        transition: all 0.3s ease;
                    }

                }

                &:checked {

                    + span {
                        border-color: $wb-blue;

                        &:after {
                            opacity: 1;
                            filter: grayscale(0%);
                        }
                    }

                }

            }

            &:first-child {
                padding-left: 0;
                border: none;
            }

        }

    }

    .main {
        background-color: $main-bg;

        h2 {
            @extend %arvo;
            width: 100%;
            font-size: rem(24);
            line-height: 1.2;
            color: $wb-red;
            margin: 0 0 48px;
            text-align: center;
        }

        h3 {
            @extend %arvo;
            font-size: rem(16);
            width: 100%;
            text-align: center;
            margin: -24px 0 50px;
            text-transform: none;
            font-weight: normal;
        }

    }

    hr {
        display: block;
        width: 100%; height: 2px;
        border: none;
        background-color: $wb-blue;
        margin: 30px 0 85px;

        @include media($to-medium) {
            margin: 30px 0;
        }

    }

    .thanks {
        padding: 0 30px 0 220px;
        position: relative;
        margin: 60px 0 120px;

        @include media($to-small) {
            padding-left: 30px;
        }

        &__logo {
            position: absolute;
            top: 0; left: 30px;
            width: 120px; height: 148px;
            background: url(../images/bulldogs-logo-blue.png) no-repeat center center/100% auto transparent;

            a {
                display: block;
                width: 100%; height: 100%;
                text-indent: -9999em;
            }

            @include media($to-small) {
                display: none;
                // position: relative;
                // top: auto; left: auto;
                // display: block;
                // margin-bottom: 20px;
            }

        }

        &__title {
            font-size: rem(32);
            font-weight: 700;
            color: $wb-blue;
            text-transform: uppercase;
            margin-bottom: 20px;
        }

        p {
            font-size: rem(18);
            line-height: 1.2;
            margin: 0 0 1.2em;
        }

        a {
            color: $wb-blue;

            &:hover {
                color: $wb-red;
                text-decoration: none !important;
            }

        }

    }

    .form {

        &__intro {
            font-family: $fallback-sans-serif;
            font-size: rem(19);
            margin-bottom: 30px;
            padding: 0 0 0 0;
            position: relative;
            color: #000;

            @include media($to-small) {
                padding: 0 0 30px 0;
            }

            &__greeting {
                font-size: rem(19);
                font-weight: bold;
                margin-bottom: 15px;
            }

            strong {
                //text-transform: uppercase;
            }

        }

        &__title {
            margin: 0 0 52px 0;

            h1 {
                width: 206px; height: 24px;
                text-indent: -9999em;
                margin: 0;
                background: url(../images/title-bg.png) no-repeat left top/100% auto transparent;
            }

        }

        &__inner {
            padding: 66px 0 0;

            @include media($to-medium) {
                padding: 30px 15px 0;
            }

        }

        &__group {
            margin-bottom: 14px;

            @include media($to-medium) {
                margin-bottom: 30px;
            }

            &--error {
                .form__group__label {
                    color: $label-error-color;
                    background-color: $label-error-bg;
                    padding-left: 10px;
                    .required { color: $label-error-color; }
                }
            }

            &__label {
                flex: 0 0 140px;
                font-size: rem(16);
                font-weight: bold;
                color: $label-color;
                text-transform: uppercase;
                text-align: right;
                line-height: 1;
                padding: 8px 12px 5px 0;
                margin-right: 19px;

                .required {
                    color: $red-color;
                }

                &[for='years_consecutive'] {
                    margin-top: -44px;

                    span {
                        font-size: rem(16);
                    }

                    @include media($to-medium) {
                        margin-top: 0;
                    }

                }

                @include media($to-medium) {
                    border: none;
                    margin-right: 0;
                }

            }

            &--select &__controls:after {
                color: #fff;
            }

        }

        &__control, &__select-label {
            font-family: $fallback-sans-serif;
            font-size: rem(16);
            color: $field-color;
            border-bottom: 2px solid $field-border-color;
            padding: 6px 0;
            transition: all 0.3s ease;
            @include placeholder { color: $field-placeholder-color; }

            &:focus {
                border-color: $field-focus-border-color;
            }

            &:disabled, &[readonly]:not(.datepicker-here) {
                opacity: 1;
                color: $field-disabled-color;
            }

            .form__group--error & {
                //border-color: $red-color;
            }

        }

        &__select-label {
            padding-top: 7px;
            padding-bottom: 6px;

            &--placeholder {
                color: rgba(#000, 0.25);
            }

        }

        &__submit {
            width: 100%;
            text-align: center;
            margin: 0 0 0;
            padding-bottom: 58px;
            position: relative;

            @include media($to-medium) {
                padding-bottom: 0;
                margin-bottom: 0;
            }

            &__logo {
                position: absolute;
                top: 0; left: 30px;
                width: 120px; height: 148px;
                background: url(../images/bulldogs-logo-blue.png) no-repeat center center/100% auto transparent;

                a {
                    display: block;
                    width: 100%; height: 100%;
                    text-indent: -9999em;
                }

                @include media($to-medium) {
                    display: none;
                }

            }

            &__accept {
                text-align: left;
                font-size: rem(18);
                line-height: 1.2;
                padding-left: 280px;
                position: relative;
                margin-bottom: 40px;

                @include media($to-medium) {
                    padding-left: 60px;
                    font-size: rem(14);
                }

                label {
                    position: absolute;
                    top: 0; left: 220px;
                    cursor: pointer;

                    @include media($to-medium) {
                        left: 0;
                    }
                }

                input {
                    position: absolute;
                    visibility: hidden;

                    + span {
                        display: block;
                        width: 36px; height: 36px;
                        border: 7px solid $wb-blue;
                        position: relative;
                        margin-bottom: 8px;
                        transition: all 0.3s ease;

                        &:before {
                            content: '';
                            position: absolute;
                            bottom: -13px; left: -13px;
                            width: 12px; height: 12px;
                            background-color: #fff;
                            transform: rotate(45deg);
                        }

                        &:after {
                            content: '';
                            position: absolute;
                            top: 50%; left: 50%;
                            width: 18px; height: 16px;
                            transform: translate(-50%, -50%);
                            background: url(../images/option-input-tick.svg) no-repeat center center transparent;
                            filter: grayscale(100%);
                            opacity: 0.10;
                            transition: all 0.3s ease;
                        }

                    }

                    &:checked {

                        + span {
                            border-color: $wb-blue;

                            &:after {
                                opacity: 1;
                                filter: grayscale(0%);
                            }
                        }

                    }

                }

            }

            &__button {
                width: 100%; max-width: 390px;
                background: $wb-red;
                border: none;
                transition: 0.3s all ease;
                font-size: rem(53);
                color: #fff;
                text-transform: uppercase;
                text-align: center;
                padding: 19px 0;
                line-height: 1;


                &:focus, &:active {
                    outline: 0;
                }

                &:hover {
                    background-color: $wb-blue;
                }

                &--confirm {
                    background: url(../images/confirm-button.png) no-repeat center center/100% auto transparent;
                }

            }

        }

        &__errors {
            padding: 30px 65px;
            background-color: $errors-bg;
            color: $errors-color;
            margin: 40px 0 40px;

            @include media($to-medium) {
                padding: 30px;
            }

            strong {
                font-size: rem(20);
            }

        }

    }

    .footer {
        font-size: rem(14);
        background-color: $footer-bg;
        color: $footer-color;
        text-align: center;
        padding: 0;
        line-height: 1.2;
        margin-top: -70px;

        img {
            display: block;
            width: 100%;
        }

        &__inner {
            width: 100%;
            max-width: rem($container-width);
            margin: 0 auto;
            position: relative;
        }

        p {
            margin: 0 0 1.5em 0;
        }
        a {
            color: $footer-color;
            transition: all 0.3s ease;

            &:hover {
                color: $footer-color-hover;
                text-decoration: none !important;
            }

        }

        @include media($to-small) {
            padding-bottom: 42px;
        }

        &__sponsors {
            background-color: #fff;
            padding: 40px 15px;
            text-align: center;

            img {
                display: inline-block;
                width: 100%; max-width: 561px;
            }

            @include media($to-medium) {
                padding: 20px 15px;
                margin-top: 40px;
            }

        }

        &__disclaimer {
            background-color: $wb-light-grey;
            color: #414042;
            text-align: left;
            padding: 50px 15px;

            p {
                margin: 0 0 1.2em;

                &:last-child {
                    margin-bottom: 0;
                }

            }

            a {
                color: #000;
                font-weight: bold;

                &:hover {
                    color: $wb-red;
                }

            }

        }

        &__links {
            font-size: rem(14);
            width: 100%; float: left;
            background-color: $wb-blue;
            font-weight: normal;
            color: $wb-light-blue;
            text-align: center;
            line-height: 1.8;
            padding: 40px 0;

            a {
                color: $wb-light-blue;

                &:hover {
                    color: #fff;
                }

            }

            span {
                display: inline-block;
                margin: 0 18px;
                color: tint(#000, 70%);
                @include media($to-small) {
                    display: none;
                }
            }

            .links {

                br {
                    display: none;
                    @include media($to-small) {
                        display: block;
                    }
                }

            }

        }

    }

    // datepicker

    .datepicker--cell.-current-,
    .datepicker--day-name {
        color: $primary-color;
    }
