
    // colors

    $dc-red: #ef6673;
    $dc-green: #48cfae;
    $dc-pink: #ec87c1;
    $dc-blue: #0090ce;
    $dc-light-blue: #61c7eb;
    $dc-dark-blue: #3c3c4a;
    $dc-purple: #ac92ed;

    $dc-grey-1: #f6f7f9;
    $dc-grey-2: #dcdce0;
    $dc-grey-3: #9696a0;

    $primary-color: $dc-dark-blue;
    $secondary-color: $dc-dark-blue;

    .color--dc-red { color: $dc-red !important; }
    .color--dc-green { color: $dc-green !important; }
    .color--dc-pink { color: $dc-pink !important; }
    .color--dc-blue { color: $dc-blue !important; }
    .color--dc-light-blue { color: $dc-light-blue !important; }
    .color--dc-dark-blue { color: $dc-dark-blue !important; }
    .color--dc-purple { color: $dc-purple !important; }
    .color--dc-grey-1 { color: $dc-grey-1 !important; }
    .color--dc-grey-2 { color: $dc-grey-2 !important; }
    .color--dc-grey-3 { color: $dc-grey-3 !important; }
    .color--primary { color: $primary-color !important; }
    .color--secondary { color: $secondary-color !important; }

    // global
    $edge-padding: 15px;

    // transitions

    %standard-transition {
        transition: 0.3s all ease;
    }

    %vertically-centered {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    %flex-grid {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-flow: row wrap;
    }

    %block-a {
        display: block;
        width: 100%; height: 100%;
        text-indent: -9999em;
    }

    .text-right { text-align: right; }
