
    $fallback-sans-serif: Helvetica, Arial, "Lucida Grande", sans-serif;
    $fallback-serif: Georgia, Times, 'Times New Roman', serif;

    @font-face {
        font-family: 'Bebas';
        src: url('../fonts/bebasneue_bold-webfont.eot'); /* IE9 Compat Modes */
        src: url('../fonts/bebasneue_bold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
           url('../fonts/bebasneue_bold-webfont.woff') format('woff'), /* Modern Browsers */
           url('../fonts/bebasneue_bold-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
           url('../fonts/bebasneue_bold-webfont.svg#450ab03ba24b5555f90d646c7bc24441') format('svg'); /* Legacy iOS */

        font-style:   normal;
        font-weight:  400;
    }

    %bebas {
        font-family: 'Bebas', $fallback-sans-serif;
        font-weight: normal !important;
    }

    body {
        @extend %big-noodle;
    }
