
    $fallback-sans-serif: Helvetica, Arial, "Lucida Grande", sans-serif;
    $fallback-serif: Georgia, Times, 'Times New Roman', serif;

	@font-face {
	  font-family: 'HelveticaNeue-BoldCond';
	  src: url('../fonts/HelveticaNeue-BoldCond.eot?#iefix') format('embedded-opentype'),  url('../fonts/HelveticaNeue-BoldCond.otf')  format('opentype'),
			 url('../fonts/HelveticaNeue-BoldCond.woff') format('woff'), url('../fonts/HelveticaNeue-BoldCond.ttf')  format('truetype'), url('../fonts/HelveticaNeue-BoldCond.svg#HelveticaNeue-BoldCond') format('svg');
	  font-weight: normal;
	  font-style: normal;
	}



@font-face {
  font-family: 'HelveticaNeue-MediumCond';
  src: url('../fonts/HelveticaNeue-MediumCond.eot?#iefix') format('embedded-opentype'),  url('../fonts/HelveticaNeue-MediumCond.otf')  format('opentype'),
	     url('../fonts/HelveticaNeue-MediumCond.woff') format('woff'), url('../fonts/HelveticaNeue-MediumCond.ttf')  format('truetype'), url('../fonts/HelveticaNeue-MediumCond.svg#HelveticaNeue-MediumCond') format('svg');
  font-weight: normal;
  font-style: normal;
}



	@font-face {
		font-family: 'easycoreregular';
		src: url('../fonts/easycore-webfont.woff2') format('woff2'),
			 url('../fonts/easycore-webfont.woff') format('woff');
		font-weight: normal;
		font-style: normal;

	}

    body {
        //@extend %big-noodle;
    }
