
    // colors
    $melb-blue: #000036;
    $melb-light-blue: #24378b;
    $melb-red: #d13f27;

    $primary-color: $melb-blue;
    $secondary-color: $melb-light-blue;
    $red-color: $melb-red;

    $container-width: 900; // px
    $body-bg: $primary-color;
    $main-bg: $primary-color;
    $header-bg: url(../images/header-bg.jpg) no-repeat right top/900px 542px $primary-color;
    $footer-bg: $primary-color;
    $footer-color: #9da2a6;
    $footer-color-hover: #fff;
    $label-color: #9da2a6;
    $label-error-color: #fff;
    $label-error-bg: $red-color;
    $field-color: #fff;
    $field-placeholder-color: rgba($field-color, 0.50);
    $field-disabled-color: rgba($field-color, 0.50);
    $field-border-color: $secondary-color;
    $field-focus-border-color: #fff;
    $field-error-border-color: $red-color;
    $errors-bg: $red-color;
    $errors-color: #fff;

    // global
    $edge-padding: 15px;

    %vertically-centered {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    %flex-grid {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-flow: row wrap;
    }
