
    $fallback-sans-serif: Helvetica, Arial, "Lucida Grande", sans-serif;
    $fallback-serif: Georgia, Times, 'Times New Roman', serif;

    %news-gothic {
        font-family: 'news-gothic-std', $fallback-serif;
    }

    %rift {
        font-family: 'rift', $fallback-serif;
    }

    body {
        @extend %news-gothic !optional;
    }
