
    .modal {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0; left: 0;
        width: 100%; height: 100%;
        padding: 30px;
        z-index: 9999;
        visibility: hidden;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        pointer-events: none;

        @include media($to-medium) {
            padding: 15px;
        }

        &[data-visible='true'] {
            visibility: visible;
        }

        &__overlay {
            position: fixed;
            top: 0; left: 0;
            width: 100%; height: 100%;
            background-color: rgba(#000, 0.5);
            z-index: 10;
            visibility: hidden;
            opacity: 0;
            pointer-events: none;

            .modal[data-visible='true'] & {
                visibility: visible;
                opacity: 1;
                pointer-events: all;
            }
        }

        &__body {
            position: relative;
            width: 100%; max-width: 800px;
            z-index: 20;
            padding: 40px 40px 20px 40px;
            transform: scale(0.9);
            visibility: hidden;
            opacity: 0;
            color: #000;
            margin: auto 0;
            background-color: #fff;
            border: 2px solid $cfc-gold;
            text-align: center;
            pointer-events: none;

            @include media($to-medium) {
                padding: 50px 20px 30px 20px;
            }

            &[data-button-visible='false'] {
                padding-bottom: 50px;

                @include media($to-medium) {
                    padding-bottom: 10px;
                }

            }

            .modal[data-visible='true'] & {
                transition: 0.3s all ease;
                visibility: visible;
                opacity: 1;
                transform: scale(1);
                pointer-events: all;
                //transform: perspective(1000px) rotateX(0);
            }

            .modal--small & {
                max-width: 500px;
            }

        }

        &__title {
            @extend %rift !optional;
            width: 100%;
            font-size: rem(34);
            font-weight: 700;
            color: $cfc-gold;
            line-height: 1;
            text-align: center;
            margin: 0 0 30px;

            @include media($to-small) {
                font-size: rem(22);
            }
        }

        &__close {
            position: absolute;
            top: 14px; right: 14px;
            width: 18px; height: 18px;
            background: url(../../images/close.svg) no-repeat center top/100% auto transparent;
            border: none;
            font-size: 0;
            text-indent: -9999em;

            &:active, &:focus {
                outline: 0;
            }
        }

        &__button {
            width: 100%;
            text-align: center;
            margin: 30px 0 0;

            .button {
                @extend %rift !optional;
                display: inline-block;
                padding: 7px 30px;
                font-size: rem(30);
                font-weight: 700;
                font-style: italic;
                text-transform: uppercase;
                color: #fff;
                background: $cfc-gold;
                border: none;

                @include media($to-medium) {
                    width: 100%;
                }

                &:disabled {
                    opacity: 0.5;
                    cursor: not-allowed;
                }

            }

        }

        &__content {
            p { font-size: rem(30); }
        }

    }
