
    $fallback-sans-serif: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    $fallback-serif: Georgia, Times, 'Times New Roman', serif;

    @font-face {
      font-family: 'Liberator Heavy';
      src: url('../fonts/LiberatorHeavy.eot'); /* IE9 Compat Modes */
      src: url('../fonts/LiberatorHeavy.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
           url('../fonts/LiberatorHeavy.woff') format('woff'), /* Modern Browsers */
           url('../fonts/LiberatorHeavy.ttf')  format('truetype'), /* Safari, Android, iOS */
           url('../fonts/LiberatorHeavy.svg#ecbf47ae19bdcc0103b528df279565d6') format('svg'); /* Legacy iOS */

      font-style:   normal;
      font-weight:  400;
    }

    @font-face {
      font-family: 'Liberator Light';
      src: url('../fonts/LiberatorLight.eot'); /* IE9 Compat Modes */
      src: url('../fonts/LiberatorLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
           url('../fonts/LiberatorLight.woff') format('woff'), /* Modern Browsers */
           url('../fonts/LiberatorLight.ttf')  format('truetype'), /* Safari, Android, iOS */
           url('../fonts/LiberatorLight.svg#a745f0d02f130512395efe8cdf04668f') format('svg'); /* Legacy iOS */

      font-style:   normal;
      font-weight:  200;
    }

    %news-gothic {
        font-family: 'news-gothic-std', $fallback-sans-serif;
        font-weight: 400;
    }

    %news-gothic-bold {
        font-family: 'news-gothic-std', $fallback-sans-serif;
        font-weight: 700;
    }

    %liberator-light {
        font-family: 'Liberator Light', $fallback-sans-serif;
        font-weight: normal !important;
    }

    %liberator-heavy {
        font-family: 'Liberator Heavy', $fallback-sans-serif;
        font-weight: normal !important;
    }

    body {
        @extend %news-gothic;
    }
