	$dogs-blue: #0039a6;
    $dogs-light-blue: #f2f5fb;
    $dogs-red: #c60c30;
    $dogs-dark-grey: #323232;
    $dogs-light-grey: #cdcdcd;

    $cfc-gold: #a39162;
    // colors
    $cfc-gold: #a29161;
    $cfc-red: #b41e1e;

    $primary-color: $cfc-gold;
    $secondary-color: #000;
    $red-color: $cfc-red;

    // global
    $edge-padding: 15px;

    %vertically-centered {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    %flex-grid {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-flow: row wrap;
    }
