
    $fallback-sans-serif: Helvetica, Arial, "Lucida Grande", sans-serif;
    $fallback-serif: Georgia, Times, 'Times New Roman', serif;



@font-face {
    font-family: 'zamenhofsolid';
    src: url('../fonts/zamenhof-solid-webfont.woff2') format('woff2'),
         url('../fonts/zamenhof-solid-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
