


    html, body {
        width: 100%; height: 100%;
    }

    body {
        font-size: 16px;
        line-height: 1.33333333333333;

        &.no-overflow {
            overflow: hidden;
        }

    }

    a:link, a:visited {
        text-decoration: none;
        &:hover { text-decoration: underline; }
    }

    h1, h2, h3 {
        font-size: rem(40);
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        line-height: 1;
        margin: 47px 0 50px 0;
    }

	h1{

		font-family: 'easycoreregular';
		font-size: 44px;
		font-weight: normal;
	 	color:$tigers-yellow;
		margin-top: 0px;
		line-height: 25px;
		margin-bottom: 0px;
		letter-spacing: 2px;
	}

	h2{

		font-family: 'easycoreregular';
		font-size: 65px;
		font-weight: normal;
	 	color:#000;
		border-top:1px solid $tigers-yellow;
		line-height: 25px;
		margin-bottom: 0px;
		padding: 27px 0;
		margin-top: 30px;
	}


	h3{

		 font-family: 'HelveticaNeue-MediumCond'; 
		font-size: 18px;
		font-weight: normal;
		margin: 0;
	 	color:#fff;
	}

    .body-wrap {
        width: 100%;
    	overflow-x: hidden;
        padding: 0;

        &__inner {
            @include outer-container;
			background: #fff;
        }

    }
