
    body {
        background: $body-bg;
    }

    .header {
        width: 100%;
        background: $header-bg;
        text-align: right;
        padding: 70px 32px 0px;

        &--thanks {
            padding: 84px 43px 0px;
			background-color:#000;
			margin-bottom: -85px;
			
			@include media($to-medium) {
				
				margin-bottom: -40px!important;
			}
        }

        @include media($to-medium) {
            //background-position: -40px 0;
			background-image: none;
			text-align: center;
            padding: 30px 15px 0 15px;
			background: $primary-color;
			margin-bottom: 30px;
			
        }

         

        &__landing-title {
            display: inline-block;
            width: 100%; max-width: 303px;

            &__inner {
                width: 100%;
                padding-top: 145.667%;
                background: url(../images/landing-title.png) no-repeat center top/100% auto transparent;
				
				&.register{
					 background: url(../images/enter-title.png) no-repeat center top/100% auto transparent;
					
				}
            }

        }

        &__thanks-title {
            display: inline-block;
            width: 100%; max-width: 371px;
			
			 
			

            &__inner {
                width: 100%;
                padding-top: 110.291%;
                background: url(../images/thanks-title.png) no-repeat center top/100% auto transparent;
				
				
				&.enter{
					 background: url(../images/thanksenter-title.png) no-repeat center top/100% auto transparent;
					
				}
            }

        }

    }


	.content{

		padding: 0 55px;
		
		@include media($to-small) {
             padding: 0 20px;
        }

	}

	.intro{
		text-align: center;
		color: #000;
		padding-bottom: 30px;
		font-size: 18px;
		
		&__greeting{
			
			color:#000;
			font-weight: bold;
			font-size: 25px;
			padding-bottom: 25px;
		}
		
	}


	.prize{
		display: flex;
		flex-flow: row wrap;
		
		&__first{
			
			width: calc(50% - 10px);
			padding: 20px;
			
			background: #2f2f2f;
			margin-right: 10px;
			
			ul{
				padding-left: 12px;
				margin-top: 15px;
				
				li{
					
					list-style: none;
					color:#fff;
					font-size: 14px;
					position: relative;
					padding-left: 25px;
					line-height: 21px;
					
					&:before{
						position: absolute;
						content:"";
						width: 11px;
						height: 11px;
						display: block;
						background-image: url("../images/list-arr.png");
					    left:0;
						top:6px;
					}
				}
			}
			
			
			@include media($to-medium) {
				
				width: 100%;
				margin-bottom: 20px;
				margin-right: 0;
			}
			
			
		}
		
		&__right{
			width: calc(50% - 10px);
			
			margin-left: 10px;
			
			
			@include media($to-medium) {
				
				width: 100%;
				margin: 0;
			}
			
			
			
		}
		
		&__second{
			
			background: #2f2f2f;
			height:: calc(50% - 10px);
			margin-bottom: 20px;
			padding: 15px;
		}
		
		&__third{
			height:: calc(50% - 10px);
			background: #2f2f2f;
			padding: 15px;
			 
		}

	}

    .main {
        background-color: #fff;
    }

    .form {
		 
        &__intro {
            font-family: $fallback-sans-serif;
            font-size: rem(19);
            margin-bottom: 50px;
            padding: 0 0 40px 0;
            position: relative;
			color:#fff;
            border-bottom: 3px solid #fff;

            @include media($to-small) {
                padding: 0 0 30px 0;
            }

            &__greeting {
                font-size: rem(25);
                font-weight: bold;
                margin-bottom: 26px;
            }

            strong {
                text-transform: uppercase;
                color: #fff;
            }

        }

        &__title {

            h1 {
                font-family: 'HelveticaNeue-BoldCond';
                font-size: rem(30);
                color: #000;
                margin: 0 0 52px 0;
            }

        }

        &__inner {
            padding: 10px 0px 0;
			

            @include media($to-medium) {
                padding: 30px 0px 0;
            }

        }
		
		&__border{
			width:100%;
			display:block;
			border-bottom: 3px solid #fff;
		}

        &__group {
            margin-bottom: 14px;

            @include media($to-medium) {
                margin-bottom: 30px;
            }

            &--error {
                .form__group__label {
                    color: $label-error-color;
                    background-color: $label-error-bg;
                    padding-left: 10px;
                    .required { color: $label-error-color; }
                }
            }
			
			 

            &__label, &__label__holder {
                
                flex: 0 0 122px;
                font-size: rem(16);
                color: $label-color;
				font-weight: bold;
                
                text-align: left;
                line-height: 1;
                padding: 8px 12px 5px 0;
                margin-right: 19px;

                .required {
                    color: $red-color;
                }

                &[for='years_consecutive'] {
                    margin-top: -44px;

                    span {
                        font-size: rem(16);
                    }

                    @include media($to-medium) {
                        margin-top: 0;
                    }

                }

                @include media($to-medium) {
                    border: none;
                    margin-right: 0;
                }

            }

            &--select &__controls:after {
                color: #fff;
            }

        }

        &__control, &__select-label {
			
			background: #ffe6cc;
            font-family: $fallback-sans-serif;
            font-size: rem(16);
            color: $field-color;
            
            padding: 7px 0 7px 10px;
            transition: all 0.3s ease;
            @include placeholder { color: $field-placeholder-color; }

            &:focus {
                border-color: $field-focus-border-color;
            }

            &:disabled, &[readonly]:not(.datepicker-here) {
                opacity: 1;
                color: $field-disabled-color;
            }

            .form__group--error & {
                //border-color: $red-color;
            }

        }

        &__select-label {
            padding-top: 7px;
            padding-bottom: 6px;

            &--placeholder {
                color: rgba(#fff, 0.25);
            }

        }
		
		
		.member{
			margin-top: 10px;
			input[type="radio"]{
				display: none;
			}
			
			input[type="radio"]:checked + label:before {
				content: "X";
				font-size:30px;
			    font-weight: bold;
				text-align: center;
			}
		
		 	label {
				font-family: $fallback-sans-serif;
				font-size: rem(16);
				color: $field-color;
				width: inherit;
				font-weight: bold;
				 
				position: relative;
				padding: 7px 15px 7px 44px;
				cursor: pointer;
				margin: -3px 2px 0 0;
				-webkit-appearance: none;
				-moz-appearance: none;
				-ms-appearance: none;
				-o-appearance: none;
				appearance: none;
				
				
				 
				
				
				&.title{
					padding-left: 0;
					padding-right: 20px;
					
					@include media($to-medium) {
						width:100%;
						display: block;
						margin-top: -30px;
					}
					&:before{
						display: none;
					}
				}
				
				&:before{
	
					content: "";
					position: absolute;
					top: 0px;
					left: 0px;
					width: 34px;
					height: 34px;
					display: block;
					background: #ffe6cc;
					
				}
				
				 
			}
		}

        &__submit {
            width: 100%;
            text-align: center;
            margin: 20px 0 35px;

            &__button {
                width: 193px;
                background-color:transparent;
                color: #fff;
				
                font-size: 0;
                text-transform: uppercase;
                text-align: center;
                padding: 10px 0;
                border: none;
				height: 49px;
                transition: 0.3s all ease;
				background-image: url("../images/update_button.png"); 
				
				
				&.enter{
					
					background-image: url("../images/enter_button.png"); 
				}

                &:focus, &:active {
                    outline: 0;
                }

                &:hover {
					opacity:0.7;
         
                }

            }

            @include media($to-medium) {
                margin: 18px 0 40px;
            }

        }

        &__errors {
            padding: 30px 65px;
            background-color: $errors-bg;
            color: $errors-color;

            @include media($to-medium) {
                padding: 30px;
            }

            strong {
                font-size: rem(20);
            }

        }

    }



	.sponsors {
            padding: 0;
            padding-bottom: 20px;
			border-top: 1px solid $tigers-yellow;
		   position: relative;
		
		
			@include media($to-medium) {
				text-align: center;
			}

            &__title {
                width: 100%;
                border-bottom: 1px solid #000;
                text-align: center;
                margin: 23px 0 0 0;

                span {
                    
                    display: inline-block;
                    background-color: #fff;
                    color: $primary-color;
                    font-size: rem(26);
                    text-transform: uppercase;
                    line-height: 1;
                    padding: 0 75px;
                    position: relative;
                    top: 15px;
                }

                @include media($to-medium) {
                    border: none;
                    margin-top: 6px;

                    span {
                        font-size: rem(21);
                        padding: 0;
                    }

                }

            }

            &__sponsor {
                display: inline-block;
				position: relative;

                img {
                    display: block;
                    width: 100%;
                }

            }

            &__primary {
                position: absolute;
                top: 88px; left: 0;
                width: 100%;
                max-width: 160px;

                .sponsors__sponsor {
                    width: 100%;
                }

                @include media($to-medium) {
                    position: relative;
                    top: auto; left: auto;
                    display: inline-block;
                    margin-top: 31px;
                }

            }

            &__grid {
                padding-left: 190px;
                margin-top: 42px;

                .sponsors__sponsor {
                    width: 105px; height:90px;
                    margin: 0 8px;
					
					
					&.small{
						width: 59px;	
						height: 90px;
					}
                }

                @include media($to-medium) {
                    padding-left: 0;
                    margin-top: 14px;
                }

            }

        }

    .footer {
		
        font-size: rem(12);
        background-color: $footer-bg;
        color: $footer-color;
        font-family: $fallback-sans-serif;
        text-align: center;
        padding: 30px 15px;
        line-height: 1.2;
		
		&.thanks{
			
		}

        &__logo {
            width: 100%; 
			text-align: center;
            margin: 0 auto 10px;
			vertical-align: middle;
			
			
			&__title{
				display: inline-block;
				font-family: 'easycoreregular';
				color:#fff;
				font-size: 103px;
				
				vertical-align: top;
				
				
				span{
					
					color:  $tigers-yellow;
				}
			}

            img{

				display: inline-block;
				padding-right: 20px;

			}

        }
		
		
		&__social{
				text-align: center;
				margin-bottom: 20px;
			
				
				li{
					
					display: inline-block;
					padding: 0 5px;
					
				}
			
		}

        p {
            margin: 0 0 5px 0;
			font-weight: bold;
        }
		
		
		&__inner{
			position: relative;
		}
		
		
        

       

        a {
            color: $footer-color;
            transition: all 0.3s ease;

            &:hover {
                color: $footer-color-hover;
            }

        }

        @include media($to-small) {
            padding-bottom: 42px;
        }

        &__links {
            font-size: 0;

            li {
                display: inline-block;
                font-family: $fallback-sans-serif;
                font-size: rem(12);
                font-weight: bold;
                line-height: 1;
                padding: 0 10px;

                + li {
                    border-left: 1px solid $footer-color;
                }

                @include media($to-medium) {
                    width: 100%;
                    border: none !important;
                    margin: 4px 0;
                }

            }

        }

    }

    // datepicker

    .datepicker--cell.-current-,
    .datepicker--day-name {
        color: $primary-color;
    }
