
@font-face {
    font-family: 'dharma_bold';
    src: url('../fonts/flat-it_-_dharmagothice-bold-webfont.eot');
    src: url('../fonts/flat-it_-_dharmagothice-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/flat-it_-_dharmagothice-bold-webfont.woff2') format('woff2'),
         url('../fonts/flat-it_-_dharmagothice-bold-webfont.woff') format('woff'),
         url('../fonts/flat-it_-_dharmagothice-bold-webfont.ttf') format('truetype'),
         url('../fonts/flat-it_-_dharmagothice-bold-webfont.svg#dharma_gothic_ebold') format('svg');
    font-weight: normal;
    font-style: normal;

}
