
    body {
        background-color: #fff;
        font-family: Helvetica, Arial, sans-serif;
        font-size: 16px;
    }

    .button {
        display: inline-block;
        border: none;
        padding: 0;
        text-indent: -99999em;
        @include transition(all 0.3s ease);

        &:hover, &:focus, &:active {
            text-decoration: none;
            outline: 0;
        }

        &:hover {
            //@include transform(scale(1.1));
        }

    }

    button.button {
        border: none;
    }
