
    .header {
        padding: 0;

        .header-top {

            img {
                max-width: 100%;
            }

        }

        @media (max-width: $screen-sm-min) {
            padding: 0;

            .container { padding: 0; }

        }

    }

    .main {

        &-inner {
            width: 100%; float: left;
            background-color: $primary-color;

            @media (max-width: $screen-sm-min) {
                padding: 0 15px;
            }

        }

        img {
            max-width: 100%;
        }

        @media (max-width: $screen-sm-min) {
            padding: 0;
            overflow: hidden;
        }

        &.thanks {
            padding-right: 15px;
        }

    }

    .form-wrap {
        width: 100%; float: left;

        h2 {
            color: #000;
            font-family: 'dharma_bold';
            font-weight: bold;
            font-size: 50px;
            padding-left: 130px;
            margin: 37px 0 15px 0;
            text-transform: uppercase;

            @media (max-width: $screen-sm-min) {
                padding-left: 0;
            }

        }

        .entry-form {
            position: relative;
            z-index: 999;
        }

        &.success {
            margin: 100px 0;

            @media (max-width: $screen-sm-min) {
                margin: 0 0 40px 0;
            }

        }

    }

    .welcome {
        font-family: 'dharma_bold';
        width: 100%; float: left;
        color: #000;
        font-size: 40px;
        line-height: 0.9;
        text-transform: uppercase;
        padding: 45px 60px 45px 248px;

        .image {
            position: absolute;
            top: -36px; left: 43px;
            width: 196px;
            img { max-width: 100%; }
        }

        strong {
            font-family: 'dharma_bold';
            color: #fff;
        }

        &.thanks {
            padding: 45px 60px 72px 60px;

            @media (max-width: $screen-sm-min) {
                padding: 40px 20px;
            }

        }

        @media (max-width: $screen-sm-min) {
            font-size: 32px;
            padding: 20px 0;

            .text {
                padding: 0;
            }

        }

    }

    .thanks-callout {
        width: 100%; float: left;

        &__top {
            font-family: 'dharma_bold';
            width: 100%; float: left;
            color: #000;
            font-size: 33px;
            line-height: 0.9;
            text-transform: uppercase;
            padding: 33px 30px 12px 285px;
            position: relative;

            @media (max-width: $screen-sm-min) {
                text-align: center;
                padding: 30px;
            }

            .image {
                position: absolute;
                top: -36px; left: 43px;
                width: 200px;
                img { max-width: 100%; }

                @media (max-width: $screen-sm-min) {
                    position: relative;
                    display: inline-block;
                    top: auto; left: auto;
                    margin-bottom: 20px;
                }

            }

            .visit-the-shop {
                width: 136px;
                display: inline-block;
                margin-top: 18px;

                img {
                    width: 100%;
                    display: block;
                }
            }

            strong {
                font-family: 'dharma_bold';
                color: #bf1e2a;
            }

        }

        &__bottom {
            width: 100%;
            float: left;
            padding: 0 47px;
            margin-bottom: 40px;
            font-size: 14px;
            font-weight: bold;
            color: #58595b;
            line-height: 1.2;

            @media (max-width: $screen-sm-min) {
                text-align: center;
                padding: 0 15px;
                margin: 0;
            }

        }

    }

    .main-wrap {

        @media (max-width: $screen-sm-min) {
            padding: 0;
        }

    }

    .entry-form {
        width: 100%; float: left;
        padding: 0 42px;

        .form-group {
            width: 100%; float: left;
            padding: 0;
            position: relative;
            padding-left: 130px;
            margin-bottom: 15px;

            &:last-child {
                margin-bottom: 0;
                .form-control, .control-label {
                    margin-bottom: 0;
                }
            }

            .control-label {
                font-family: 'dharma_bold';
                position: absolute;
                top: 0; left: 0;
                width: 130px; height: 100%;
                font-size: 21px;
                font-weight: normal;
                padding: 3px 10px 0 10px;
                color: #000;
                text-transform: uppercase;
                text-align: right;

                .required {
                    position: absolute;
                    //color: $red;
                    font-size: 12px;
                    top: 0; right: 4px;
                }

                @media (max-width: $screen-sm-min) {
                    color: tint(#000, 40%);
                }

            }

            .controls {
                width: 100%;
                float: left;
                color: #fff;
            }

            .form-control {
                font-family: Helvetica, Arial, sans-serif;
                font-size: 16px;
                color: #000;
                background: none;
                border: none;
                border-bottom: 2px solid #fff;
                padding: 8px 10px 2px 5px;
                @include box-shadow(none);
                @include border-radius(0);
                @include transition(all 0.3s ease);

                &:focus {
                    //background-color: tint($primary-color, 80%);
                    //background-color: tint(#004812, 80%);
                    border-bottom: 2px solid #000;
                    @include box-shadow(none);
                    outline: 0;
                }

                &[type='date'] {
                    //width: 200px;
                }

                &.centered {
                    text-align: center;
                }

                &:disabled, &:read-only:not(select) {
                    color: rgba(#000, 0.5);
                    //cursor: not-allowed;
                }

                @include input-placeholder {
                    color: rgba(#fff, 0.5);
                }

            }

            select {
                width: 100%;
                color: #000;
                @include appearance(none);
            }

            &.width-half {
                width: 50%;
            }

            &.width-third {
                width: 40%;
            }

            &.width-two-thirds {
                width: 60%;
            }

            &.has-error {
                border-bottom-color: $red;

                .control-label {
                    background-color: $red;
                    color: #fff;
                    padding-left: 10px;
                }

            }

            .select2-container .select2-selection--single {
                height: 34px;
                border-radius: 0;
                border: none;
            }

            .select2-container--default .select2-selection--single .select2-selection__rendered {
                padding: 5px 20px 3px 8px;
                font-family: Helvetica, Arial, sans-serif;
                font-size: 16px;
            }

            .select2-container--default .select2-selection--single .select2-selection__arrow {
                height: 31px;
            }

        }


        .submit {
            width: 100%; float: left;
            margin: 15px 0 35px 0;
            padding: 0 0 0 130px;

            .submit-button {
                width: 210px; height: 58px;
                background: url(../images/update-button.png) no-repeat center center transparent;
                background-size: 210px 58px;
                padding-right: 0;
            }

            @media (max-width: $screen-sm-min) {
                padding-left: 0;
                text-align: center;

                .disclaimer {
                    margin-bottom: 15px;
                }

            }

        }

        @media (max-width: $screen-sm-min) {
            padding: 0;

            .form-group {
                width: 100% !important;
                padding-left: 0 !important;

                &.has-error {
                    //padding-left: 5px !important;
                }

                .control-label {
                    position: relative;
                    top: auto; left: auto;
                    width: 100%; float: left;
                    text-align: left;
                    padding: 6px 0 6px 0;
                    margin: 0;
                    color: #000;
                }

                .controls { width: 100%; }

            }

        }

    }

    .disclaimer {
        font-size: 0.75em;
        color: #fff;
        text-align: center;
        margin: 40px 0 28px 0;

        span {
            color: $freo-gold;
        }

    }

    .footer {
        padding: 0;

        .footer-wrap {
            width: 100%; float: left;
        }

        .footer-lockup {
            text-align: center;

            .footer-wrap {
                padding-top: 20px;
                padding-bottom: 15px;
            }

            .social-icons, .logo {
                display: inline-block;
                vertical-align: middle;
                margin: 20px;
            }

            .social-icons {

                img {
                    height: 26px;
                    margin: 0 6px;
                }

            }

            img {
                vertical-align: middle;
            }

            .we-are-raiders img {
                max-height: 29px;
                max-width: 100%;
            }

        }

        .footer-text {
            font-size: 0.75em;
            color: #797979;
            text-align: center;
            font-family: Helvetica, Arial, sans-serif;
            background-color: #f1f2f2;
            padding: 0 15px;

            a {
                color: #000;
            }

            .footer-wrap {
                padding: 29px 100px 50px 100px;

                @media (max-width: $screen-sm-min) {
                    padding: 15px 0 15px 0;
                }

            }

            p.links {
                margin-top: 28px;
            }

        }



    }

    .error-messages {
        width: 100%; float: left;
        background-color: $red;
        text-align: center;
        margin: 0 0 15px 0;
        padding: 10px 15px;
        font-size: 0.75em;
        color: #fff;

        ul {
            list-style: none;
            margin: 0; padding: 0;

            li {
                margin: 0; padding: 0;
            }

        }

        p {
            margin: 0 0 5px 0;
        }

        h2 {
            font-size: 1.75em;
            margin: 30px 0;
        }

    }


    .terms-conditions {
        float: left;
        font-size: 0.875em;
        padding: 0 30px;
        background-color: #fff;
        font-family: Helvetica, Arial, sans-serif;
        color: #000;
        padding-bottom: 30px;

        h2 {
            font-weight: bold;
            text-align: center;
            margin-bottom: 20px;
            padding: 0;
        }

        ul {
            padding: 0;

            li {
                margin: 0 0 5px 0;
            }

        }

    }
