
    body {
        background: $body-bg;
    }

    .header {
        width: 100%;
        background: $header-bg;
        text-align: right;
        padding: 0;

        img {
            display: block;
            width: 100%;
        }

        @include media($to-medium) {
        }

        @include media($to-small) {
        }

    }

    .main {
        background-color: $main-bg;
    }

    .form {

        &__intro {
            font-family: $fallback-sans-serif;
            font-size: rem(19);
            margin-bottom: 30px;
            padding: 0 0 0 0;
            position: relative;
            color: #000;

            @include media($to-small) {
                padding: 0 0 30px 0;
            }

            &__greeting {
                font-size: rem(19);
                font-weight: bold;
                margin-bottom: 15px;
            }

            strong {
                //text-transform: uppercase;
            }

        }

        &__get-updates {
            display: flex;
            margin-top: 30px;
            flex-flow: row wrap;

            &__text {
                flex: 1;
                padding: 0 30px 0 100px;
                position: relative;

                &:before {
                    content: '';
                    position: absolute;
                    top: -12px; left: 16px;
                    width: 66px; height: 64px;
                    background: url(../images/updates.png) no-repeat left top/100% auto transparent;
                }

                &--error {
                    color: $red-color;
                }

                @include media($to-small) {
                    flex: initial;
                    width: 100%;
                }

            }

            &__options {
                flex: 0 0 140px;
                padding-top: 20px;
                font-weight: bold;

                @include media($to-small) {
                    flex: initial;
                    width: 100%;
                    padding-left: 100px;
                }

                > li {
                    display: inline-block;
                    margin-left: 10px;

                    label {
                        cursor: pointer;
                    }

                    input {
                        visibility: hidden;
                        width: 0; height: 0;

                        & + span {
                            display: inline-block;
                            width: 18px; height: 18px;
                            border: 2px solid $primary-color;
                            border-radius: 9px;
                            position: relative;
                            vertical-align: middle;
                            margin-right: 6px;
                            top: -2px;

                            &:before {
                                content: '';
                                position: absolute;
                                top: 2px; left: 2px;
                                width: 10px; height: 10px;
                                background-color: #000;
                                border-radius: 5px;
                                opacity: 0;
                            }

                        }

                        &:checked {
                            & + span:before { opacity: 1; }
                        }

                    }

                }

            }

        }

        &__title {
            margin: 0 0 52px 0;

            h1 {
                width: 206px; height: 24px;
                text-indent: -9999em;
                margin: 0;
                background: url(../images/title-bg.png) no-repeat left top/100% auto transparent;
            }

        }

        &__inner {
            padding: 40px 88px 0;

            @include media($to-medium) {
                padding: 30px 15px 0;
            }

        }

        &__group {
            margin-bottom: 14px;

            @include media($to-medium) {
                margin-bottom: 30px;
            }

            &--error {
                .form__group__label {
                    color: $label-error-color;
                    background-color: $label-error-bg;
                    padding-left: 10px;
                    .required { color: $label-error-color; }
                }
            }

            &__label {
                flex: 0 0 140px;
                font-size: rem(16);
                font-weight: bold;
                color: $label-color;
                text-transform: uppercase;
                text-align: right;
                line-height: 1;
                padding: 8px 12px 5px 0;
                margin-right: 19px;

                .required {
                    color: $red-color;
                }

                &[for='years_consecutive'] {
                    margin-top: -44px;

                    span {
                        font-size: rem(16);
                    }

                    @include media($to-medium) {
                        margin-top: 0;
                    }

                }

                @include media($to-medium) {
                    border: none;
                    margin-right: 0;
                }

            }

            &--select &__controls:after {
                color: #fff;
            }

        }

        &__control, &__select-label {
            font-family: $fallback-sans-serif;
            font-size: rem(16);
            color: $field-color;
            border-bottom: 2px solid $field-border-color;
            padding: 6px 0;
            transition: all 0.3s ease;
            @include placeholder { color: $field-placeholder-color; }

            &:focus {
                border-color: $field-focus-border-color;
            }

            &:disabled, &[readonly]:not(.datepicker-here) {
                opacity: 1;
                color: $field-disabled-color;
            }

            .form__group--error & {
                //border-color: $red-color;
            }

        }

        &__select-label {
            padding-top: 7px;
            padding-bottom: 6px;

            &--placeholder {
                color: rgba(#000, 0.25);
            }

        }

        &__submit {
            width: 100%;
            text-align: center;
            margin: 45px 0 0;
            padding-bottom: 58px;

            &__button {
                width: 260px; height: 62px;
                background: url(../images/update-button.png) no-repeat center center/100% auto transparent;
                text-indent: -9999em;
                border: none;
                transition: 0.3s all ease;

                &:focus, &:active {
                    outline: 0;
                }

                &:hover {
                    background-color: tint($primary-color, 90%);
                }

                &--confirm {
                    background: url(../images/confirm-button.png) no-repeat center center/100% auto transparent;
                }

            }

            @include media($to-medium) {
                margin: 18px 0 40px;
            }

        }

        &__errors {
            padding: 30px 65px;
            background-color: $errors-bg;
            color: $errors-color;
            margin: 40px 0 40px;

            @include media($to-medium) {
                padding: 30px;
            }

            strong {
                font-size: rem(20);
            }

        }

    }

    .footer {
        font-size: rem(11);
        background-color: $footer-bg;
        color: $footer-color;
        font-family: $fallback-sans-serif;
        text-align: center;
        padding: 0;
        line-height: 1.2;

        img {
            display: block;
            width: 100%;
        }

        &__inner {
            padding: 30px;
        }

        p {
            margin: 0 0 1.5em 0;
        }
        a {
            color: $footer-color;
            transition: all 0.3s ease;

            &:hover {
                color: $footer-color-hover;
                text-decoration: none !important;
            }

        }

        @include media($to-small) {
            padding-bottom: 42px;
        }

        &__links {
            font-size: 0;

            li {
                display: inline-block;
                font-family: $fallback-sans-serif;
                font-size: rem(12);
                font-weight: bold;
                line-height: 1;
                padding: 0 10px;

                + li {
                    border-left: 1px solid $footer-color;
                }

                @include media($to-medium) {
                    width: 100%;
                    border: none !important;
                    margin: 4px 0;
                }

            }

        }

    }

    // datepicker

    .datepicker--cell.-current-,
    .datepicker--day-name {
        color: $primary-color;
    }
