@font-face {
  font-family: 'Artegra Sans';
  src: url('Artegra - Artegra Sans Bold.eot'); /* IE9 Compat Modes */
  src: url('Artegra - Artegra Sans Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Artegra - Artegra Sans Bold.woff') format('woff'), /* Modern Browsers */
       url('Artegra - Artegra Sans Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Artegra - Artegra Sans Bold.svg#165d5e13fd613b65631dba1b3dc9ca43') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Artegra Sans';
  src: url('Artegra - Artegra Sans Bold Italic.eot'); /* IE9 Compat Modes */
  src: url('Artegra - Artegra Sans Bold Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Artegra - Artegra Sans Bold Italic.woff') format('woff'), /* Modern Browsers */
       url('Artegra - Artegra Sans Bold Italic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Artegra - Artegra Sans Bold Italic.svg#389a7c6161bdb94f59ecca352477af4a') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  700;
}

@font-face {
  font-family: 'Artegra Sans';
  src: url('Artegra - Artegra Sans ExtraBold.eot'); /* IE9 Compat Modes */
  src: url('Artegra - Artegra Sans ExtraBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Artegra - Artegra Sans ExtraBold.woff') format('woff'), /* Modern Browsers */
       url('Artegra - Artegra Sans ExtraBold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Artegra - Artegra Sans ExtraBold.svg#14b948bc4b5fee4e42a6da981ec697b1') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Artegra Sans';
  src: url('Artegra - Artegra Sans ExtraBold Italic.eot'); /* IE9 Compat Modes */
  src: url('Artegra - Artegra Sans ExtraBold Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Artegra - Artegra Sans ExtraBold Italic.woff') format('woff'), /* Modern Browsers */
       url('Artegra - Artegra Sans ExtraBold Italic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Artegra - Artegra Sans ExtraBold Italic.svg#02f7c7e2da7484e9b9dc0738316a0b78') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  700;
}

@font-face {
  font-family: 'Artegra Sans';
  src: url('Artegra - Artegra Sans Light.eot'); /* IE9 Compat Modes */
  src: url('Artegra - Artegra Sans Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Artegra - Artegra Sans Light.woff') format('woff'), /* Modern Browsers */
       url('Artegra - Artegra Sans Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Artegra - Artegra Sans Light.svg#fc9972741f2f38ccbc624a68cf800d37') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'Artegra Sans';
  src: url('Artegra - Artegra Sans Light Italic.eot'); /* IE9 Compat Modes */
  src: url('Artegra - Artegra Sans Light Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Artegra - Artegra Sans Light Italic.woff') format('woff'), /* Modern Browsers */
       url('Artegra - Artegra Sans Light Italic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Artegra - Artegra Sans Light Italic.svg#30e9a1b19682ad9876e4da4c8b3e5a3c') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  200;
}

@font-face {
  font-family: 'Artegra Sans';
  src: url('Artegra - Artegra Sans Regular.eot'); /* IE9 Compat Modes */
  src: url('Artegra - Artegra Sans Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Artegra - Artegra Sans Regular.woff') format('woff'), /* Modern Browsers */
       url('Artegra - Artegra Sans Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Artegra - Artegra Sans Regular.svg#1e284094533b9466dbea956b3df04d66') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Artegra Sans';
  src: url('Artegra - Artegra Sans Regular Italic.eot'); /* IE9 Compat Modes */
  src: url('Artegra - Artegra Sans Regular Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Artegra - Artegra Sans Regular Italic.woff') format('woff'), /* Modern Browsers */
       url('Artegra - Artegra Sans Regular Italic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Artegra - Artegra Sans Regular Italic.svg#6cbc91e6f77315bbb370ebe5de75b74b') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  400;
}

