@font-face {
  font-family: 'AgencyFBBlackCondensed';
  src: url('AgencyFB-BlackCondensed.eot'); /* IE9 Compat Modes */
  src: url('AgencyFB-BlackCondensed.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('AgencyFB-BlackCondensed.woff') format('woff'), /* Modern Browsers */
       url('AgencyFB-BlackCondensed.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('AgencyFB-BlackCondensed.svg#ed34e5760169b09bfeaa7a2d81b118db') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}

@font-face {
    font-family: 'bgaregular';
    src: url('bga.woff2') format('woff2'),
         url('bga.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'Carnas';
  src: url('Carnas-Reg.eot'); /* IE9 Compat Modes */
  src: url('Carnas-Reg.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Carnas-Reg.woff') format('woff'), /* Modern Browsers */
       url('Carnas-Reg.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Carnas-Reg.svg#04616db9757e2f81a3253ee17d78d0a1') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}
