
    * { box-sizing: border-box; }

    html, body {
        width: 100%; height: 100%;
    }

    body {
        font-size: 16px;
        line-height: 1.33333333333333;

        &.no-overflow {
            overflow: hidden;
        }

    }

    a:link, a:visited {
        text-decoration: none;
        &:hover { text-decoration: underline; }
    }

    h1, h2, h3 {
        font-size: rem(40);
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        line-height: 1;
        margin: 47px 0 50px 0;
    }

    select::-ms-expand { display: none; }

    .body-wrap {
        width: 100%;
    	overflow-x: hidden;
        padding: 0;
    }

    %inner {
        width: 100%;
        max-width: 1200px;
        padding: 0 15px;
        margin: 0 auto;
    }
