@font-face {
  font-family: 'AntennaCondRegular';
  src: url('AntennaCond-Regular.eot?#iefix') format('embedded-opentype'),  url('AntennaCond-Regular.otf')  format('opentype'),
	     url('AntennaCond-Regular.woff') format('woff'), url('AntennaCond-Regular.ttf')  format('truetype'), url('AntennaCond-Regular.svg#AntennaCond-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AntennaCondBlack';
  src: url('AntennaCond-Black.eot?#iefix') format('embedded-opentype'),  url('AntennaCond-Black.otf')  format('opentype'),
	     url('AntennaCond-Black.woff') format('woff'), url('AntennaCond-Black.ttf')  format('truetype'), url('AntennaCond-Black.svg#AntennaCond-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'AntennaComp-Black';
  src: url('AntennaComp-Black.eot?#iefix') format('embedded-opentype'),  url('AntennaComp-Black.otf')  format('opentype'),
	     url('AntennaComp-Black.woff') format('woff'), url('AntennaComp-Black.ttf')  format('truetype'), url('AntennaComp-Black.svg#AntennaComp-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'AntennaCond-Bold';
  src: url('AntennaCond-Bold.eot?#iefix') format('embedded-opentype'),  url('AntennaCond-Bold.otf')  format('opentype'),
	     url('AntennaCond-Bold.woff') format('woff'), url('AntennaCond-Bold.ttf')  format('truetype'), url('AntennaCond-Bold.svg#AntennaCond-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'BebasNeue';
  src: url('BebasNeue.eot?#iefix') format('embedded-opentype'),  url('BebasNeue.otf')  format('opentype'),
	     url('BebasNeue.woff') format('woff'), url('BebasNeue.ttf')  format('truetype'), url('BebasNeue.svg#BebasNeue') format('svg');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'Aller';
  src: url('Aller.eot?#iefix') format('embedded-opentype'),  url('Aller.woff') format('woff'), url('Aller.ttf')  format('truetype'), url('Aller.svg#Aller') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Tahoma-Bold';
  src: url('Tahoma-Bold.eot?#iefix') format('embedded-opentype'),  url('Tahoma-Bold.woff') format('woff'), url('Tahoma-Bold.ttf')  format('truetype'), url('Tahoma-Bold.svg#Tahoma-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'Tahoma';
  src: url('Tahoma.eot?#iefix') format('embedded-opentype'),  url('Tahoma.woff') format('woff'), url('Tahoma.ttf')  format('truetype'), url('Tahoma.svg#Tahoma') format('svg');
  font-weight: normal;
  font-style: normal;
}


