
    // colors
    $wb-red: #c60c30;
    $wb-blue: #0039a6;
    $wb-light-grey: #e0e1e2;
    $wb-light-blue: #bcbfd9;

    $zoos-green: #49743D;
    $zoos-green-dark: #1B3B20;
    $zoos-green-light: #A8AD00;
    $zoos-grey-dark: #1D1D1B;
    $zoos-beige: #D6D2C4;

    $primary-color: $wb-red;
    $secondary-color: $wb-blue;
    $red-color: $wb-red;

    $container-width: 954; // px
    $body-bg: #fff;
    $main-bg: none;
    $footer-bg: $wb-blue;
    $footer-color: #fff;
    $footer-color-hover: #000;
    $label-color: #000;
    $label-error-color: #fff;
    $label-error-bg: $red-color;
    $field-color: #000;
    $field-placeholder-color: rgba($field-color, 0.50);
    $field-disabled-color: rgba($field-color, 0.50);
    $field-border-color: $primary-color;
    $field-focus-border-color: #000;
    $field-error-border-color: $red-color;
    $errors-bg: $red-color;
    $errors-color: #fff;

    // global
    $edge-padding: 15px;

    %__transition {
        transition: 0.3s all ease;
    }

    %__transition--smooth {
        transition: all 0.8s cubic-bezier(.25,.25,0,1);
    }

    %__transition--smooth--fast {
        transition: all 0.4s cubic-bezier(.25,.25,0,1);
    }

    %vertically-centered {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    %flex-grid {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-flow: row wrap;
    }
