@font-face {
  font-family: 'AntennaCond Bold';
  src: url('AntennaCond-Bold.eot'); /* IE9 Compat Modes */
  src: url('AntennaCond-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('AntennaCond-Bold.woff') format('woff'), /* Modern Browsers */
       url('AntennaCond-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('AntennaCond-Bold.svg#67f93eb087718523a500644a8b19cd27') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'AntennaCond Medium';
  src: url('AntennaCond-Medium.eot'); /* IE9 Compat Modes */
  src: url('AntennaCond-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('AntennaCond-Medium.woff') format('woff'), /* Modern Browsers */
       url('AntennaCond-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('AntennaCond-Medium.svg#4f70d5eff637ec86ecb23533eba2f01e') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

