
    // colors
    $afc-navy: #002a5b;
    $afc-yellow: #ffd200;
    $afc-red: #e21836;
    $afc-light-grey: #e0e1e2;
    $afc-bg-grey: #f2f4f7;

    $primary-color: $afc-navy;
    $secondary-color: $afc-red;
    $red-color: $afc-red;

    $container-width: 954; // px
    $body-bg: #fff;
    $main-bg: none;
    $footer-bg: $afc-navy;
    $footer-color: #fff;
    $footer-color-hover: #000;
    $label-color: #000;
    $label-error-color: #fff;
    $label-error-bg: $red-color;
    $field-color: #000;
    $field-placeholder-color: rgba($field-color, 0.50);
    $field-disabled-color: rgba($field-color, 0.50);
    $field-border-color: $primary-color;
    $field-focus-border-color: #000;
    $field-error-border-color: $red-color;
    $errors-bg: $red-color;
    $errors-color: #fff;

    // global
    $edge-padding: 15px;

    %vertically-centered {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    %flex-grid {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-flow: row wrap;
    }
