
    .button {
        @extend %__transition;
        display: inline-block;
        background: none; border: none;
        margin: 0; padding: 0;
        text-decoration: none;
        position: relative;
        text-transform: uppercase;
        line-height: 1;
        text-shadow: none;
        text-align: center;

        &:hover {
            text-decoration: none !important;
        }

        &:active, &:focus {
            outline: 0 !important;
        }

        &:disabled {
            opacity: 0.5;
            cursor: not-allowed;
        }

        &--small {
            font-size: rem(15);
            min-width: 166px;
            padding: 9px 15px;
        }

        &--medium {
            @extend %nimbus !optional;
            font-size: rem(22);
            padding: 10px 24px 9px;
            text-transform: uppercase;

            @include media($to-xsmall) {
                width: 100%;
            }

        }

        &--large {
            @extend %nimbus !optional;
            font-size: rem(40);
            min-width: 235px;
            padding: 10px 60px 9px 15px;
            text-transform: uppercase;

            @include media($to-small) {
                width: 100%; min-width: 0;
            }

        }

        &--green {
            background-color: $zoos-green;
            color: #fff;

            &:hover {
                background-color: $zoos-green-light;
            }

        }

        &--arrow {
            padding: 10px 44px 9px 28px;
            width: 100%;
            max-width: 180px;

            &:before {
                @extend %__transition;
                content: '';
                position: absolute;
                top: 50%; right: 0.363636363636364em;
                width: 0.340909090909091em; height: 0.681818181818182em;
                transform: translateY(-50%);
                background: url(../../images/button--arrow--small.svg) no-repeat center center/100% auto transparent;
            }
        }

        &--large-arrow {

            @include media($to-xsmall) {
                //padding: 10px 70px 9px 24px;
            }

            &:before {
                @extend %__transition;
                content: '';
                position: absolute;
                top: 50%; right: 0.48em;
                width: 0.6em; height: 0.4em;
                transform: translateY(-50%);
                background: url(../../images/button--arrow.svg) no-repeat center center/100% auto transparent;
            }

            &:hover:before {
                transform: translateX(5px) translateY(-50%);
            }

        }

        &--send {
            padding: 10px 24px 9px 14px;
            width: calc(100% + 38px);
            max-width: 360px;

            @include media($to-small) {
                width: calc(100% + 15px);
            }
        }

        &--book {
            font-size: rem(36);
            padding: 7px 64px 7px 26px;
            text-transform: uppercase;

            @include media($to-xsmall) {
                padding: 10px 70px 9px 24px;
            }

        }

        &--play-again, &--change-name {
            max-width: 220px;
            font-size: rem(24);
        }

        &--play-again:before {
            width: 19px; height: 19px;
            background: url(../../images/replay.svg) no-repeat center center/100% auto transparent;
        }

        &--change-name:before {
            width: 16px; height: 18px;
            background: url(../../images/change-name.svg) no-repeat center center/100% auto transparent;
        }

    }
