
    $fallback-sans-serif: Helvetica, Arial, "Lucida Grande", sans-serif;
    $fallback-serif: Georgia, Times, 'Times New Roman', serif;

    @font-face {
      font-family: "Interstate";
      src: url("../../fonts/Interstate.eot");
      src: url("../../fonts/Interstate.eot?") format("embedded-opentype"), url("../../fonts/Interstate.woff") format("woff"), url("../../fonts/Interstate.ttf") format("truetype"), url("../../fonts/Interstate.svg#web") format("svg");
      font-style: normal;
      font-weight: normal;
    }

    @font-face {
      font-family: "InterstateBold";
      src: url("../../fonts/InterstateBold.eot");
      src: url("../../fonts/InterstateBold.eot?") format("embedded-opentype"), url("../../fonts/InterstateBold.woff") format("woff"), url("../../fonts/InterstateBold.ttf") format("truetype"), url("../../fonts/InterstateBold.svg#web") format("svg");
      font-style: normal;
    }

    // @font-face {
    //   font-family: 'Nimbus';
    //   src: url("../../fonts/nimbussannovcon-ult-webfont.eot");
    //   src: url("../../fonts/nimbussannovcon-ult-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/nimbussannovcon-ult-webfont.woff") format("woff"), url("../../fonts/nimbussannovcon-ult-webfont.ttf") format("truetype"), url("../../fonts/nimbussannovcon-ult-webfont.svg#Nimbus") format("svg");
    //   font-weight: normal;
    //   font-style: normal;
    // }

    %interstate {
        font-family: 'Interstate', $fallback-sans-serif;
        font-weight: normal !important;
        -webkit-font-smoothing: antialiased;

        strong {
            font-family: 'InterstateBold', $fallback-sans-serif;
            font-weight: normal !important;
            -webkit-font-smoothing: antialiased;
        }

    }

    %interstate-bold {
        font-family: 'InterstateBold', $fallback-sans-serif;
        font-weight: normal !important;
        -webkit-font-smoothing: antialiased;
    }

    %nimbus {
        font-family: 'nimbus-sans-condensed', $fallback-sans-serif;
        font-weight: 900;
    }

    body {
        @extend %interstate !optional;
    }
