
    .modal {
        display: flex;
        align-items: center;
        align-items: flex-start;
        justify-content: center;
        position: fixed;
        top: 0; left: 0;
        width: 100%; height: 100%;
        padding: 30px;
        z-index: 9999;
        visibility: hidden;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;

        @include media($to-medium) {
            padding: 15px;
        }

        &[data-visible='true'] {
            visibility: visible;
        }

        &__overlay {
            transition: 0.3s all ease;
            position: fixed;
            top: 0; left: 0;
            width: 100%; height: 100%;
            background-color: rgba(#000, 0.5);
            z-index: 10;
            visibility: hidden;
            opacity: 0;

            .modal[data-visible='true'] & {
                visibility: visible;
                opacity: 1;
            }
        }

        &__body {
            transition: 0.3s all ease;
            position: relative;
            width: 100%; max-width: 656px;
            z-index: 20;
            transform: scale(0.9);
            visibility: hidden;
            opacity: 0;
            margin: auto 0;
            background-color: #FFF;
            box-shadow: 10px 10px 50px rgba(#000, 0.25);
            border-radius: 2px;
            overflow: hidden;

            .modal[data-visible='true'] & {
                visibility: visible;
                opacity: 1;
                transform: scale(1);
            }

            .modal--small & {
                max-width: 500px;
            }

        }

    }
