
    .button {
        //@extend %roboto;
        //@extend %standard-transition;
        @extend %icon;
        @extend .icon-arrow-right;
        display: inline-block;
        border: none;
        color: #000;
        font-size: rem(18);
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        line-height: 1;
        margin: 0;
        padding: 13px 22px;
        background: none;
        border-radius: 6px;

        &:hover {
            text-decoration: none !important;
        }

        &:active, &:focus {
            outline: 0 !important;
        }

        &:before {
            position: absolute;
            top: 50%; right: 10px;
            font-size: 14px;
            margin-top: -7px;
            color: #fff;
        }

        &--medium {
            font-size: rem(16);
            padding: 8px 22px;
        }

        &--red {
            background-color: $dogs-red;
            color: #fff;

            &:hover {
                background-color: shade($dogs-red, 15%);
            }

        }

        &--blue {
            background-color: $dogs-blue;
            color: #fff;

            &:hover {
                background-color: shade($dogs-blue, 15%);
            }

        }

        &--icon {
            @extend %icon;
            padding-left: 50px;

            &:before {
                position: absolute;
                top: 50%; left: 18px;
                font-size: 14px;
                margin-top: -7px;
            }

            &--right {
                padding-left: 22px;
                padding-right: 50px;

                &:before {
                    left: auto;
                    right: 18px;
                }

            }

            &--large {

                &:before {
                    font-size: 36px;
                    margin-top: -18px;
                    left: 0;
                }

            }

        }

    }
