
    .form {
        width: 100%;
		margin-bottom: 0;

        &__inner {
            width: 100%;
            @extend %flex-grid;
        }

        &__group {
            width: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-grow: 1;

            &__label {
                text-align: right;
                position: relative;
                padding: 0 10px 0 0;

                .required {
                    position: absolute;
                    top: 0; right: 4px;
                    font-size: rem(12);
                }

                @include media($to-medium) {
                    width: 100% !important;
                    flex: initial !important;
                    text-align: left !important;
                }

            }

            &__controls {
                flex-grow: 1;

                &__label {
                    width: 100%;
                    float: left;
                }

            }

            &--width-half { width: 50%; }
            &--width-third { width: 33.33333%; }
            &--width-two-thirds { width: 66.666666%; }
            &--width-quarter { width: 25%; }
            &--width-three-quarters { width: 75%; }

            &--select {

                .form__group__controls {
                    position: relative;

                    &:after {
                        position: absolute;
                        pointer-events: none;
                        content: '\00276f';
                        top: 6px; right: 8px;
                        transform: rotate(90deg);
                    }

                }

            }

            @include media($to-medium) {
                width: 100%;
                flex-flow: row wrap;
            }

        }

        &__control, &__select-label {
            width: 100%;
            float: left;
            border: none;
            background: none;
            border-radius: 0;

            &:focus, &:active {
                outline: 0;
            }

            &:disabled, &[readonly] {
                cursor: not-allowed;
                opacity: 0.6;
            }

            .form__group--error & {
                background-color: rgba($red-color, 0.1);
                padding-left: 7px;
            }

            &--select {
                cursor: pointer;
            }

        }

        &__control--select {
            position: absolute;
            top: 0; left: 0;
            width: 100%; height: 100%;
            font-size: 14px;
            opacity: 0.001;
            @include appearance(none);
        }

        &__errors {
            width: 100%;
            background-color: $red-color;
            color: #fff;
            padding: 20px 70px 20px;

            @include media($to-medium) {
                padding: 20px 15px 20px;
            }

            p {
                line-height: 1.4;
                margin: 0;
            }

        }

    }
