
    body {
        background-color: #fff;
    }

    .header {
        width: 100%;
        background: url(../images/header-bg.jpg) no-repeat center top;
        background-size: cover;
        text-align: center;
        padding: 45px 15px 0;

        @include media($to-small) {
            padding: 15px 15px 0;
        }

        &__landing-title {
            width: 100%; max-width: 495px;
            margin: 0 auto 16px;

            &__inner {
                width: 100%;
                padding-top: 62.626262626263%;
                background: url(../images/landing-title.png) no-repeat center top;
                background-size: 100% auto;
            }

            @include media($to-medium) {
            }

            @include media($to-small) {
            }

        }

        &__thanks-title {
            width: 100%; max-width: 435px;
            margin: 0 auto 16px;

            &__inner {
                width: 100%;
                padding-top: 57.471264367816%;
                background: url(../images/thanks-title.png) no-repeat center top;
                background-size: 100% auto;
            }

            @include media($to-medium) {
            }

            @include media($to-small) {
            }

        }

        &__players {
            width: 100%; max-width: 325px;
            margin: 0 auto;

            &__inner {
                width: 100%;
                padding-top: 43.076923076923%;
                background: url(../images/players.png) no-repeat center top;
                background-size: 100% auto;
            }

            @include media($to-medium) {
            }

            @include media($to-small) {
            }

        }

        &__players-thanks {
            width: 100%; max-width: 325px;
            margin: 0 auto;

            &__inner {
                width: 100%;
                padding-top: 66.153846153846%;
                background: url(../images/players-thanks.png) no-repeat center top;
                background-size: 100% auto;
            }

            @include media($to-medium) {
            }

            @include media($to-small) {
            }

        }

    }

    .lions-logo {
        width: 100%; max-width: 172px;
        margin: 0 auto 30px;

        &__inner {
            width: 100%;
            padding-top: 116.279069767442%;
            background: url(../images/lions-logo.png) no-repeat center top;
            background-size: 100% auto;
        }

        @include media($to-medium) {
        }

        @include media($to-small) {
        }

    }

    .main {
        background-color: $main-bg;
    }

    .form {

        &__intro {
            font-family: $fallback-sans-serif;
            font-size: rem(16);
            margin-bottom: 42px;

            &__greeting {
                font-size: rem(19);
                font-weight: bold;
                margin-bottom: 26px;
            }

        }

        &__title {

            h1 {
                @extend %univers-condensed-bold;
                font-size: rem(30);
                color: $lions-blue;
                margin: 0 0 30px 0;
            }

        }

        &__inner {
            padding: 46px 50px 0;

            @include media($to-medium) {
                padding: 30px 15px 0;
            }

        }

        &__group {
            margin-bottom: 14px;

            @include media($to-medium) {
                margin-bottom: 30px;
            }

            &--error {
                .form__group__label {
                    color: $label-error-color;
                    background-color: $label-error-bg;
                    padding-left: 10px;
                    .required { color: $label-error-color; }
                }
            }

            &__label {
                @extend %univers-condensed-bold;
                flex: 0 0 110px;
                font-size: rem(16);
                color: $label-color;
                text-transform: uppercase;
                text-align: right;
                line-height: 1;
                padding: 5px 12px 5px 0;
                margin-right: 19px;

                .required {
                    color: $red-color;
                }

                &[for='years_consecutive'] {
                    margin-top: -44px;

                    span {
                        font-size: rem(16);
                    }

                    @include media($to-medium) {
                        margin-top: 0;
                    }

                }

                @include media($to-medium) {
                    border: none;
                    margin-right: 0;
                }

            }

            &--select &__controls:after {
                color: #fff;
            }

        }

        &__control, &__select-label {
            font-family: $fallback-sans-serif;
            font-size: rem(16);
            color: $field-color;
            border-bottom: 1px solid $field-border-color;
            padding: 6px 0;
            transition: all 0.3s ease;
            @include placeholder { color: $field-placeholder-color; }

            &:focus {
                border-color: $field-focus-border-color;
            }

            &:disabled, &[readonly] {
                opacity: 1;
                color: $field-disabled-color;
            }

            .form__group--error & {
                //border-color: $red-color;
            }

        }

        &__select-label {
            padding-top: 7px;
            padding-bottom: 6px;

            &--placeholder {
                color: rgba(#000, 0.25);
            }

        }

        &__submit {
            width: 100%;
            text-align: center;
            margin: 45px 0 60px;

            &__button {
                @extend %univers-condensed-bold;
                width: 200px;
                background-color: $lions-blue;
                color: $lions-yellow;
                font-size: rem(28);
                text-transform: uppercase;
                text-align: center;
                padding: 10px 0;
                border: none;
                transition: 0.3s all ease;
                border-radius: 6px;

                &:focus, &:active {
                    outline: 0;
                }

                &:hover {
                    background-color: shade($lions-blue, 20%);
                }

            }

            @include media($to-medium) {
                margin: 18px 0 40px;
            }

        }

        &__errors {
            padding: 30px 65px;
            background-color: $errors-bg;
            color: $errors-color;

            @include media($to-medium) {
                padding: 30px;
            }

        }

    }

    .footer {
        font-size: rem(11);
        background-color: $footer-bg;
        color: $footer-color;
        font-family: $fallback-sans-serif;
        text-align: center;
        padding: 36px 15px;
        line-height: 1.2;

        p {
            margin: 0 0 5px 0;
        }

        &__sponsors {
            width: 100%; max-width: 244px;
            margin: 0 auto 20px;

            img {
                display: block;
                max-width: 100%;
            }

            @include media($to-medium) {
            }

            @include media($to-small) {
            }

        }

        .required {
            color: $red-color;
        }

        a {
            color: #fff;
            transition: all 0.3s ease;

            &:hover {
                color: $lions-yellow;
            }

        }

        @include media($to-small) {
            padding-bottom: 42px;
        }

        &__links {
            font-size: 0;

            li {
                display: inline-block;
                font-family: $fallback-sans-serif;
                font-size: rem(12);
                font-weight: bold;
                line-height: 1;
                padding: 0 10px;

                + li {
                    border-left: 1px solid #fff;
                }

                @include media($to-medium) {
                    width: 100%;
                    border: none !important;
                    margin: 4px 0;
                }

            }

        }

    }

    // datepicker

    .datepicker--cell.-current-,
    .datepicker--day-name {
        color: $primary-color;
    }
