
    body {
        background-color: #000;
    }

    .header {
        position: relative;
        width: 100%;
        background: url(../images/header-bg.jpg) no-repeat center top;
        background-size: cover;
        overflow: hidden;

        @include media($to-small) {
            padding: 27px 20px 10px 20px;
            text-align: center;
        }

        &__title {
            width: 374px;
            margin: 25px 0 38px 76px;
            position: relative;
            z-index: 20;

            &__inner {
                width: 100%;
                padding-top: 117.647058823529%;
                background-size: 100% auto;
                background-position: center top;
                background-repeat: no-repeat;

                &--primary {
                    background-image: url(../images/primary-header.png);
                }

                &--secondary {
                    background-image: url(../images/secondary-header.png);
                }

                &--thanks {
                    background-image: url(../images/thanks-header.png);
                }

            }

            @include media($to-medium) {
                margin-left: 43px;
            }

            @include media($to-small) {
                display: inline-block;
                margin: 0;
                width: 100%; max-width: 374px;
            }

        }

        &__player {
            position: absolute;
            bottom: 0; left: 490px;
            width: 347px; height: 500px;
            background: url(../images/player.png) no-repeat center top;
            background-size: 100% auto;
            z-index: 10;

            @include media($to-medium) {
                left: auto;
                right: -160px;
            }

            @include media($to-small) {
                display: none;
            }

        }

    }

    .main {
        background-color: #fff;
    }

    .hospitality-question {
        margin: 0 0 26px 0;

        p {
            font-family: $fallback-sans-serif;
            font-size: rem(22);
            color: #000;
            margin: 0 0 26px 0;

            &.small {
                font-size: rem(12);
            }

            @include media($to-small) {
                font-size: rem(18);
            }

        }

        .form__submit {
            margin: 0 0 35px 0;

            &__button {
                width: 100%;
                font-size: rem(40);
                line-height: 0.9;
                padding: 18px 15px;

                @include media($to-small) {
                    font-size: rem(30);
                }

            }

        }

    }

    .callouts {
        text-align: center;
        padding: 40px 30px;

        @include media($to-small) {
            padding: 20px;
        }

        &__or {
            @extend %conduit-black;
            font-size: rem(82);
            color: $primary-color;
            line-height: 1;

            @include media($to-small) {
                font-size: rem(36);
                margin: 19px 0 24px 0;
            }

        }

        &__callout {
            display: inline-block;
            width: 100%;
            max-width: 790px;

            &__inner {
                width: 100%;
                padding-top: 30.379746835443%;
                background-size: 100% auto;
                background-position: center top;
                background-repeat: no-repeat;

                @include media($to-small) {
                    padding-top: 93.703703703704%;
                }

                &--magpie-insider {
                    background-image: url(../images/callout-magpie-insider.jpg);

                    @include media($to-small) {
                        background-image: url(../images/callout-magpie-insider-small.jpg);
                    }

                }

                &--years-service {
                    background-image: url(../images/callout-years-service.jpg);

                    @include media($to-small) {
                        background-image: url(../images/callout-years-service-small.jpg);
                    }

                }

            }

            img {
                display: block;
                width: 100%;
            }

        }

    }

    .form {

        &__title {

            h1 {
                @extend %conduit-bold;
                font-size: rem(39);
                color: #000;
                margin: 0 0 21px 0;
            }

        }

        &__inner {
            padding: 49px 82px 0;

            @include media($to-medium) {
                padding: 30px 30px 0;
            }

        }

        &__group {
            margin-bottom: 14px;

            @include media($to-medium) {
                margin-bottom: 30px;
            }

            &--years_consecutive {
                margin-top: 49px;

                @include media($to-medium) {
                    margin-top: 0;
                }

            }

            &--error {
                border-color: $red-color;
                .form__group__label {
                    color: #fff;
                    background-color: $red-color;
                    padding-left: 10px;
                    .required { color: #fff; }
                }
            }

            &__label {
                flex: 0 0 150px;
                font-size: rem(22);
                color: #000;
                text-transform: uppercase;
                text-align: right;
                line-height: 1;
                padding: 5px 12px 5px 0;
                margin-right: 19px;

                .required {
                    color: $cfc-gold;
                }

                &[for='years_consecutive'] {
                    margin-top: -44px;

                    span {
                        font-size: rem(16);
                    }

                    @include media($to-medium) {
                        margin-top: 0;
                    }

                }

                @include media($to-medium) {
                    border: none;
                }

            }

        }

        &__control, &__select-label {
            font-family: $fallback-sans-serif;
            font-size: rem(18);
            color: #000;
            border-bottom: 1px solid $primary-color;
            padding: 6px 0;
            transition: all 0.3s ease;
            @include placeholder { color: rgba(#000, 0.25); }

            &:focus {
                border-color: #000;
            }

            &:disabled, &[readonly] {
                opacity: 1;
                color: rgba(#000, 0.5);
            }

            .form__group--error & {
                //border-color: $red-color;
            }

        }

        &__select-label {
            padding-top: 7px;
            padding-bottom: 6px;

            &--placeholder {
                color: rgba(#000, 0.25);
            }

        }

        &__submit {
            width: 100%;
            text-align: center;
            margin: 55px 0 76px;

            &__button {
                @extend %conduit-black;
                width: 200px;
                background-color: $primary-color;
                color: #fff;
                font-size: rem(28);
                text-transform: uppercase;
                text-align: center;
                padding: 10px 0;
                border: none;
                transition: 0.3s all ease;

                &:focus, &:active {
                    outline: 0;
                }

                &:hover {
                    background-color: #000;
                }

            }

            @include media($to-medium) {
                margin: 18px 0 40px;
            }

        }

        &__errors {
            padding: 30px 65px;
            background-color: #000;
            border-top: 20px solid #fff;
            border-bottom: 20px solid #fff;

            strong {
                color: $primary-color;
            }

            @include media($to-medium) {
                padding: 30px;
            }

        }

    }

    .footer {
        background-color: #000;
        font-family: $fallback-sans-serif;
        text-align: center;
        padding: 0 20px 72px 20px;

        @include media($to-small) {
            padding-bottom: 42px;
        }

        &__tagline {
            display: inline-block;
            width: 100%; max-width: 473px;
            margin: 83px 0 8px 0;

            &__inner {
                width: 100%;
                padding-top: 11.627906976744%;
                background: url(../images/tagline.png) no-repeat center top;
                background-size: 100% auto;
            }

            @include media($to-small) {
                margin: 30px 0 0 0;
            }

        }

        &__bottom {
            color: $primary-color;
            font-size: rem(13);

            a {
                color: $primary-color;
                transition: all 0.3s ease;

                &:hover {
                    text-decoration: none;
                    color: #fff;
                }

            }

            &__links {
                font-size: 0;

                li {
                    display: inline-block;
                    font-size: rem(12);
                    text-transform: uppercase;
                    line-height: 1;
                    padding: 0 10px;

                    + li {
                        border-left: 1px solid $primary-color;
                    }

                    @include media($to-medium) {
                        width: 100%;
                        border: none !important;
                        margin: 4px 0;
                    }

                }

            }

            @include media($to-medium) {
                margin-top: 20px;
            }

        }


    }

    // datepicker

    .datepicker--cell.-current-,
    .datepicker--day-name {
        color: $primary-color;
    }
