
    $light-green: #379840;
    $light-blue: #00aef0;
    $yellow: #ffec00;
    $red: #ff0019;
    $hover:#c3c8cc;

    $freo-gold: #c69c6d;
    $freo-purple: #331c54;
    
    $primary-color: #93c849;
    $secondary-color: #000;
    