@font-face {
    font-family: 'DD Home Holding';
    src: url('icons/ddhomeholding.eot?#iefix') format('embedded-opentype'),
         url('icons/ddhomeholding.woff') format('woff'),
         url('icons/ddhomeholding.ttf') format('truetype'),
         url('icons/ddhomeholding.svg#ddhomeholding') format('svg');
    font-weight: normal;
    font-style: normal;
}

%icon {
    position: relative;

    &:before {
    	font-family: 'DD Home Holding';
    	speak: none;
    	font-style: normal;
    	font-weight: normal;
    	font-variant: normal;
    	text-transform: none;
    	line-height: 1;
    	-webkit-font-smoothing: antialiased;
    	-moz-osx-font-smoothing: grayscale;
    	text-indent: 0 !important;
    }

}


.icon-facebook:before { content: '\e000'; }
.icon-instagram:before { content: '\e001'; }
.icon-twitter:before { content: '\e002'; }
.icon-youtube:before { content: '\e003'; }
.icon-arrow-right:before { content: '\e004'; }
.icon-arrow-down:before { content: '\e005'; }
