
    $fallback-sans-serif: Helvetica, Arial, "Lucida Grande", sans-serif;
    $fallback-serif: Georgia, Times, 'Times New Roman', serif;

    %roboto {
        font-family: 'Roboto Condensed', $fallback-sans-serif;
        font-weight: 400;
    }

    %arvo {
        font-family: 'Arvo', $fallback-serif;
        font-weight: 700;
    }

    body {
        @extend %roboto;
    }
