
    body {
        background: url(../images/page-bg.jpg) no-repeat center top #000;
    }

    .header {
        position: relative;
        width: 100%;
        background-color: #000;
        overflow: hidden;
        padding: 9px 15px;
        text-align: center;

        @include media($to-small) {
        }

        &__logo {
            display: inline-block;
            width: 100%; max-width: 367px;

            &__inner {
                width: 100%;
                padding-top: 16.621253405995%;
                background-image: url(../images/header-logo.png);
                background-size: 100% auto;
                background-position: center top;
                background-repeat: no-repeat;
            }

            @include media($to-medium) {
                margin-left: 43px;
            }

            @include media($to-small) {
                display: inline-block;
                margin: 0;
                width: 100%; max-width: 374px;
            }

        }

        &__player {
            position: absolute;
            bottom: 0; left: 490px;
            width: 347px; height: 500px;
            background: url(../images/player.png) no-repeat center top;
            background-size: 100% auto;
            z-index: 10;

            @include media($to-medium) {
                left: auto;
                right: -160px;
            }

            @include media($to-small) {
                display: none;
            }

        }

    }

    .thanks-header {
        width: 100%;
        text-align: center;
        padding: 114px 30px 65px 30px;
        background-image: linear-gradient(rgba(#000, 0.85), transparent);

        @include media($to-small) {
        }

        &__banner {
            display: inline-block;
            width: 100%; max-width: 526px;

            &__inner {
                width: 100%;
                padding-top: 46.958174904943%;
                background-image: url(../images/thank-you.png);
                background-size: 100% auto;
                background-position: center top;
                background-repeat: no-repeat;
            }

        }

        @include media($to-small) {
            padding: 20px;
        }

    }

    .thanks {
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        padding: 35px 30px 32px 30px;

        @include media($to-small) {
            padding: 25px 20px 22px;
        }

        &__title {
            @extend %liberator-heavy;
            font-size: rem(42);
            color: $cfc-gold;
            line-height: 1;
            padding: 0 70px;
            margin-bottom: 48px;
            position: relative;

            &:after {
                content: '';
                position: absolute;
                bottom: -23px; left: 50%;
                width: 320px; height: 3px;
                margin-left: -160px;
                background-color: $cfc-gold;
            }

            @include media($to-small) {
                padding: 0;
                font-size: rem(30);

                &:after {
                    width: 160px;
                    margin-left: -80px;
                }

            }

        }

        &__byline {
            @extend %news-gothic-bold;
            font-size: rem(20);
        }

    }

    .main {
        background-color: rgba(#fff, 0.9);
        padding: 30px;
        @include outer-container;

        &__inner {
            width: 100%;
            background-color: #fff;
            display: flex;
            flex-flow: row wrap;

            @include media($to-medium) {
                padding: 20px;
            }

            @include media($to-small) {
                padding: 10px;
            }

        }

        @include media($to-small) {
            padding: 10px;
        }

    }

    .sidebar {
        width: 50%;
        padding: 14px 24px 21px;

        @include media($to-medium) {
            width: 100%;
            padding: 0;
            margin-bottom: 30px;
        }

        &__intro {
            @extend %liberator-heavy;
            font-size: rem(40);
            text-transform: uppercase;
            line-height: 1.1;
            color: $cfc-gold;
            margin-bottom: 10px;

            @include media($to-small) {
                font-size: rem(30);
            }

        }

        &__info {
            @extend %news-gothic-bold;
            font-size: rem(20);
            line-height: 1.2;
            margin-bottom: 25px;

            @include media($to-small) {
                font-size: rem(18);
            }

        }

        &__details {
            font-size: rem(18);
            line-height: 1.2;
            margin-bottom: 21px;

            &__title {
                @extend %liberator-heavy;
                font-size: rem(22);
                text-transform: uppercase;
                line-height: 1;
                margin-bottom: 5px;
            }

        }

        &__disclaimer {
            font-size: rem(12);
            color: #808285;
            line-height: 1.2;
        }

    }

    .consecutive-years {
        width: 100%;
        text-align: center;
        line-height: 72px;

        &__title {
            @extend %liberator-heavy;
            font-size: rem(53);
            color: #fff;
            text-transform: uppercase;
            line-height: 0.9;
            margin: 46px 0 12px 0;
            //@include appearance(none);

            @include media($to-small) {
                font-size: rem(40);
                margin-top: 0;
            }

            span {
                font-size: rem(109);

                @include media($to-small) {
                    font-size: rem(80);
                }

            }

        }

        &__field {
            display: inline-block;
            width: 100%; max-width: 262px;
            text-align: center;
            //border: 5px solid #898989;
            position: relative;
            overflow: hidden;

            @include media($to-small) {
                width: 90%;
            }

            input[type=number]::-webkit-inner-spin-button,
            input[type=number]::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }

            &__input {
                position: absolute;
                top: 0; left: -50%;
                width: 200%; height: 100%;
                background: $cfc-gold;
                color: transparent;
                font-size: 100px;
                z-index: 20;
                opacity: 0.001;
                transition: 0.3s all ease;
                cursor: pointer;
                text-indent: -9999em;

                &:focus {
                    //opacity: 0.15;

                    & + .consecutive-years__field__display {
                        border-color: $cfc-gold;
                        box-shadow: 0 0 80px rgba(#fff, 0.5);
                        .consecutive-years__field__display__digit {
                            @include animation(blink 1.5s ease-in infinite);
                        }
                    }

                }

            }

            &__display {
                z-index: 10;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 5px solid #898989;
                transition: 0.3s all ease;

                &__digit {
                    width: 119px; height: 171px;
                    background: url(../images/digits/bg.png) no-repeat center center;
                    margin: 0 -7px;
                    position: relative;
                    transition: 0.3s all ease;

                    &__inner {
                        position: absolute;
                        top: 0; left: 0;
                        width: 100%; height: 100%;
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: 100% auto;

                        &[data-digit='1'] { background-image: url(../images/digits/1.png); }
                        &[data-digit='2'] { background-image: url(../images/digits/2.png); }
                        &[data-digit='3'] { background-image: url(../images/digits/3.png); }
                        &[data-digit='4'] { background-image: url(../images/digits/4.png); }
                        &[data-digit='5'] { background-image: url(../images/digits/5.png); }
                        &[data-digit='6'] { background-image: url(../images/digits/6.png); }
                        &[data-digit='7'] { background-image: url(../images/digits/7.png); }
                        &[data-digit='8'] { background-image: url(../images/digits/8.png); }
                        &[data-digit='9'] { background-image: url(../images/digits/9.png); }
                        &[data-digit='0'] { background-image: url(../images/digits/0.png); }

                    }

                }

            }

        }

    }

    @include keyframes(blink) {
      0% { opacity: 1; }
      50% { opacity: 0.5; }
      100% { opacity: 1; }
    }

    .form {
        width: 50%;
        padding: 34px 26px 0 0;

        @include media($to-medium) {
            width: 100%;
            padding: 0;
        }

        &__inner {
            background-color: #000;
            border: 8px solid #898989;
            color: #fff;

            @include media($to-large) {
                padding: 30px 0 0;
            }

            @include media($to-medium) {
                //padding: 30px 30px 0;
            }

        }

        &__group {
            margin-bottom: 14px;

            @include media($to-medium) {
                margin-bottom: 30px;
            }

            &--years_consecutive {
                margin-top: 49px;

                @include media($to-medium) {
                    margin-top: 0;
                }

            }

            &--error {
                border-color: $red-color;
                .form__group__label {
                    color: #fff;
                    background-color: $red-color;
                    padding-left: 10px;
                    .required { color: #fff; }
                }
            }

            &__label {
                flex: 0 0 150px;
                font-size: rem(22);
                color: #000;
                text-transform: uppercase;
                text-align: right;
                line-height: 1;
                padding: 5px 12px 5px 0;
                margin-right: 19px;

                .required {
                    color: $cfc-gold;
                }

                &[for='years_consecutive'] {
                    margin-top: -44px;

                    span {
                        font-size: rem(16);
                    }

                    @include media($to-medium) {
                        margin-top: 0;
                    }

                }

                @include media($to-medium) {
                    border: none;
                }

            }

        }

        &__control, &__select-label {
            font-family: $fallback-sans-serif;
            font-size: rem(18);
            color: #000;
            border-bottom: 1px solid $primary-color;
            padding: 6px 0;
            transition: all 0.3s ease;
            @include placeholder { color: rgba(#000, 0.25); }

            &:focus {
                border-color: #000;
            }

            &:disabled, &[readonly] {
                opacity: 1;
                color: rgba(#000, 0.5);
            }

            .form__group--error & {
                //border-color: $red-color;
            }

        }

        &__select-label {
            padding-top: 7px;
            padding-bottom: 6px;

            &--placeholder {
                color: rgba(#000, 0.25);
            }

        }

        &__submit {
            width: 100%;
            text-align: center;
            margin: 1px 0 41px;

            &__button {
                @extend %liberator-heavy;
                width: 180px;
                background-color: #000;
                color: #fff;
                font-size: rem(42);
                text-transform: uppercase;
                text-align: center;
                padding: 6px 0 0 0;
                border: none;
                transition: 0.3s all ease;
                border: 3px solid $cfc-gold;
                line-height: 1;

                &:focus, &:active {
                    outline: 0;
                }

                &:hover {
                    background-color: rgba($cfc-gold, 0.25);
                }

            }

            @include media($to-medium) {
                margin: 18px 0 40px;
            }

        }

        &__errors {
            padding: 30px 65px;
            background-color: $cfc-red;
            border: 20px solid #fff;

            strong {
                //color: $primary-color;
            }

            @include media($to-medium) {
                padding: 30px;
            }

        }

    }

    .footer {
        font-family: $fallback-sans-serif;
        text-align: center;
        padding: 40px 20px 30px 20px;

        &--thanks {
            background-color: #000;
        }

        @include media($to-small) {
            padding-bottom: 42px;
        }

        &__tagline {
            display: inline-block;
            width: 100%; max-width: 473px;
            margin: 0 0 20px 0;

            &__inner {
                width: 100%;
                padding-top: 11.627906976744%;
                background: url(../images/tagline.png) no-repeat center top;
                background-size: 100% auto;
            }

            @include media($to-small) {
                margin: 30px 0 0 0;
            }

        }

        &__bottom {
            color: #808285;
            font-size: rem(13);

            a {
                color: #808285;
                transition: all 0.3s ease;

                &:hover {
                    text-decoration: none;
                    color: #fff;
                }

            }

            &__links {
                font-size: 0;

                li {
                    display: inline-block;
                    font-size: rem(12);
                    line-height: 1;
                    padding: 0 10px;

                    + li {
                        border-left: 1px solid #808285;
                    }

                    @include media($to-medium) {
                        width: 100%;
                        border: none !important;
                        margin: 4px 0;
                    }

                }

            }

            @include media($to-medium) {
                margin-top: 20px;
            }

        }


    }

    // datepicker

    .datepicker--cell.-current-,
    .datepicker--day-name {
        color: $primary-color;
    }
