
    $fallback-sans-serif: Helvetica, Arial, "Lucida Grande", sans-serif;
    $fallback-serif: Georgia, Times, 'Times New Roman', serif;


@font-face {
    font-family: 'ArtegraSansBoldItalic';
    src: url('../../fonts/artegra_-_artegra_sans_alt_bold_italic-webfont.woff2') format('woff2'),
         url('../../fonts/artegra_-_artegra_sans_alt_bold_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'ArtegraSansBold';
    src: url('../../fonts/artegra_-_artegra_sans_alt_bold-webfont.woff2') format('woff2'),
         url('../../fonts/artegra_-_artegra_sans_alt_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ArtegraSansExtraBoldItalic';
    src: url('../../fonts/artegra_-_artegra_sans_alt_extrabold_italic-webfont.woff2') format('woff2'),
         url('../../fonts/artegra_-_artegra_sans_alt_extrabold_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'ArtegraSansExtraBold';
    src: url('../../fonts/artegra_-_artegra_sans_alt_extrabold-webfont.woff2') format('woff2'),
         url('../../fonts/artegra_-_artegra_sans_alt_extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'ArtegraSansLightItalic';
    src: url('../../fonts/artegra_-_artegra_sans_alt_light_italic-webfont.woff2') format('woff2'),
         url('../../fonts/artegra_-_artegra_sans_alt_light_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ArtegraSansLight';
    src: url('../../fonts/artegra_-_artegra_sans_alt_light-webfont.woff2') format('woff2'),
         url('../../fonts/artegra_-_artegra_sans_alt_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'ArtegraSansRegularItalic';
    src: url('../../fonts/artegra_-_artegra_sans_alt_regular_italic-webfont.woff2') format('woff2'),
         url('../../fonts/artegra_-_artegra_sans_alt_regular_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ArtegraSansRegular';
    src: url('../../fonts/artegra_-_artegra_sans_alt_regular-webfont.woff2') format('woff2'),
         url('../../fonts/artegra_-_artegra_sans_alt_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

    %artegra {
        font-family: 'ArtegraSansRegular', $fallback-serif;

        strong {
            font-family: 'ArtegraSansBold', $fallback-serif;
            font-weight: normal !important;
        }

    }

    %artegra-bold {
        font-family: 'ArtegraSansBold', $fallback-serif;
        font-weight: normal !important;
    }

    %artegra-bold-italic {
        font-family: 'ArtegraSansBoldItalic', $fallback-serif;
        font-weight: normal !important;
    }

    %artegra-extrabold {
        font-family: 'ArtegraSansExtraBold', $fallback-serif;
        font-weight: normal !important;

        em {
            font-family: 'ArtegraSansExtraBoldItalic', $fallback-serif;
            font-style: normal !important;
            font-weight: normal !important;
        }
    }

    %artegra-extrabold-italic {
        font-family: 'ArtegraSansExtraBoldItalic', $fallback-serif;
        font-style: normal !important;
        font-weight: normal !important;
    }

    %artegra-light {
        font-family: 'ArtegraSansLight', $fallback-serif;
        font-weight: normal !important;
    }

    body {
        @extend %artegra !optional;
    }
