
    .button {
        @extend %montserrat-bold;
        display: inline-block;
        background: $dc-blue;
        font-size: rem(12);
        color: #fff;
        text-transform: uppercase;
        padding: 14px 26px;
        border: none;
        border-radius: 6px;
        transition: all 0.3s ease;
        vertical-align: middle;

        &.icon {
            position: relative;
            padding-right: 50px;

            &:before {
                position: absolute;
                top: 50%; right: 12px;
                font-size: 12px;
                margin-top: -6px;
            }

        }

        &:hover {
            background-color: tint($dc-blue, 15%);
            text-decoration: none !important;
        }

        &:active, &:focus {
            outline: 0;
        }

        // button colours

        &--red {
            background-color: $dc-red;
            &:hover { background-color: tint($dc-red, 15%); }
        }

        &--green {
            background-color: $dc-green;
            &:hover { background-color: tint($dc-green, 15%); }
        }

        &--pink {
            background-color: $dc-pink;
            &:hover { background-color: tint($dc-pink, 15%); }
        }

        &--blue {
            background-color: $dc-light-blue;
            &:hover { background-color: tint($dc-light-blue, 15%); }
        }

        &--dark-blue {
            background-color: $dc-dark-blue;
            &:hover { background-color: tint($dc-dark-blue, 15%); }
        }

        &--purple {
            background-color: $dc-purple;
            &:hover { background-color: tint($dc-purple, 15%); }
        }

        // button sizes

        &--small {
            padding: 8px 26px;
        }

        &--large {
            font-size: rem(16);
            padding: 20px 30px;
        }

        &--inline {
            margin: 0 4px;

            &:first-of-type { margin-left: 0; }
            &:last-of-type { margin-right: 0; }

        }

    }

    .button-switch {
        display: inline-block;
        vertical-align: middle;

        &__options {
            display: inline-block;
            vertical-align: middle;
            width: 132px; height: 30px;
            padding: 2px;
            border: 1px solid #fff;
            border-radius: 6px;
            font-size: 0;
            position: relative;
            transition: all 0.5s ease;
            cursor: pointer;

            &[data-state='on'] {
                border-color: $dc-green;
                &:before {
                    background-color: $dc-green;
                    border-radius: 4px 0 0 4px;
                    transform: translateX(-32px);
                }
            }

            &[data-state='off'] {
                border-color: $dc-red;
                &:before {
                    background-color: $dc-red;
                    border-radius: 0 4px 4px 0;
                    transform: translateX(32px);
                }
            }

            &:before {
                content: '';
                position: absolute;
                top: 2px; left: 50%;
                width: 62px; height: 24px;
                margin-left: -31px;
                z-index: 10;
                transform: translateX(0);
                transition: all 0.5s ease;
            }

        }

        &__option {
            @extend %montserrat-regular;
            display: inline-block;
            width: 50%; height: 24px;
            line-height: 24px;
            text-align: center;
            font-size: rem(12);
            text-transform: uppercase;
            color: #fff;
            position: relative;
            z-index: 20;
        }

        &__label {
            display: inline-block;
            vertical-align: middle;
            font-size: rem(13);
            color: #fff;
            margin-right: 10px;
        }

    }

    .button-group {
        display: inline-block;
        vertical-align: middle;

        + .button-group {
            margin-left: 20px;
        }

        &__buttons {
            display: inline-block;
            vertical-align: middle;
            font-size: 0;
        }

        &__label {
            display: inline-block;
            vertical-align: middle;
            font-size: rem(13);
            margin-right: 10px;
        }

        &__button {
            @extend %montserrat-regular;
            display: inline-block;
            border: 1px solid $dc-grey-2;
            background: #fff;
            font-size: rem(12);
            color: $dc-dark-blue;
            margin-left: -1px;
            transition: all 0.3s ease;
            padding: 7px 8px;

            .button-group--no-border & {
                @extend %montserrat-bold;
                font-size: rem(13);
                color: $dc-grey-3;
                text-transform: uppercase;
                border: none;
                padding: 7px 16px;

                &.active, &:active, &:hover {
                    background: none;
                    color: $dc-dark-blue;
                }

            }

            &:hover, &.active {
                background-color: $dc-grey-1;
            }

            &:active, &:focus {
                outline: 0;
            }

            &:active {
                background-color: $dc-grey-2;
            }

            &:first-child {
                border-radius: 5px 0 0 5px;
            }

            &:last-child {
                border-radius: 0 5px 5px 0;
            }

            &.icon {
                @extend %montserrat-bold;
                text-transform: uppercase;

                &:before {
                    position: absolute;
                    top: 50%;
                    font-size: 10px;
                    color: $dc-dark-blue;
                    margin-top: -5px;
                }

            }

            &.icon-carret-left {
                padding-left: 24px;

                &:before {
                    left: 7px;
                }

            }

            &.icon-carret-right {
                padding-right: 24px;

                &:before {
                    right: 7px;
                }

            }

        }

    }
