
    .dropdown {
        position: relative;

        &__list {
            position: absolute;
            top: 100%;
            width: 200px;
            border: 1px solid $dc-grey-2;
            background-color: #fff;
            font-size: rem(13);
            transition: all 0.2s ease;
            z-index: 999;
            text-align: left;
            visibility: hidden;
            opacity: 0;
            box-shadow: 0px 4px 2px -2px rgba(#000, 0.15);

            &--right {
                right: 0;
            }

            &__info {
                padding: 15px 20px 11px 20px;
                border-bottom: 1px solid $dc-grey-2;
            }

            &__separator {
                border-bottom: 2px solid $dc-grey-2;
            }

            &__link {
                @extend %trade-gothic-bold;
                border-bottom: 1px solid $dc-grey-2;

                a {
                    display: block;
                    padding: 15px 20px 11px 20px;
                    color: $dc-dark-blue;
                    transition: all 0.3s ease;

                    &:hover {
                        background-color: $dc-grey-1;
                        text-decoration: none !important;
                    }

                }

                &--highlight a {
                    color: $dc-blue;
                }

                &--indented a {
                    @extend %trade-gothic;
                    padding-left: 30px;

                }

            }

            li:last-child {
                border-bottom: none;
            }

        }

        &:hover {

            .dropdown__list {
                opacity: 1;
                visibility: visible;
            }

        }

    }

    .inline-dropdown {
        display: inline-block;
        vertical-align: middle;
        width: 100%; max-width: 260px;
        position: relative;
        @include user-select(none);

        &__label {
            @extend %montserrat-bold;
            @extend %icon;
            @extend .icon-carret-down;
            display: block;
            width: 100%;
            border: 1px solid $dc-grey-2;
            border-radius: 6px;
            font-size: rem(12);
            text-transform: uppercase;
            text-align: center;
            padding: 8px 30px 6px;
            color: $dc-dark-blue;
            position: relative;
            transition: all 0.3s ease;
            cursor: pointer;

            &:before {
                position: absolute;
                top: 50%; right: 10px;
                font-size: 10px;
                margin-top: -5px;
            }

            &:hover {
                background-color: $dc-grey-1;
            }

            .inline-dropdown--active & {
                border-radius: 5px 5px 0 0;
                @extend .icon-carret-up;
            }

        }

        &__list {
            position: absolute;
            top: 100%; left: 0;
            width: 100%;
            margin-top: -1px;
            background-color: #fff;
            border: 1px solid $dc-grey-2;
            transition: all 0.2s ease;
            opacity: 0;
            visibility: hidden;
            border-radius: 0 0 5px 5px;
            overflow: hidden;

            .inline-dropdown--active & {
                opacity: 1;
                visibility: visible;
            }

            &__link {

                a {
                    @extend %montserrat-regular;
                    display: block;
                    font-size: rem(13);
                    padding: 14px 20px 10px;
                    color: $dc-dark-blue;
                    transition: all 0.3s ease;

                    &:hover {
                        background-color: $dc-grey-1;
                    }

                }

                + li {
                    border-top: 1px solid $dc-grey-2;
                }

            }

        }

    }
