
    $fallback-sans-serif: "HelveticaNeue-Condensed", "Helvetica Neue Condensed", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    $fallback-serif: Georgia, Times, 'Times New Roman', serif;

    @font-face {
      font-family: 'Trade Gothic Regular';
      src: url('../fonts/TradeGothicLTStd.eot'); /* IE9 Compat Modes */
      src: url('../fonts/TradeGothicLTStd.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
           url('../fonts/TradeGothicLTStd.woff') format('woff'), /* Modern Browsers */
           url('../fonts/TradeGothicLTStd.ttf')  format('truetype'), /* Safari, Android, iOS */
           url('../fonts/TradeGothicLTStd.svg#baa2b4336bfeb9872a50f10bdb06e378') format('svg'); /* Legacy iOS */

      font-style:   normal;
      font-weight:  400;
    }

    @font-face {
      font-family: 'Trade Gothic Bold2';
      src: url('../fonts/TradeGothicLTStd-Bd2.eot'); /* IE9 Compat Modes */
      src: url('../fonts/TradeGothicLTStd-Bd2.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
           url('../fonts/TradeGothicLTStd-Bd2.woff') format('woff'), /* Modern Browsers */
           url('../fonts/TradeGothicLTStd-Bd2.ttf')  format('truetype'), /* Safari, Android, iOS */
           url('../fonts/TradeGothicLTStd-Bd2.svg#c50f5e2adada586b2efc070013296a0d') format('svg'); /* Legacy iOS */

      font-style:   normal;
      font-weight:  400;
    }

    @font-face {
      font-family: 'Trade Gothic Bold2 Oblique';
      src: url('../fonts/TradeGothicLTStd-Bd2Obl.eot'); /* IE9 Compat Modes */
      src: url('../fonts/TradeGothicLTStd-Bd2Obl.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
           url('../fonts/TradeGothicLTStd-Bd2Obl.woff') format('woff'), /* Modern Browsers */
           url('../fonts/TradeGothicLTStd-Bd2Obl.ttf')  format('truetype'), /* Safari, Android, iOS */
           url('../fonts/TradeGothicLTStd-Bd2Obl.svg#6a9c5ad3207a4055d749d5c2c79ef7cd') format('svg'); /* Legacy iOS */

      font-style:   normal;
      font-weight:  400;
    }

    @font-face {
      font-family: 'Trade Gothic Regular Oblique';
      src: url('../fonts/TradeGothicLTStd-Obl.eot'); /* IE9 Compat Modes */
      src: url('../fonts/TradeGothicLTStd-Obl.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
           url('../fonts/TradeGothicLTStd-Obl.woff') format('woff'), /* Modern Browsers */
           url('../fonts/TradeGothicLTStd-Obl.ttf')  format('truetype'), /* Safari, Android, iOS */
           url('../fonts/TradeGothicLTStd-Obl.svg#cb35112c9d85c27fd673d5a23d3f883c') format('svg'); /* Legacy iOS */

      font-style:   normal;
      font-weight:  400;
    }

    %trade-gothic {
        font-family: 'Trade Gothic Regular', $fallback-sans-serif;
        font-weight: normal !important;
        font-style: normal !important;

        em, i {
            font-family: 'Trade Gothic Regular Oblique', $fallback-sans-serif;

            strong, b {
                font-family: 'Trade Gothic Bold2 Oblique', $fallback-sans-serif;
            }

        }

        strong, b {
            font-family: 'Trade Gothic Bold2', $fallback-sans-serif;

            em, i {
                font-family: 'Trade Gothic Bold2 Oblique', $fallback-sans-serif;
            }

        }

    }

    %trade-gothic-bold {
        font-family: 'Trade Gothic Bold2', $fallback-sans-serif;
        font-weight: normal !important;
        font-style: normal !important;
    }

    @font-face {
        font-family: 'montserratregular';
        src: url('../fonts/montserrat-regular-webfont.eot');
        src: url('../fonts/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
             url('../fonts/montserrat-regular-webfont.woff2') format('woff2'),
             url('../fonts/montserrat-regular-webfont.woff') format('woff'),
             url('../fonts/montserrat-regular-webfont.ttf') format('truetype'),
             url('../fonts/montserrat-regular-webfont.svg#montserratregular') format('svg');
        font-weight: normal;
        font-style: normal;

    }

    @font-face {
        font-family: 'montserratbold';
        src: url('../fonts/montserrat-bold-webfont.eot');
        src: url('../fonts/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
             url('../fonts/montserrat-bold-webfont.woff2') format('woff2'),
             url('../fonts/montserrat-bold-webfont.woff') format('woff'),
             url('../fonts/montserrat-bold-webfont.ttf') format('truetype'),
             url('../fonts/montserrat-bold-webfont.svg#montserratbold') format('svg');
        font-weight: normal;
        font-style: normal;
    }

    %montserrat-regular {
        font-family: 'montserratregular';
        font-weight: normal !important;
        font-style: normal !important;
    }

    %montserrat-bold {
        font-family: 'montserratbold';
        font-weight: normal !important;
        font-style: normal !important;
    }

    body {
        @extend %trade-gothic;
        font-weight: 400;
    }
