
    .form-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: calc(100% - 160px);

        &__inner {
            width: 100%;
            max-width: 260px;

            &--full-width {
                max-width: none;
            }

        }

    }

    .form {

        &__group {
            margin-bottom: 12px;

            .form--large & {
                margin-bottom: 20px;

                &.form__group--checkbox {
                    margin-bottom: 40px;
                }

            }

            label {
                display: block;
                width: 100%;
                font-size: rem(13);
                color: $dc-grey-3;

                .form--large & {
                    font-size: rem(16);
                    margin-bottom: 4px;
                }

            }

            &--error {

                .form__input {
                    border-color: $dc-red;
                    border-bottom: none;
                    border-radius: 6px 6px 0 0;
                }

            }

            &__error-message {
                background-color: tint($dc-red, 80%);
                color: $dc-red;
                font-size: rem(15);
                padding: 10px 12px 5px;
                border: 1px solid $dc-red;
                border-top: none;
                border-radius: 0 0 6px 6px;
            }

        }

        &__input {
            width: 100%;
            font-size: rem(15);
            padding: 10px 12px 5px;
            border: 1px solid $dc-grey-2;
            border-radius: 6px;
            transition: all 0.3s ease;

            &:focus {
                outline: 0;
                border-color: $dc-dark-blue;
                background-color: $dc-grey-1;
            }

            .form--large & {
                font-size: rem(18);
                padding: 20px 18px 14px
            }

        }

        &__select {
            @extend %icon;
            @extend .icon-carret-down;
            position: relative;
            max-width: 400px;

            select {
                @include appearance(none);
                width: 100%;
                font-size: rem(15);
                padding: 10px 12px 5px;
                border: 1px solid $dc-grey-2;
                border-radius: 6px;
                transition: all 0.3s ease;
                background: #fff;

                .form--large & {
                    font-size: rem(18);
                    padding: 20px 18px 14px
                }

                &:active, &:focus {
                    outline: 0;
                    border-color: $dc-dark-blue;
                    background-color: $dc-grey-1;
                }

            }

            &:before {
                position: absolute;
                top: 45px; right: 16px;
                font-size: 16px;
                color: $dc-grey-2;
                pointer-events: none;
            }

            &__label {
                display: inline-block;
                vertical-align: middle;
                font-size: rem(13);
                margin-right: 10px;
            }

        }

        &__checkbox {

            input {
                display: none;

                + span {
                    display: inline-block;
                    vertical-align: middle;
                    width: 26px; height: 26px;
                    background-color: $dc-grey-1;
                    border: 1px solid $dc-grey-2;
                    border-radius: 13px;
                    transition: all 0.3s ease;
                    position: relative;
                    margin-right: 6px;
                    @extend %icon;
                    @extend .icon-tick;

                    &:before {
                        position: absolute;
                        top: 50%; left: 50%;
                        font-size: 14px;
                        margin: -7px 0 0 -7px;
                        color: #fff;
                        opacity: 0;
                        transition: all 0.3s ease;
                    }

                }

                &:checked {

                    + span {
                        background-color: $dc-blue;
                        border-color: $dc-blue;

                        &:before {
                            opacity: 1;
                        }

                    }

                }

            }

            label {
                font-size: rem(14);
                color: #000;
                cursor: pointer;
                @include user-select(none);
            }

        }

        &__submit {
            margin-top: 30px;
            text-align: center;

            .form--large & {
                text-align: left;
                margin-top: 60px;
            }

            .button {
                margin-bottom: 20px;
            }

            &__link {
                display: block;
                width: 100%;
                color: $dc-grey-3;
                font-size: rem(13);
                text-align: center;
                padding: 8px 0;
            }

        }

    }
