@font-face {
    font-family: 'Datacleanse';
    src: url('../fonts/datacleanse.eot?#iefix') format('embedded-opentype'),
         url('../fonts/datacleanse.woff') format('woff'),
         url('../fonts/datacleanse.ttf') format('truetype'),
         url('../fonts/datacleanse.svg#datacleanse') format('svg');
    font-weight: normal;
    font-style: normal;
}

%icon {
    position: relative;

    &:before {
    	font-family: 'Datacleanse';
    	speak: none;
    	font-style: normal;
    	font-weight: normal;
    	font-variant: normal;
    	text-transform: none;
    	line-height: 1;
    	-webkit-font-smoothing: antialiased;
    	-moz-osx-font-smoothing: grayscale;
    	text-indent: 0 !important;
    }

}

.icon {
    @extend %icon;
}

.icon-arrow-down:before { content: '\e000'; }
.icon-arrow-left:before { content: '\e001'; }
.icon-arrow-right:before { content: '\e002'; }
.icon-arrow-up:before { content: '\e003'; }
.icon-carret-down:before { content: '\e004'; }
.icon-carret-left:before { content: '\e005'; }
.icon-carret-right:before { content: '\e006'; }
.icon-carret-up:before { content: '\e007'; }
.icon-cross:before { content: '\e008'; }
.icon-gear:before { content: '\e009'; }
.icon-menu:before { content: '\e00a'; }
.icon-search:before { content: '\e00b'; }
.icon-tick:before { content: '\e00c'; }
.icon-user:before { content: '\e00d'; }
