
    .table {
        width: 100%;
        margin: 0;

        th, td {
            border: none;
            color: $dc-dark-blue;
            padding: 22px 20px 21px;
        }

        th {
            @extend %trade-gothic-bold;
            font-size: rem(15);
        }

        td {
            font-size: rem(14);
        }

        &__sub-link {
            display: inline-block;
            @extend %trade-gothic;
            margin-left: 10px;
            color: $dc-grey-3;

            a {
                color: $dc-grey-3;
                transition: all 0.3s ease;

                &:hover {
                    color: $dc-blue;
                }

            }

        }

        thead {
            border-bottom: 2px solid $dc-grey-2;
        }

        &--lined {

            tr + tr {
                border-top: 1px solid $dc-grey-2;
            }

        }

        &--striped {

            tbody tr:nth-child(odd) {
                background-color: $dc-grey-1;
            }

        }

        &--border-top {
            border-top: 1px solid $dc-grey-2;
        }

        &--stats {

            th, td {
                padding: 12px 0 9px;
            }

            th {
                font-size: rem(16);
                color: $dc-grey-3;
            }

            td {
                font-size: rem(19);

                span {
                    @extend %trade-gothic-bold;
                }

            }

            td {
                text-align: right;
            }

        }

    }
