
    body {
        background: $body-bg;
    }

    .incompatible {
        display: none;
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;
        background-color: $wb-blue;

        &__inner {
            position: absolute;
            top: 0; left: 0;
            width: 100%; height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &__text {
            text-align: center;
            font-size: rem(20);
            color: #fff;

            .title {
                font-size: rem(30);
            }

        }
    }

    .header {
        width: 100%;
        position: relative;

        @include media($to-medium) {
            padding-top: 0;
        }

        img {
            display: block;
            width: 100%;
        }

        &__inner {
            width: 100%;
            max-width: rem($container-width);
            margin: 0 auto;
            position: relative;
        }

        &__bg {
            width: 100%;
            background: url(../../images/header-bg.jpg) no-repeat center bottom/auto 250px $wb-blue;
            padding: 250px 0 0;

            @include media($to-xxlarge) {
                padding-top: 300px;
                background-size: auto 300px;
            }

            @include media($to-medium) {
                padding-top: 26.041666666666667%;
                background: url(../../images/header-bg.jpg) no-repeat center bottom/100% auto $wb-blue;
            }

        }

        &__top {
            background-color: $wb-blue-dark;

            @include media($from-medium) {
                width: 100%; height: 100px;
            }

            &__logo {
                position: absolute;
                top: 30px; left: 52px;
                width: 120px; height: 148px;
                background: url(../../images/bulldogs-logo.png) no-repeat center center/100% auto transparent;

                @include media($to-large) {
                    width: 80px; height: 99px;
                    top: 15px; left: 15px;
                }

                @include media($to-small) {
                    left: auto;
                    right: 15px;
                }

                a {
                    display: block;
                    width: 100%; height: 100%;
                    text-indent: -9999em;
                }
            }

            &__nav {
                width: 100%;
                padding: 20px 0 0;

                @include media($to-medium) {
                    padding: 0 0 0;
                    //padding: 0 0 0 120px;
                }

                @include media($to-small) {
                    display: none;
                }

                ul {
                    list-style: none;
                    margin: 0; padding: 0;
                    font-size: 0;
                    text-align: center;

                    li {
                        display: inline-block;

                        @include media($from-medium) {
                            &.hidden-desktop { display: none; }
                        }

                        @include media($to-medium) {
                            &.hidden-mobile { display: none; }
                        }

                        a {
                            @extend %roboto !optional;
                            display: block;
                            float: left;
                            font-size: rem(16);
                            text-transform: uppercase;
                            color: #fff;
                            font-weight: 700;
                            padding: 20px 25px;
                            transition: 0.3s all ease;

                            &:hover {
                                color: $wb-red;
                                text-decoration: none;
                            }

                        }

                        + li {
                            position: relative;
                            &:before {
                                content: '';
                                position: absolute;
                                top: 50%; left: 0;
                                width: 1px; height: 14px;
                                margin-top: -7px;
                                background-color: rgba(#fff, 0.35);
                            }
                        }

                    }

                }

            }

            &__social {
                position: absolute;
                top: 30px; right: 10px;
                list-style: none;
                margin: 0; padding: 0;
                font-size: 0;

                @include media($to-medium) {
                    top: 12px;
                    right: 5px;
                }

                li {
                    display: inline-block;

                    a {
                        display: block;
                        width: 51px; height: 37px;
                        background-position: center center;
                        background-size: 37px 37px;
                        background-repeat: no-repeat;
                        text-indent: -9999em;
                        padding: 0 7px;

                        &.instagram { background-image: url(../../images/social-instagram.png); }
                        &.twitter { background-image: url(../../images/social-twitter.png); }
                        &.facebook { background-image: url(../../images/social-facebook.png); }
                        &.youtube { background-image: url(../../images/social-youtube.png); }

                    }

                }

            }


        }

        &__bottom {
            position: absolute;
            top: 117px; left: 0;
            width: 100%;
        }

        @include media($to-medium) {
        }

        @include media($to-small) {
        }

    }


    .member-choice {
        width: 100%;
        padding: 72px 15px 95px;
        position: relative;

        @include media($to-medium) {
            padding: 58px 15px 38px;
        }

        &:after {
            content: '';
            position: absolute;
            bottom: 0; left: 50%;
            width: 70px; height: 70px;
            transform: rotate(-45deg) translateX(-51px);;
            background-color: #fff;
            z-index: 100;

            @include media($to-medium) {
                display: none;
            }
        }

        &__intro {
            @extend %inner !optional;
            max-width: 950px;
        }

        &__inner {
            @extend %inner !optional;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            font-size: rem(14);

            @include media($to-xlarge) {
                justify-content: center;
                padding: 0;
            }
        }

        &__tile {
            width: calc((100% - 60px) / 3);
            position: relative;
            margin: 0 0 30px;

            @include media($to-xlarge) {
                width: calc((100% - 60px) / 2);
                max-width: 370px;
                margin: 0 15px 30px;
            }

            @include media($to-medium) {
                width: 100%;
                margin: 0 0 30px;
            }

            &.no_scarf {
                pointer-events: none;
            }

            &:before {
                content: '';
                position: absolute;
                top: 0; left: 0;
                width: 100%; height: 100%;
                border: 4px solid transparent;
                pointer-events: none;
                transition: all 0.3s ease;
            }

            &[data-selected='true']:before {
                border-color: $wb-red;
            }

            &__overlay {
                position: absolute;
                top: 0; left: 0;
                width: 100%; height: 100%;
                cursor: pointer;
                z-index: 10;
            }

            &__image {
                width: 100%;
                padding-top: 67.567567567567568%;
                background: no-repeat center center/cover $wb-blue;

                &.cap { background-image: url(../../images/member-cap.jpg); }
                &.scarf { background-image: url(../../images/member-scarf.jpg); }
                &.beanie { background-image: url(../../images/member-beanie.jpg); }
                &.no_scarf { background-image: url(../../images/member-no_scarf.jpg); }
                &.donate_item { background-image: url(../../images/member-donate-item.jpg); }
                &.donate_pack { background-image: url(../../images/member-donate-pack.jpg); }
                &.donate_item_pack { background-image: url(../../images/member-donate-item-pack.jpg); }

            }

            &__bottom {
                width: 100%;
                background-color: $wb-blue;
                display: flex;
                justify-content: center;
                padding: 12px 20px;
                transition: all 0.3s ease;

                .member-choice__tile[data-selected='true'] & {
                    background-color: $wb-red;
                }

            }

            &__label {
                flex: 1;
                font-size: rem(29);
                font-weight: 700;
                color: #fff;
                text-align: center;
                padding: 0 20px 0 0;
            }

            &__checkbox {
                padding: 0 20px;

                &__inner {
                    width: 40px; height: 40px;
                    background-color: #fff;
                    border: 4px solid $wb-light-grey;
                    position: relative;

                    svg {
                        position: absolute;
                        top: -4px; left: -4px;
                        width: 40px; height: 40px;

                        polygon {
                            transition: all 0.3s ease;
                            fill: $wb-light-grey;

                            .member-choice__tile[data-selected='true'] & {
                                fill: $wb-red;
                            }

                        }

                    }

                }

            }

            &__qty {
                display: flex;

                &__number {
                    width: 40px; height: 40px;
                    background-color: #fff;
                    border: 4px solid $wb-light-grey;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: rem(30);
                    font-weight: 700;
                    color: $wb-blue;
                }

                &__button {
                    display: block;
                    width: 40px; height: 40px;
                    font-size: rem(20);
                    font-weight: 700;
                    color: #fff;
                    border: none;
                    background: none;
                    text-align: center;
                    position: relative;

                    svg {
                        position: absolute;
                        top: 50%; left: 50%;
                        width: 16px; height: 16px;
                        transform: translate(-50%, -50%);

                        path {
                            fill: #fff;
                        }

                    }

                    &:focus, &:active {
                        outline: 0;
                    }

                    &:disabled {
                        opacity: 0.25;
                    }

                }

            }

        }

        &__selections-remaining {
            font-size: rem(20);
            text-align: center;
            color: $wb-blue;
            padding: 20px 30px 0;

            span {
                display: inline-block;
                font-size: rem(30);
                font-weight: 700;
                color: $wb-red;
                padding: 0 4px;
                position: relative;
                top: 3px;
            }

        }

        p {
            text-align: center;
            margin: 0 0 30px;
            font-style: italic;

            span {
                font-weight: 700;
                color: $wb-red;
            }

        }

    }

    .add-ons {
        width: 100%;
        background-color: #f2f5fa;
        padding: 105px 15px 72px;
        position: relative;

        @include media($to-medium) {
            padding: 50px 15px 32px;
        }

        &:after {
            content: '';
            position: absolute;
            bottom: 0; left: 50%;
            width: 70px; height: 70px;
            transform: rotate(-45deg) translateX(-51px);;
            background-color: #f2f5fa;
            z-index: 100;

            @include media($to-medium) {
                display: none;
            }
        }

        &__inner {
            @extend %inner !optional;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            font-size: rem(14);

            @include media($to-xlarge) {
                justify-content: center;
                padding: 0;
            }

            &:after {
                content: '';
                width: calc((100% - 60px) / 3);
                height: 0;
            }

        }

        &__tile {
            width: calc((100% - 60px) / 3);
            margin: 0 0 30px;
            background-color: #fff;
            position: relative;
            display: flex;
            overflow: hidden;

            @include media($to-xlarge) {
                width: calc((100% - 60px) / 2);
                max-width: 370px;
                margin: 0 15px 30px;
            }

            @include media($to-medium) {
                width: 100%;
                margin: 0 0 30px;
            }

            &__overlay {
                position: absolute;
                top: 0; left: 0;
                width: 100%; height: 100%;
                cursor: pointer;
                z-index: 10;
            }

            &__inner {
                position: relative;
                padding: 0 0 80px;
                flex-grow: 1;

                &:before {
                    content: '';
                    position: absolute;
                    top: 0; left: 0;
                    width: 100%; height: 100%;
                    border: 4px solid transparent;
                    pointer-events: none;
                    transition: all 0.3s ease;
                    z-index: 10;

                    .add-ons__tile[data-selected='true'] & {
                        border-color: $wb-red;
                    }

                }

            }

            &__image {
                width: 100%;
                padding-top: 27.027027027027027%;
                background: no-repeat center center/100% auto $wb-blue;

                &.aflw-membership { background-image: url(../../images/addon-aflw-membership.jpg); }
                &.aflw-ambassador { background-image: url(../../images/addon-aflw-ambassador.jpg); }
                &.spray-jacket { background-image: url(../../images/addon-spray-jacket.jpg); }
                &.rugby-top { background-image: url(../../images/addon-rugby-top.jpg); }
                &.polo { background-image: url(../../images/addon-polo.jpg); }
                &.ballarat { background-image: url(../../images/addon-ballarat.jpg); }
                &.fightback { background-image: url(../../images/addon-fightback.jpg); }
                &.pet { background-image: url(../../images/addon-pet.jpg); }

            }

            &__desc {
                font-weight: 100;
                font-size: rem(16);
                line-height: 1.3125;
                padding: 16px 25px 0;
            }

            &__note {
                position: absolute;
                bottom: 22px; left: 24px;
                width: 90px;
                font-size: rem(13);
                font-style: italic;
                color: tint(#000, 40%);
            }

            &__options {
                position: absolute;
                bottom: 15px; right: 0;
                width: 100%;
                display: flex;
                justify-content: flex-end;
                padding-right: 14px;

                &__label {
                    transition: all 0.3s ease;
                    font-size: rem(26);
                    font-weight: 700;
                    color: $wb-blue;
                    pointer-events: none;

                    &__from {
                        display: inline-block;
                        font-size: 12px;
                        margin-right: 8px;
                    }

                    .add-ons__tile[data-selected='true'] & {
                        color: #fff;
                    }

                    em {
                        font-size: 14px;
                        font-style: normal;
                    }

                }

                &__select {
                    background-color: $wb-light-blue;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    transition: all 0.3s ease;
                    padding: 4px 12px 4px 15px;
                    position: relative;
                    z-index: 10;
                    cursor: pointer;

                    .add-ons__tile[data-selected='true'] & {
                        background-color: $wb-red;
                    }

                }

                &__checkbox {
                    margin-left: 10px;
                    margin-right: -7px;
                    pointer-events: none;

                    &__inner {
                        width: 40px; height: 40px;
                        background-color: #fff;
                        border: 4px solid $wb-light-grey;
                        position: relative;

                        svg {
                            position: absolute;
                            top: -4px; left: -4px;
                            width: 40px; height: 40px;

                            polygon {
                                transition: all 0.3s ease;
                                fill: $wb-light-grey;

                                .add-ons__tile[data-selected='true'] & {
                                    fill: $wb-red;
                                }

                            }

                        }

                    }

                }

                &__dropdown {
                    width: 120px;
                    background-color: $wb-blue;
                    z-index: 20;
                    display: flex;
                    position: relative;
                    margin-right: 4px;
                    cursor: pointer;

                    select {
                        display: block;
                        width: 100%; height: 100%;
                        @include appearance(none);
                        font-size: rem(18);
                        font-weight: 700;
                        text-transform: uppercase;
                        color: #fff;
                        background: none; border: none;
                        padding: 0 20px;

                        option {
                            color: #000;
                            text-align: left;
                            padding: 0;
                        }

                        &:focus, &:active {
                            outline: 0;
                        }

                    }

                    svg {
                        position: absolute;
                        top: 50%; right: 10px;
                        width: 18px; height: 10px;
                        transform: translateY(-50%);
                        pointer-events: none;

                        path {
                            fill: #fff;
                        }

                    }

                }

            }

        }

    }

    .main {
        background-color: $main-bg;

        &__inner {
            @extend %inner !optional;
        }

        h2 {
            @extend %roboto !optional;
            width: 100%;
            font-size: rem(36);
            font-weight: 700;
            line-height: 1.2;
            color: $wb-red;
            margin: 0 0 43px;
            text-align: center;

            @include media($to-medium) {
                font-size: rem(26);
            }

            @include media($to-small) {
                font-size: rem(22);

                br {
                    display: none;
                }
            }
        }

        h3 {
            @extend %roboto !optional;
            font-size: rem(18);
            width: 100%;
            text-align: center;
            margin: -24px 0 50px;
            text-transform: none;
            font-weight: normal;
            line-height: 1.2;

            @include media($to-small) {
                font-size: rem(16);
            }

            a {
                color: inherit;
            }

        }

    }

    .thanks {
        position: relative;
        margin: 40px 0 50px;
        text-align: center;

        &__inner {
            @extend %inner !optional;
            max-width: 800px;
        }

        &__logo {
            position: absolute;
            top: 0; left: 30px;
            width: 120px; height: 148px;
            background: url(../../images/bulldogs-logo-blue.png) no-repeat center center/100% auto transparent;

            a {
                display: block;
                width: 100%; height: 100%;
                text-indent: -9999em;
            }

            @include media($to-small) {
                display: none;
                // position: relative;
                // top: auto; left: auto;
                // display: block;
                // margin-bottom: 20px;
            }

        }

        &__title {
            font-size: rem(56);
            font-weight: 700;
            color: $wb-red;
            text-transform: uppercase;
            margin-bottom: 20px;
        }

        p {
            font-size: rem(18);
            line-height: 1.2;
            margin: 0 0 1.2em;
        }

        a {
            color: $wb-blue;

            &:hover {
                color: $wb-red;
                text-decoration: none !important;
            }

        }

    }

    .form {

        &__intro {
            font-family: $fallback-sans-serif;
            font-size: rem(19);
            margin-bottom: 30px;
            padding: 0 0 0 0;
            position: relative;
            color: #000;

            @include media($to-small) {
                padding: 0 0 30px 0;
            }

            &__greeting {
                font-size: rem(19);
                font-weight: bold;
                margin-bottom: 15px;
            }

            strong {
                //text-transform: uppercase;
            }

        }

        &__title {
            margin: 0 0 52px 0;

            h1 {
                width: 206px; height: 24px;
                text-indent: -9999em;
                margin: 0;
            }

        }

        &__group {
            margin-bottom: 14px;

            @include media($to-medium) {
                margin-bottom: 30px;
            }

            &--error {
                .form__group__label {
                    color: $label-error-color;
                    background-color: $label-error-bg;
                    padding-left: 10px;
                    .required { color: $label-error-color; }
                }
            }

            &__label {
                flex: 0 0 140px;
                font-size: rem(16);
                font-weight: bold;
                color: $label-color;
                text-transform: uppercase;
                text-align: right;
                line-height: 1;
                padding: 8px 12px 5px 0;
                margin-right: 19px;

                .required {
                    color: $red-color;
                }

                &[for='years_consecutive'] {
                    margin-top: -44px;

                    span {
                        font-size: rem(16);
                    }

                    @include media($to-medium) {
                        margin-top: 0;
                    }

                }

                @include media($to-medium) {
                    border: none;
                    margin-right: 0;
                }

            }

            &--select &__controls:after {
                color: #fff;
            }

        }

        &__control, &__select-label {
            font-family: $fallback-sans-serif;
            font-size: rem(16);
            color: $field-color;
            border-bottom: 2px solid $field-border-color;
            padding: 6px 0;
            transition: all 0.3s ease;
            @include placeholder { color: $field-placeholder-color; }

            &:focus {
                border-color: $field-focus-border-color;
            }

            &:disabled, &[readonly]:not(.datepicker-here) {
                opacity: 1;
                color: $field-disabled-color;
            }

            .form__group--error & {
                //border-color: $red-color;
            }

        }

        &__select-label {
            padding-top: 7px;
            padding-bottom: 6px;

            &--placeholder {
                color: rgba(#000, 0.25);
            }

        }

        &__submit {
            width: 100%;
            text-align: center;
            margin: 0 0 0;
            padding: 120px 0 84px;
            position: relative;

            @include media($to-medium) {
                padding: 58px 0 58px;
            }

            &__inner {
                @extend %inner !optional;
            }

            &__logo {
                position: absolute;
                top: 0; left: 30px;
                width: 120px; height: 148px;
                background: url(../../images/bulldogs-logo-blue.png) no-repeat center center/100% auto transparent;

                a {
                    display: block;
                    width: 100%; height: 100%;
                    text-indent: -9999em;
                }

                @include media($to-medium) {
                    display: none;
                }

            }

            &__accept {
                text-align: left;
                font-size: rem(16);
                line-height: 1.2;
                padding-left: 80px;
                position: relative;
                margin-bottom: 44px;

                a {
                    color: $wb-blue;
                    &:hover { color: $wb-red; }
                }

                @include media($to-medium) {
                    padding-left: 60px;
                    font-size: rem(14);
                }

                label {
                    position: absolute;
                    top: 0; left: 20px;
                    cursor: pointer;

                    @include media($to-medium) {
                        left: 0;
                    }
                }

                input {
                    position: absolute;
                    visibility: hidden;

                    + span {
                        display: block;
                        pointer-events: none;

                        .inner {
                            width: 40px; height: 40px;
                            background-color: #fff;
                            border: 4px solid $wb-medium-grey;
                            position: relative;
                            transition: all 0.3s ease;

                            svg {
                                position: absolute;
                                top: -4px; left: -4px;
                                width: 40px; height: 40px;

                                polygon {
                                    transition: all 0.3s ease;
                                    fill: $wb-light-grey;
                                }

                            }

                        }

                    }

                    &:checked {

                        + span {
                            
                            .inner {
                                border-color: $wb-blue;

                                svg {

                                    polygon {
                                        fill: $wb-blue;
                                    }

                                }

                            }
                        }

                    }

                }

            }

            &__button {
                display: inline-block;
                width: 100%;
                max-width: 390px;
                background: $wb-red;
                border: none;
                transition: 0.3s all ease;
                font-size: rem(53);
                font-weight: 700;
                color: #fff;
                text-transform: uppercase;
                text-align: center;
                padding: 19px 30px;
                margin: 0 10px;
                line-height: 1;

                @include media($to-medium) {
                    font-size: rem(30);
                }

                &:focus, &:active {
                    outline: 0;
                }

                &:hover {
                    background-color: $wb-blue;
                }

                &:disabled {
                    opacity: 0.25;
                }

            }

        }

        &__errors {
            padding: 30px 65px;
            background-color: $errors-bg;
            color: $errors-color;
            margin: 40px 0 40px;

            @include media($to-medium) {
                padding: 30px;
            }

            strong {
                font-size: rem(20);
            }

        }

    }

    .footer {
        font-size: rem(14);
        background-color: $wb-blue-dark;
        color: $footer-color;
        text-align: center;
        padding: 0;
        line-height: 1.2;

        img {
            display: block;
            width: 100%;
        }

        &__inner {
            @extend %inner !optional;
        }

        p {
            margin: 0 0 1.5em 0;
        }
        a {
            color: $footer-color;
            transition: all 0.3s ease;

            &:hover {
                color: $footer-color-hover;
                text-decoration: none !important;
            }

        }

        @include media($to-small) {
            padding-bottom: 42px;
        }

        &__sponsors {
            background-color: #fff;
            padding: 14px 0;
            text-align: center;
            border-top: 2px solid $wb-blue;

            &__lockup {
                width: 100%;
                padding-top: 17.094017094017094%;
                background: url(../../images/logo-lockup.jpg) no-repeat center center/100% auto transparent;

                @include media($to-medium) {
                    padding-top: 23.4375%;
                    background: url(../../images/logo-lockup--mobile.png) no-repeat center center/100% auto transparent;
                }

            }

        }

        &__disclaimer {
            background-color: $wb-blue-dark;
            color: #fff;
            text-align: center;
            padding: 44px 15px 0;

            p {
                font-size: rem(13);
                line-height: 1.5;
                margin: 0 0 1.2em;

                &:last-child {
                    margin-bottom: 0;
                }

            }

            a {
                color: #fff;
                font-weight: bold;

                &:hover {
                    color: $wb-red;
                }

            }

        }

        &__links {
            font-size: rem(13);
            width: 100%;
            background-color: $wb-blue-dark;
            font-weight: normal;
            color: #fff;
            text-align: center;
            padding: 40px 0;

            a {
                color: #fff;

                &:hover {
                    color: $wb-red;
                }

            }

            span {
                display: inline-block;
                margin: 0 18px;
                color: rgba(#fff, 0.3);
                @include media($to-small) {
                    display: none;
                }
            }

            .links {

                br {
                    display: none;
                    @include media($to-small) {
                        display: block;
                    }
                }

            }

        }

    }
