
    // colors
    $hawks-yellow: #ffc426;
	$hawks-brown: #572700;
    $afc-blue: #012b5b;
    $afc-red: #e82c2a;



    $primary-color: $hawks-yellow;
    $secondary-color: $afc-blue;
    $red-color: $afc-red;


    $container-width: 1200; // px
    $body-bg: #e0e0e0;
    $main-bg: #fff;
    $header-bg: url(../images/header-bg.jpg) no-repeat $primary-color;
    $footer-bg: #e0e0e0;
    $footer-color: #464646;
    $footer-color-hover: $primary-color;
    $label-color: #000;
    $label-error-color: #fff;
    $label-error-bg: $red-color;
    $field-color: $secondary-color;
    $field-placeholder-color: rgba($field-color, 0.50);
    $field-disabled-color: rgba($field-color, 0.50);
    $field-border-color: $secondary-color;
    $field-focus-border-color: #fff;
    $field-error-border-color: $red-color;
    $errors-bg: $red-color;
    $errors-color: #fff;

    // breakpoints
    $bp-xxxlarge: 1400px;
    $bp-xxlarge: 1200px;
	$bp-xlarge: 1080px;
	$bp-large: 880px;
	$bp-medium: 660px; // 760px
	$bp-small: 540px;
	$bp-xsmall: 440px;

    // global
    $edge-padding: 15px;

    %vertically-centered {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    %flex-grid {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-flow: row wrap;
    }
