
    .header {
        padding: 0px 70px;
		text-align: right;
		
		
		

        &__logo {
            display: inline-block;
            width: 100%;
            max-width: 685px;

            a, img {
                display: block;
                width: 100%;
            }

            @include media($to-medium) {
                max-width: 234px;
				margin-right: 10px;
            }

        }

        @include media($to-medium) {
            padding: 0;
        }

    }

    .thanks {
        padding: 0 0 82px;
        text-align: center;

        &__title {
            margin: 0 0 0px;
        }

        &__sub-title {
            margin: 0 0 30px;
			line-height: 1.25;
        }

        &__body {
            margin: 0 0 0;
        }

    }

    .footer {
        width: 100%;
        text-align: center;

        &__brand-banner {
            width: 100%;
			margin-top: 50px;
			padding: 0 20px;

            img {
                    display: inline-block;
					width: 100%;
					max-width: 335px;
            }

        }

        &__text {
            padding: 40px 100px 0;
            margin: 0 0 40px;

            @include media($to-medium) {
                padding: 20px 30px 0;
                margin: 0 0 20px;
            }

            p {
                line-height: 1.2;
                margin: 0 0 1.2em;

                &:last-child {
                    margin-bottom: 0;
                }

            }

        }

        &__links {
            margin: 0 0 40px;

            @include media($to-medium) {
                margin: 0 0 20px;
            }

            > li {
                display: inline-block;
                padding: 0 16px;

                @include media($to-medium) {
                    width: 100%;
                }

                a {
                    text-transform: uppercase;
                    color: inherit;
                }

                & + li {
                    border-left: 1px solid #000;

                    @include media($to-medium) {
                        border: none;
                    }

                }

            }

        }

        &__datacleanse {
            border-top: 2px solid #000;
            text-align: right;
            padding: 25px 0;

            @include media($to-xxlarge) {
                padding: 25px 30px;
            }

            @include media($to-medium) {
                text-align: center;
            }

            &__dc, &__mmr {
                display: inline-block;
                vertical-align: middle;

                svg {
                    display: block;
                    width: 100%;
                }

            }

            &__dc {
                width: 162px;
            }

            &__mmr {
                width: 64px;
            }

            span {
                display: inline-block;
                vertical-align: middle;
                width: 1px; height: 40px;
                margin: 0 12px;
            }

        }

    }


    // datepicker

    .datepicker--cell.-current-,
    .datepicker--day-name {
        color: $primary-color;
    }
