
    // colors
    $knights-blue: #0054a6;
    $knights-red: #e82c2a;

    $primary-color: $knights-blue;
    $secondary-color: $knights-red;
    $red-color: $knights-red;

    $container-width: 900; // px
    $body-bg: $primary-color;
    $main-bg: #fff;
    $header-bg: url(../images/header-bg.jpg) no-repeat right top/cover $primary-color;
    $footer-bg: $primary-color;
    $footer-color: #fff;
    $footer-color-hover: $secondary-color;
    $label-color: #000;
    $label-error-color: #fff;
    $label-error-bg: $red-color;
    $field-color: #000;
    $field-placeholder-color: rgba($field-color, 0.50);
    $field-disabled-color: rgba($field-color, 0.50);
    $field-border-color: $secondary-color;
    $field-focus-border-color: $primary-color;
    $field-error-border-color: $red-color;
    $errors-bg: $red-color;
    $errors-color: #fff;

    // global
    $edge-padding: 15px;

    %vertically-centered {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    %flex-grid {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-flow: row wrap;
    }
