
    .button {
       
        width: 100%;
        display: block;
        border: none;
        color: #000;
        font-size: rem(14) !important;
        font-weight: 400;
        line-height: 1;
        margin: 0;
        padding: 8px 22px;
        background: none;
        border: 1px solid #000;
        border-radius: 3px;
        float: right;

        &:hover {
            text-decoration: none !important;
        }

        &:active, &:focus {
            outline: 0 !important;
        }

        &--white {
            background-color: #fff;

            &:hover {
                background-color: #fff;
            }

        }

        &--icon {
            @extend %icon;
            padding-left: 50px;

            &:before {
                position: absolute;
                top: 50%; left: 18px;
                font-size: 14px;
                margin-top: -7px;
            }

            &--right {
                padding-left: 22px;
                padding-right: 50px;

                &:before {
                    left: auto;
                    right: 18px;
                }

            }

            &--large {

                &:before {
                    font-size: 36px;
                    margin-top: -18px;
                    left: 0;
                }

            }

        }

    }
