
    .form {
        width: 100%;

        &__inner {
            width: 100%;
            padding: 82px 95px 0;

            @include media($to-xxlarge) {
                padding: 60px 40px 0;
            }

            @include media($to-medium) {
                padding: 30px 15px 0;
            }

        }

        &__top {
            width: 100%;
            display: flex;
            flex-flow: row wrap;

            &__title {
                margin: 0 0 115px;
                flex: 1;

                @include media($to-medium) {
                    margin: 0 0 30px;
                    //flex: initial;
                }

                @include media($to-xsmall) {
                    flex: initial;
                }

            }

            &__prize {
                width: 330px;
                text-align: center;

                img {
                    display: inline-block;
                    width: 100%; max-width: 330px;
                }

                @include media($to-medium) {
                    //width: 100%;
                    width: 120px;
                    margin: 0 0 30px;
                }

                @include media($to-xsmall) {
                    //width: 100%;
                    margin: 0 auto 30px;
                }

            }

        }

        &__fields {
            width: calc(100% + 30px);
            margin: 0 -15px;
            display: flex;
            flex-flow: row wrap;
        }

        &__heading {
            width: 100%;
            padding: 0 15px;
            margin: 0 0 52px;

            @include media($to-medium) {
                margin: 0 0 30px;
            }

        }

        &__group {
            width: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-grow: 1;
            padding: 0 15px;
            margin: 0 0 34px;
            position: relative;

            &__border {
                transition: 0.3s all ease;
                position: absolute;
                bottom: 0; left: 15px;
                width: calc(100% - 30px); height: 1px;
                background-color: #000;
            }

            &__label {
                position: relative;
                padding: 0 10px 0 0;
                margin: 0 20px 0 0;

                .required {
                    position: absolute;
                    top: 0; right: 4px;
                    font-size: rem(12);
                }

                @include media($to-medium) {
                    width: 100% !important;
                    flex: initial !important;
                    text-align: left !important;
                    margin: 0 0 6px;
                }

            }

            &__controls {
                flex-grow: 1;

                &__label {
                    width: 100%;
                    float: left;
                }

            }

            &[data-width='half'] { width: 50%; }
            &[data-width='third'] { width: 33.33333%; }
            &[data-width='two-thirds'] { width: 66.666666%; }
            &[data-width='quarter'] { width: 25%; }
            &[data-width='three-quarters'] { width: 75%; }

            &--select {

                .form__group__controls {
                    //position: relative;

                    // &:after {
                    //     position: absolute;
                    //     pointer-events: none;
                    //     content: '\00276f';
                    //     top: 6px; right: 18px;
                    //     transform: rotate(90deg);
                    // }

                }

            }

            @include media($to-medium) {
                width: 100% !important;
                flex-flow: row wrap;
                margin: 0 0 20px;
            }

        }

        &__control, &__select-label {
            width: 100%;
            float: left;
            border: none;
            background: none;
            border-radius: 0;
            padding: 2px 0 8px;

            &:focus, &:active {
                outline: 0;
            }

            &:disabled, &[readonly]:not(.datepicker-here) {
                cursor: not-allowed;
                opacity: 0.6;
            }

            &--select {
                cursor: pointer;
            }

        }

        &__control--select {
            position: absolute;
            top: 0; left: 0;
            width: 100%; height: 100%;
            font-size: 14px;
            opacity: 0.001;
            @include appearance(none);
        }

        &__errors {
            width: 100%;
            background-color: $red-color;
            color: #fff;
            padding: 20px 70px 20px;

            @include media($to-medium) {
                padding: 20px 15px 20px;
            }

            p {
                line-height: 1.4;
                margin: 0;
            }

        }

        &__submit {
            width: 100%;
            text-align: center;
            padding: 62px 0 42px;

            @include media($to-medium) {
                padding: 20px 0 30px;
            }

            &__button {
                @include appearance(none);
                border: none; background: none;
                display: inline-block;
                transition: 0.3s all ease;
                line-height: 1;
                min-width: 350px;
                text-align: center;

                &:active, &:focus {
                    outline: 0;
                }

                @include media($to-medium) {
                    min-width: 200px;
                }

            }

        }

    }
