
    $fallback-sans-serif: Helvetica, Arial, "Lucida Grande", sans-serif;
    $fallback-serif: Georgia, Times, 'Times New Roman', serif;



@font-face {
    font-family: 'zamenhofsolid';
    src: url('../fonts/zamenhof-solid-webfont.woff2') format('woff2'),
         url('../fonts/zamenhof-solid-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



@font-face {
  font-family: 'HelveticaNeue-CondensedBlack';
  src: url('../fonts/HelveticaNeue-CondensedBlack.eot?#iefix') format('embedded-opentype'),  url('../fonts/HelveticaNeue-CondensedBlack.woff') format('woff'), url('../fonts/HelveticaNeue-CondensedBlack.ttf')  format('truetype'), url('../fonts/HelveticaNeue-CondensedBlack.svg#HelveticaNeue-CondensedBlack') format('svg');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'RobotoCondensed-Regular';
  src: url('../fonts/RobotoCondensed-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/RobotoCondensed-Regular.woff') format('woff'), url('../fonts/RobotoCondensed-Regular.ttf')  format('truetype'), url('../fonts/RobotoCondensed-Regular.svg#RobotoCondensed-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoCondensed-Bold';
  src: url('../fonts/RobotoCondensed-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/RobotoCondensed-Bold.woff') format('woff'), url('../fonts/RobotoCondensed-Bold.ttf')  format('truetype'), url('../fonts/RobotoCondensed-Bold.svg#RobotoCondensed-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
