@font-face {
  font-family: 'BigNoodleTitling';
  src: url('big_noodle_titling.eot'); /* IE9 Compat Modes */
  src: url('big_noodle_titling.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('big_noodle_titling.woff') format('woff'), /* Modern Browsers */
       url('big_noodle_titling.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('big_noodle_titling.svg#450ab03ba24b5555f90d646c7bc24441') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

