
.confirmed {
    h2 {
		@extend %header;

        font-size: 35px;
        padding: 0px 20px 20px 20px;
        max-width: 100%;

        @media (max-width: $screen-xs-max) {
            font-size: 25px;
            padding-left: 0 !important;
        }
    }

    p {
        color: $white;
        padding-left: 20px;

        @media (max-width: $screen-xs-max) {
            padding-left: 0;
        }
    }
}