
    * { @extend %border-box; }

    html, body {
        width: 100%; height: 100%;
    }

    body {
        font-size: 16px;
        line-height: 1.2;

        &.no-overflow {
            overflow: hidden;
        }

    }

    a:link, a:visited {
        text-decoration: none;
        &:hover { text-decoration: none; }
    }

    .body-wrap {
    	width: 100%; height: 100%;
        min-width: 760px;
    	overflow-x: hidden;
        padding: 0;

        @include media($to-medium) {
            overflow-x: visible;
        }

    }

    h1, h2, h3 {
    }
