
    .app-header {
        width: 100%; height: 80px;
        position: relative;
        padding: 27px 0 27px 36px;

        &__logo {
            display: block;
            width: 176px; height: 25px;
            background: url(../images/datacleanse-logo-light.svg) no-repeat center center transparent;
            background-size: 100% auto;

            a {
                @extend %block-a;
            }

        }

        &__buttons {
            position: absolute;
            top: 0; right: 0;
            text-align: right;
            font-size: 0;
        }

        &__user, &__settings {
            display: inline-block;
            width: 80px; height: 80px;
            border-left: 1px solid $dc-grey-2;
            transition: all 0.2s ease;

            &:hover {
                background-color: $dc-grey-1;
                box-shadow: inset 0 0 30px rgba(#000, 0.15);
            }

            &__button {
                @include appearance(none);
                border: none;
                background: none;
                display: block;
                width: 80px; height: 80px;
                text-indent: -9999em;
                position: relative;

                &:before {
                    position: absolute;
                    top: 50%; left: 50%;
                    font-size: 20px;
                    margin: -10px 0 0 -10px;
                    color: $dc-grey-3;
                }

                &:active, &:focus {
                    outline: 0;
                }

            }

        }

        &__user {

            .dropdown__list {
                border-right: none;
            }

        }

        &__nav-toggle {
            @extend %icon;
            @extend .icon-menu;
            position: absolute;
            top: 0; left: 0;
            width: 80px; height: 80px;
            text-indent: -9999em;
            background: #fff;
            border: none;
            border-right: 1px solid $dc-grey-2;

            &:before {
                position: absolute;
                top: 50%; left: 50%;
                font-size: 20px;
                margin: -10px 0 0 -10px;
                color: $dc-grey-3;
            }

            &:active, &:focus {
                outline: 0;
            }

            @include media($from-medium) {
                display: none;
            }

        }

        @include media($to-medium) {

            &--has-nav {
                padding: 27px 0 27px 116px;
            }

        }

    }

    .section-header {
        width: 100%;
        background-color: $dc-dark-blue;
        color: #fff;
        padding: 30px 36px;
        position: relative;

        &__title {
            @extend %montserrat-regular;
            font-size: rem(20);
            text-transform: uppercase;
            line-height: 1;
        }

        &__controls {
            position: absolute;
            top: 0; right: 0;
            font-size: 0;
            text-align: right;
            padding: 19px 38px;

            &__export {
                margin-left: 28px;
            }

        }

    }

    .main {
        display: flex;
        min-height: calc(100% - 80px - 80px - 124px);

        &__inner {
            padding: 10px 42px;
        }

        &__sidebar {
            width: 280px;
            flex: 0 0 280px;
        }

        &__body {
            width: 100%;
            max-width: 100%;
            overflow-x: auto;
            //padding-bottom: 160px;

            &__inner {
                padding: 30px 36px;

                &--grey {
                    background-color: rgba($dc-grey-1, 0.5);
                }

            }

            &__title {
                @extend %montserrat-regular;
                width: 100%;
                font-size: rem(15);
                text-transform: uppercase;
                color: $dc-dark-blue;
                border-bottom: 1px solid $dc-grey-2;
                background-color: $dc-grey-1;
                padding: 21px 20px 21px 36px;
                margin: 0;
            }

            &__sub-title {
                width: 100%;
                font-size: rem(14);
                color: $dc-grey-3;
                border-bottom: 1px solid $dc-grey-2;
                padding: 26px 0 24px;
                margin: 0;
                position: relative;

                &__button {
                    position: absolute;
                    top: 16px; right: 0;
                }

            }

        }

    }

    .sidebar {
        border-right: 1px solid $dc-grey-2;

        &__nav {

            &__link {
                border-bottom: 1px solid $dc-grey-2;
                position: relative;

                a {
                    @extend %montserrat-bold;
                    display: block;
                    font-size: rem(14);
                    text-transform: uppercase;
                    color: $dc-grey-3;
                    padding: 23px 35px 21px 35px;
                    transition: all 0.3s ease;
                    position: relative;
                    z-index: 10;

                    &:hover {
                        background-color: $dc-grey-1;
                        color: $dc-dark-blue;
                    }

                }

                &__expand {
                    @extend %icon;
                    @extend .icon-carret-down;
                    position: absolute;
                    top: 0; right: 0;
                    width: 40px; height: 60px;
                    z-index: 20;
                    transition: all 0.3s ease;
                    background: none;
                    border: none;

                    &:before {
                        position: absolute;
                        top: 50%; left: 50%;
                        font-size: 12px;
                        margin: -6px 0 0 -6px;
                        color: $dc-dark-blue;
                        transition: all 0.3s ease;

                        .sidebar__nav__link[data-open='true'] & {
                            transform: scaleY(-1);
                        }

                    }

                    &:hover {
                        background-color: $dc-grey-1;
                    }

                    &:active, &:focus {
                        outline: 0;
                    }

                }

                &:last-child {
                    border-bottom: none;
                }

                &--active {

                    > a {
                        color: $dc-dark-blue;
                        background-color: shade($dc-grey-1, 5%);
                    }

                }

            }

            &__sub-nav {
                height: 0;
                overflow: hidden;
                transition: all 0.8s cubic-bezier(.25,.25,0,1);

                .sidebar__nav__link[data-open='true'] & {
                    height: auto;
                }

                &__link {

                    a {
                        font-family: 'montserratregular';
                        padding: 23px 35px 21px 70px;
                    }

                    &--active a {
                        background-color: $dc-grey-1;
                        color: $dc-dark-blue;
                    }

                    &:first-child {
                        border-top: 1px solid $dc-grey-2;
                    }

                }

            }

        }

        @include media($to-medium) {
            position: fixed;
            top: 80px; left: 0;
            height: calc(100% - 80px);
            background-color: #fff;
            z-index: 999;
            transform: translateX(-280px);
            transition: all 0.8s cubic-bezier(.25,.25,0,1);
            border-top: 1px solid $dc-grey-2;

            body.nav-open & {
                transform: translateX(0px);
            }

        }

    }

    .app-footer {
        width: 100%;
        border-top: 1px solid $dc-grey-2;
        position: relative;
        padding: 46px 0 52px 36px;

        &__logo {
            display: block;
            width: 176px; height: 25px;
            background: url(../images/datacleanse-logo-dark.svg) no-repeat center center transparent;
            background-size: 100% auto;

            a {
                @extend %block-a;
            }

        }

        &__nav {
            position: absolute;
            top: 53px; right: 27px;

            &__list {
                font-size: 0;
            }

            &__link {
                display: inline-block;
                font-size: rem(14);
                line-height: 0.9;
                padding-top: 3px;

                a {
                    color: $dc-dark-blue;
                    transition: all 0.3s ease;
                    padding: 0 12px;

                    &:hover {
                        color: $dc-blue;
                    }

                }

                + li {
                    border-left: 1px solid $dc-dark-blue;
                }

            }

        }

    }
