
    $fallback-sans-serif: "HelveticaNeue-Condensed", "Helvetica Neue Condensed", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    $fallback-serif: Georgia, Times, 'Times New Roman', serif;

    %arial-narrow {
        font-family: 'Arial Narrow', $fallback-sans-serif;
    }

    body {
        @extend %arial-narrow;
    }
