
    // colors
    $syd-red: #e41d30;

    $primary-color: $syd-red;
    $secondary-color: #000;
    $red-color: $syd-red;

    $container-width: 900; // px
    $body-bg: #fff;
    $main-bg: none;
    $header-bg: none;
    $footer-bg: $primary-color;
    $footer-color: #fff;
    $footer-color-hover: #000;
    $label-color: #000;
    $label-error-color: #fff;
    $label-error-bg: $red-color;
    $field-color: #000;
    $field-placeholder-color: rgba($field-color, 0.50);
    $field-disabled-color: rgba($field-color, 0.50);
    $field-border-color: $primary-color;
    $field-focus-border-color: #000;
    $field-error-border-color: $red-color;
    $errors-bg: $red-color;
    $errors-color: #fff;

    // global
    $edge-padding: 15px;

    %vertically-centered {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    %flex-grid {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-flow: row wrap;
    }
