@font-face {
  font-family: 'FuturaStdLight';
  src: url('FuturaStd-Light.eot'); /* IE9 Compat Modes */
  src: url('FuturaStd-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('FuturaStd-Light.woff') format('woff'), /* Modern Browsers */
       url('FuturaStd-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('FuturaStd-Light.svg#d83a536671d160add994a83c5144bd9a') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'ZamenhofSolid';
  src: url('Zamenhof-Solid.eot'); /* IE9 Compat Modes */
  src: url('Zamenhof-Solid.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Zamenhof-Solid.woff') format('woff'), /* Modern Browsers */
       url('Zamenhof-Solid.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Zamenhof-Solid.svg#eb052fd3ba74bd51aa1384f0003b4a2f') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}
