@font-face {
  font-family: 'AntennaCondRegular';
  src: url('AntennaCond-Regular.eot?#iefix') format('embedded-opentype'),  url('AntennaCond-Regular.otf')  format('opentype'),
	     url('AntennaCond-Regular.woff') format('woff'), url('AntennaCond-Regular.ttf')  format('truetype'), url('AntennaCond-Regular.svg#AntennaCond-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AntennaCondBlack';
  src: url('AntennaCond-Black.eot?#iefix') format('embedded-opentype'),  url('AntennaCond-Black.otf')  format('opentype'),
	     url('AntennaCond-Black.woff') format('woff'), url('AntennaCond-Black.ttf')  format('truetype'), url('AntennaCond-Black.svg#AntennaCond-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}

