
    // colors
    $roosters-blue: #002d5b;
    $roosters-red: #e72e2f;
	$rabbitohs-green: #f1f1f2; 

    $primary-color: $rabbitohs-green;
    $secondary-color: $roosters-red;
    $red-color: $roosters-red;

    $container-width: 900; // px
    $body-bg: #012e4d;
    $main-bg: $primary-color;
    $header-bg: url(../images/header-bg.jpg) no-repeat 0 0 $primary-color;
    $footer-bg: #012e4d;
    $footer-color: #fff;
    $footer-color-hover: $secondary-color;
    $label-color: #0e7dab;
    $label-error-color: #fff;
    $label-error-bg: $red-color;
    $field-color: #000;
    $field-placeholder-color: rgba($field-color, 0.50);
    $field-disabled-color: rgba($field-color, 0.50);
    $field-border-color: #0d79a7;
    $field-focus-border-color: #091932;
    $field-error-border-color: $red-color;
    $errors-bg: $red-color;
    $errors-color: #fff;

    // global
    $edge-padding: 15px;

    %vertically-centered {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    %flex-grid {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-flow: row wrap;
    }
