@font-face {
  font-family: 'GothamBook';
  src: url('Gotham-Book.eot'); /* IE9 Compat Modes */
  src: url('Gotham-Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Gotham-Book.woff') format('woff'), /* Modern Browsers */
       url('Gotham-Book.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Gotham-Book.svg#7510147900d23fa3ad697e74bf146ea2') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Styling';
  src: url('Styling-Black-Italic.eot'); /* IE9 Compat Modes */
  src: url('Styling-Black-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Styling-Black-Italic.woff') format('woff'), /* Modern Browsers */
       url('Styling-Black-Italic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Styling-Black-Italic.svg#5af32995d224b9766d4f65a83a5855c3') format('svg'); /* Legacy iOS */

  font-style:   italic;
  font-weight:  400;
}
